<div class="text-center padding-0 width-400-px margin-left-right-auto color-bg-white">
    <form class="col-xs-12 col-md-12 padding-50 padding-bottom-30 color-bg-white" [formGroup]="form">
        <img src="assets/images/logo.png" alt="">
        <h3 class="font-weight-600 margin-bottom-20">Reset Password</h3>
        <p class="font-em-09 margin-bottom-20">Please enter you email address and we'll <br/> send you a link to reset your password.</p>
        <div *ngIf="error && error.key === 'success'">
            <p style="color: green;" [hidden]="!error.message">{{error.message}}</p>
        </div>
        <div *ngIf="error && error.key === 'email'">
            <p style="color: red;" [hidden]="!error.message">{{error.message}}</p>
        </div>
        <input id="email" type="email" formControlName="email" class="font-weight-600 form-control color-darkgray margin-bottom-10 height-40-px boxshadow-none width-100-p margin-bottom-20" style="border:1px solid #e9e9e9;" placeholder="Enter email address">
        <button type="submit" (click)="onClickSubmit(form.get('email').value);" class="form-control bg-blue color-text-white font-weight-600 font-px-16 height-40-px padding-top-7 border-none width-100-p" [disabled]="loading || !form.valid">Submit</button>
    </form>
    <div class="col-xs-12 col-md-12 padding-0 color-bg-white padding-top-15 padding-bottom-15" style="border-top: 1px solid #e9e9e9;">
        <p style="cursor:pointer;" class="color-gray margin-top-5">Back to <span class="color-blue" (click)="onClickSignIn();">Sign In</span></p>
    </div>
</div>