<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div *ngIf="loaded" style="margin-top: 150px;" class="modal-content text-center padding-0 width-400-px margin-left-right-auto color-bg-white">
        <div class="modal-content">
            <form class="col-xs-12 col-md-12 padding-50 padding-bottom-30 color-bg-white" [formGroup]="form">
                <button style="    position: absolute;right: 10px;top: 10px;" type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                <img src="assets/images/logo.png" alt="">
                <h3 class="font-weight-600 margin-bottom-20">Reset Password</h3>
                <p class="font-em-09 margin-bottom-20">Please enter new password</p>
                <input id="password" type="password" formControlName="password" class="font-weight-600 form-control color-darkgray margin-bottom-10 height-40-px boxshadow-none width-100-p margin-bottom-20" style="border:1px solid #e9e9e9;" placeholder="Enter New Password">
                <div style="float: left; margin-top: -10px" *ngIf="error">
                    <p style="color: red;" [hidden]="!error.message">{{error.message}}</p>
                </div>
                <button type="submit" (click)="reset(form.get('password').value);" class="form-control bg-blue color-text-white font-weight-600 font-px-16 height-40-px padding-top-7 border-none width-100-p" [disabled]="loading || !form.valid">Submit</button>
            </form>
        </div>
        <div class="col-xs-12 col-md-12 padding-0 color-bg-white padding-top-15 padding-bottom-15" style="border-top: 1px solid #e9e9e9;">
            <p class="color-gray margin-top-5">If you remember the password
                <span (click)="open()" style="cursor:pointer;" class="color-blue">Sign In</span></p>
        </div>
    </div>

</div>