<div>
  <div  class="swiper-container" [swiper]="config" [(index)]="index" (reachEnd)="onEndReached()" #swiper=ngxSwiper>
    <div class="swiper-wrapper">
      <div class="swiper-slide padding-10" *ngFor="let item of slides; let i = index">
        <div *ngIf="!extView" class="col-xs-12 col-md-12 padding-0" style="background-color:#F0F0F3; display:flex; justify-content:center; align-content:center; align-items:center; height:160px;">
           <div class="slide-image" [ngStyle]="{'background-image': 'url(' + item.media.fileName + ')'}" alt="offer">
           <img src="assets/images/icons/icon_close.png" style="position:absolute; top:8px; right:8px; z-index:1;" alt="">
         </div>


      </div>
      <div *ngIf="extView" class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow-7">

       <div class="col-md-12 col-xs-12 sub_div_image" [ngStyle]="{'background-image': 'url(' + item.media.fileName + ')'}" style="background-repeat:no-repeat; height:167px;"></div>

       <div class="col-md-12 col-xs-12 padding-top-10">
           <h5>{{item.description.length > 25 ? item.description.substr(0, 25) + '...' : item.description}}</h5>
           <p class="font-em-09 margin-bottom-5">
               {{item.prices.currencySymbol}}{{item.prices.price}}
               <span class="color-blue" style="text-decoration: line-through;" *ngIf="item.prices.priceWithoutDiscount">{{item.prices.currencySymbol}}{{item.prices.priceWithoutDiscount}}</span>
               for {{item.prices.time}} {{item.prices.timeUnitOfMeasure}}
           </p>
           <p class="font-em-09 color-mediumgray" *ngIf="item.location && item.location[0]">
               <span class="glyphicon glyphicon-map-marker"></span>
               {{item.location[0].city}}, {{item.location[0].state}}, {{getDistance(item.location[0].geoJson.coordinates)}}
           </p>
       </div>

       <div class="col-xs-12 col-md-12 sub_div_description">

           <div class="col-md-4 col-xs-4 padding-0 text-left">
               <img src="assets/images/p.png" alt="">
               <p class="display-inlineBlock color-mediumgray" style="font-size:12px;">234</p>
           </div>

           <div class="col-md-4 col-xs-4 padding-0 text-center">
               <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
               <p class="display-inlineBlock color-mediumgray" style="font-size:12px;">23</p>
           </div>

           <div class="col-md-4 col-xs-4 padding-0 text-right">
               <i class="fa fa-star color-mediumgray"></i>
               <p class="display-inlineBlock color-mediumgray" style="font-size:12px;">96%</p>
           </div>

       </div>

       <div id="service_detail_link" onclick="btn_menu_f(this)" class="cursor-pointer col-xs-12 col-md-12 padding-top-6 sub_div_footer" style="border-top:1px solid #e9e9e9;">

         <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
         <p class="display-inlineBlock color-mediumgray font-em-09">{{item.seller.firstName}} {{item.seller.lastName}}</p>
         <p class="display-inlineBlock p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>

       </div>

       </div>
    </div>

  </div>
  <div class="swiper-button-prev">
    <img class="clickable" src="assets/images/icons/slide_previous.png" alt="prev-slide">
  </div>
  <div class="swiper-button-next">
    <img class="clickable" src="assets/images/icons/slide_next.png" alt="next-slide">
  </div>
</div>
