@import '~swiper/dist/css/swiper.min.css';

#slides
{
  display: none;
}

.clickable {
  cursor: pointer;
}
.sebm-google-map-container {
  height: 400px;
}
.slidesjs-navigation
{
   background-repeat: no-repeat !important;
   background-size: contain;
   width:24px;
   height: 24px;
   position: absolute;
   top:50%;
}
.border-radius-12px {
  border-radius: 12px;
}
.square-bottom {
   border-bottom-right-radius: 0px!important;
   border-bottom-left-radius: 0px!important;
}
.swiper-button-prev,
.swiper-button-next {
  background-image: none!Important;
}
.slide-image {
 width: 100%;
 height: 100%;
 background-size: cover;

}
.request-image {
  width: 50px;
  height: 50px;
  background-size: cover;
}
.border {
  border: 1px solid #e4e4e4;
}
.border-right-none {
  border-right: none;
}
.border-left-none {
  border-left: none;
}
.border-top-none {
  border-top: none;
}
.border-bottom-none {
  border-bottom: none;
}
.border-rounded-left {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.border-rounded-right {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.placeholder-black::placeholder,
.placeholder-black::-ms-input-placeholder,
.placeholder-black::-ms-input-placeholder {
  color: black;
  opacity: 1;
}
.time-dropdown {
  width: 100%;
}
.no-outline {
  box-shadow: none!important;
  outline: none!important;
}
.slidesjs-next {
  background-image: url(assets/images/icons/slide_next.png) !important;
}

.slidesjs-previous
{
   background-image: url(assets/images/icons/slide_previous.png) !important;
}

.slidesjs-pagination {
  text-align: center !important;
  margin: 20px 0 0;
  float: right;
  list-style: none;
  position: absolute;
  right: 50%;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 2px;

}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(assets/images/icons/pagination_inactive.png);
  background-size: contain;
  background-position: 0 0;
  float: left;
  overflow: hidden;
  background-repeat: no-repeat !important;
}

.slidesjs-pagination li .active
{
  background-image: url(assets/images/icons/pagination_active2.png);
}

.dropdown_filter li
{
   padding-top:2px !important;
   padding-bottom:2px !important;
   padding-left:20px !important;
   padding-right:20px !important;
}

.dropdown_filter li a
{
   color: #484848 !important;
   font-size: 0.9em !important;
}

#new_offer li a
{
    color: #484848 !important;
}

#new_offer li
{
   padding-top:1px !important;
   padding-bottom:2px !important;
}

    /* calendar*/

    #dd_2
    {
        top:40px !important;
        left:-1px !important;
/*            max-width: 235px;*/
    }

    #dd_2 li
    {
/*            max-width: 235px;*/
    }

    #dd_2 li,#dd_2 a
    {
        font-size: 12px !important;
    }

    #dd_2 .week
    {
        display: none !important;
    }

    #dd_2 .days
    {
        margin-left:-77px !important;
        margin-top:10px !important;
    }

    .calendar .calendar-views .now
    {
        background-color: #00B4F1 !important;
    }

    .calendar .calendar-views .selected
    {
        color:#fff;
        background-color: rgba(0,180,241,0.5) !important;
    }

    .calendar-ct
    {
        width: 292px !important;
    }



   @media screen and (max-width:1300px)
    {
       input#top_menu_searchbox,#search_suggestions
       {
           width:360px !important;
       }

       #before_signin
       {
          margin-top: 3px !important;
       }

    }


    @media screen and (max-width:1200px)
    {

       #navbar1 .navbar-form>div
       {
           margin-right:0px !important;
       }

      span#top_menu_searchbox
      {
        width: 120px !important;
        right:0px !important;
      }

     span#top_menu_searchbox img
     {
       padding-left:10px !important;
     }

     #search_suggestions
     {
        width: 330px !important;
     }

    }


   @media screen and (max-width:1100px)
   {

       #navbar1 .navbar-right
       {
           margin-right:0px !important;
       }

       #navbar1_brand
       {
           padding-left:0px !important;
           padding-right:0px !important;
       }

       input#top_menu_searchbox,#search_suggestions
       {
           width:270px !important;
       }

   }


    #status_update
    {
        background-color: #fff !important;
        border-radius:10px;
        padding-top:20px;
        padding-bottom:20px;
    }

    #status_update li
    {
        display: inline-block !important;
        margin:2px;
    }

.search-helper {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 450px;
    background: #fff;
    z-index: 3;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    -webkit-box-shadow: 0px 2px 12px 0px rgba(128,128,128,0.38);
    -moz-box-shadow: 0px 2px 12px 0px rgba(128,128,128,0.38);
    box-shadow: 0px 2px 12px 0px rgba(128,128,128,0.38);
}
.search-helper-section-title {
  background: #f9f9f9;
  padding: 5px 15px;
}
.search-suggestion-item {
  padding: 5px 15px;
  cursor: pointer;
  transition: all .2s ease-out;
}
.search-suggestion-item:hover {
  background: #f9f9f9;
}
.search-suggestion-item i {
  float: right;
  color: #ccc;
  font-size: 20px;
}
/* .search-recent-categories .search-suggestion-item:last-child
.search-autosuggestions .search-suggestion-item:last-child {
    padding-bottom: 15px;
} */
