<div
  class="dropdown-menu padding-10 padding-bottom-20 time-dropdown"
  (clickOutside)="onClickOutside($event)"
  [delayClickOutsideInit]="true"
  [exclude]="'ng-select, .ng-option, .ng-control, .ng-value-container, .ng-overlay-container, .ng-overlay, .ng-option-label'"
  style="display:block"
  *ngIf="pickerOpen"
  [ngStyle]="{'height': timePickersOpen ? '360px' : '120px' }"
>
    <p class="color-text-black margin-0 border-none">{{timeVal}}</p>

    <h5 class="color-text-black font-weight-600">From - To</h5>
    <div class="col-xs-12 col-md-12 padding-0">
        <div class="col-xs-6 col-md-6 padding-5 padding-left-0">
          <ng-select
            id="time_from"
            [items]="timeOptions"
            placeholder="Time from..."
            (change)="handleFromTimeSelection($event)"
            (open)="timePickerOpen()"
            (close)="timePickerClose()"
          >
          </ng-select>
        </div>
        <div class="col-xs-6 col-md-6 padding-5 padding-left-0">
          <ng-select
            id="time_to"
            [items]="toTimeOptions"
            placeholder="Time to..."
            (change)="handleToTimeSelection($event)"
            (open)="timePickerOpen()"
            (close)="timePickerClose()"
          >
          </ng-select>
        </div>
    </div>
</div>
