    <div class="col-md-8 col-xs-12 live-offers">

       <div class="col-xs-12 col-md-12 padding-0">

        <div
          id="status_update"
          class="col-xs-12 col-md-12 div-white-box-shadow-6"
          style="border:1px solid #e4e4e4; border-top:0px; position:relative;"
          (click)="handleSearchInputClick(true)"
          [ngClass]="{'square-bottom': createRequestOpen }"
        >

         <div class="col-xs-12 col-md-12 padding-0 search-input-group">
               <div class="col-xs-8 col-md-8 padding-0">
                 <input
                 class="no-outline form-control color-gray margin-bottom-0 margin-top-5 border-none padding-left-0"
                 [(ngModel)]="requestBody.description"
                 (ngModelChange)="handleRequestSearchInput($event)"
                 placeholder="What do you need done ?">
              </div>
              <div class="col-xs-4 col-md-4">
                 <ul class="padding-0 margin-0 pull-right">
                    <li style="margin-top: 11px;"><img src="assets/images/icons/icon_camera2.png" alt=""></li>
                    <!-- <li><img src="assets/images/icons/icon_location2.png" alt=""></li>
                    <li><img src="assets/images/icons/icon_clock2.png" alt=""></li>
                    <li><img src="assets/images/icons/icon_dollar2.png" alt=""></li> -->
                 </ul>
              </div>
         </div>

       </div>
       <div
        *ngIf="createRequestOpen"
        class="color-bg-white col-xs-12 col-md-12 padding-0 div-white-box-shadow-6 border-radius-12px"
        style="border:1px solid #e4e4e4; border-top:1px solid #e4e4e4; z-index:1; border-top-right-radius: 0px; border-top-left-radius: 0px; z-index:2; position:absolute; top:80px; left:0px;">
            <div
             class="search-helper"
             *ngIf="searchHelperOpen"
             [delayClickOutsideInit]="true"
             [exclude]="'.search-input-group'"
             (clickOutside)="clickOutsideSearch($event)"
            >
               <div class="search-recent-offers" *ngIf="!suggestionMode">
                 <div class="search-helper-section-title">Request again</div>
                 <div
                  class="search-suggestion-item"
                  *ngFor="let item of recentOffers"
                  (click)="handleSuggestion(item)"
                  >
                  {{item.label}}
                  <i class="fa fa-angle-right suggestion-arrow"></i>
                 </div>
               </div>
               <div class="search-recent-categories" *ngIf="!suggestionMode">
                 <div class="search-helper-section-title">Popular needs</div>
                 <div
                  class="search-suggestion-item"
                  *ngFor="let item of recentCategories; let i = index;"
                  (click)="handleSuggestion(item)"
                  [ngStyle]="{'padding-bottom': i === recentCategories.length - 1 ? '15px' : '5px'}"
                  >
                  {{item.label}}
                  <i class="fa fa-angle-right suggestion-arrow"></i>
                 </div>
               </div>
               <div class="search-autosuggestions" *ngIf="suggestionMode">
                 <div class="search-helper-section-title">Test</div>
                 <div
                  class="search-suggestion-item"
                  *ngFor="let item of searchSuggestions; let i = index;"
                  (click)="handleSuggestion(item)"
                  [ngStyle]="{'padding-bottom': i === searchSuggestions.length - 1 ? '15px' : '5px'}"
                  >
                  {{item.label}}
                  <i class="fa fa-angle-right suggestion-arrow"></i>
                 </div>
               </div>
           </div>

           <div class="col-xs-12 col-md-12">
               <ul class="padding-0 margin-0 margin-top-15 margin-bottom-15 padding-0">
                   <li><a class="color-text-black font-weight-600">Request Again</a></li>
                   <li *ngIf="suggestedOffers && suggestedOffers.docs && suggestedOffers.docs[0]"><a class="color-darkgray">{{suggestedOffers.docs[0]['description']}}</a></li>
                   <li *ngIf="suggestedOffers && suggestedOffers.docs && suggestedOffers.docs[1]"><a class="color-darkgray">{{suggestedOffers.docs[1]['description']}}</a></li>
               </ul>
           </div>

          <div class="col-xs-12 col-md-12 padding-20 padding-top-0 padding-left-10 padding-right-10" style="relative;" *ngIf="suggestedOffers">

              <live-offers-slider
                [slides]="suggestedOffers.docs"
                [loadMore]="loadSuggestedOffers"
                [slidesPerView]="3"
                [extView]="false"
                [user]="user"
              >
              </live-offers-slider>

         </div>

         <div class="col-xs-12 col-md-12 padding-0 margin-top-20">
            <div class="col-xs-12 col-md-12 padding-0">

                <div class="col-xs-6 col-md-6 bg-F0F0F3 padding-top-10 padding-bottom-10">
                    <p class="color-gray font-weight-600 margin-0">Schedule Date</p>


                    <!-- <input id="schedule_date_2" type="text" class="form-control boxshadow-none height-40-px padding-top-10 padding-left-15" value="12/05/2017">
                    <i class="fa fa-caret-down pull-right color-mediumgray padding-4 padding-right-10 color-bg-white" style="position:absolute; right:5px; top: 8px; font-size: 18px;"></i>

                      <div id="dd_next_2" class="display-none color-bg-white padding-top-20" style="position:absolute; top:330px !important; left:-1px !important; z-index:999; width:292px; height:60px; border:1px solid #e4e4e4; border-top:0px;">
                             <li id="li_addService" onclick="" class="display-inlineBlock pull-right">
                                 <a class="text-uppercase margin-top-40 color-blue font-px-12 font-weight-600 padding-6 padding-left-20 padding-right-20" style="border-radius:15px; color:#00B4F1 !important;">OK</a>
                             </li>

                             <li onclick="btn_menu_f(this);" id="li_cancel" class="display-inlineBlock pull-right">
                                 <a class="margin-top-40 font-px-12 font-weight-600 color-darkgray text-uppercase">Cancel</a>
                             </li>
                      </div> -->
                </div>

                <div class="col-xs-6 col-md-6 padding-top-10 padding-bottom-10">
                    <p class="color-gray font-weight-600 margin-0">Time</p>
                    <!-- <input type="text" class="form-control dropdown-toggle boxshadow-none" data-toggle="dropdown" value="08:00am - 10:00pm"> -->

                </div>
            </div>
            <div class="col-xs-12 col-md-12">
              <div class="col-xs-6 col-md-6 border border-right-none border-rounded-left">
                  <input
                    type="text"
                    class="form-control border-none boxshadow-none height-40-px"
                    placeholder="Date..."
                    value="{{moment(date).format('DD/MM/YYYY')}}"
                    (click)="toggleDatePicker(true)"
                  >
              </div>
              <div class="col-xs-6 col-md-6 border border-rounded-right">
                  <input type="text"
                    class="form-control border-none boxshadow-none height-40-px"
                    value="{{timeDisplayValue}}"
                    placeholder="Time..."
                    (click)="toggleTimePicker(true)"
                  >
                  <live-offers-timepicker
                    [pickerOpen]="timePickerOpen"
                    [togglePicker]="toggleTimePicker"
                    (onToTimeValueChange)="handleTimeValueChange('to', $event)"
                    (onFromTimeValueChange)="handleTimeValueChange('from', $event)"
                  >
                  </live-offers-timepicker>

              </div>
            </div>
            <div class="col-xs-12 col-md-12 padding-0">
              <ng-datepicker [(ngModel)]="date" [headless]="false" [isOpened]="datePickerOpen" [position]="'bottom-left'"></ng-datepicker>
              <div class="col-xs-6 col-md-6 padding-top-10 padding-bottom-10">
                  <p class="color-gray font-weight-600 margin-0">Price Range</p>
              </div>
              <div class="col-xs-6 col-md-6 padding-top-10 padding-bottom-10">
                  <p class="color-gray font-weight-600 margin-0">Location</p>
              </div>
            </div>
            <div class="col-xs-12 col-md-12">
              <div class="col-xs-6 col-md-6 padding-0">
                <div class="col-xs-6 col-md-6 border border-right-none border-rounded-left">
                  <div class="col-xs-4 col-md-4 padding-0">
                      <p class="color-gray margin-0 margin-top-10 padding-0" style="vertical-align:middle;">From</p>
                  </div>
                  <div class="col-xs-8 col-md-8 padding-0">
                      <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control border-none boxshadow-none height-40-px color-text-black" placeholder="$10.00" [(ngModel)]="requestBody.minPrice">
                  </div>
                </div>
                <div class="col-xs-6 col-md-6 border">
                  <div class="col-xs-4 col-md-4 padding-0">
                       <p class="color-gray margin-0 margin-top-10 padding-0">To</p>
                   </div>
                   <div class="col-xs-8 col-md-8 padding-0">
                       <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control border-none boxshadow-none height-40-px color-text-black" placeholder="$10.00" [(ngModel)]="requestBody.maxPrice">
                   </div>
                </div>

              </div>
              <div class="col-xs-6 col-md-6 border border-left-none border-rounded-right">
                  <input type="text" class="form-control placeholder-black border-none boxshadow-none height-40-px color-text-black" placeholder="Type Location">

                  <!-- <div id="search_locationSuggestions" class="hidden dropdown-content-2 div-white-box-shadow color-bg-white padding-15 padding-left-25" style="position:absolute; border:1px solid #e4e4e4; border-radius:5px; width:100%; z-index:999; border-top-right-radius:0px; border-top-left-radius:0px; border-top:0px; margin-top:-2px; position:absolute; right: 0px; top: 41px;">
                     <ul class="padding-0">
                          <li class="text-left padding-top-3 padding-bottom-3 color-blue font-weight-600 font-px-12">
                          <img src="assets/images/icons/location_icon.png" style="margin-top:-2px" alt="">
                          Current Location
                          </li>
                          <li class="text-left padding-top-3 padding-bottom-3 margin-top-5 color-gray font-em-09">Chicago, IL</li>
                          <li class="text-left padding-top-3 padding-bottom-3 margin-top-5 color-gray font-em-09">Chicagoland, IL</li>
                          <li class="text-left padding-top-3 padding-bottom-3 margin-top-5 color-gray font-em-09">Chicago Union Station</li>
                      </ul>
                </div> -->
              </div>
            </div>

         </div>

         <div class="col-xs-12 col-md-12 padding-top-20 padding-bottom-20">
            <li id="li_addService" onclick="" class="display-inlineBlock pull-right">
                <a
                  class="text-uppercase margin-top-40 bg-blue
                 font-px-14 font-weight-600 padding-6 padding-left-20 padding-right-20 color-text-white"
                 (click)="createRequest()"
                 style="border-radius:15px; color:#fff !important;">Request</a>
            </li>

            <li id="li_cancel" class="display-inlineBlock pull-right margin-right-20"
              (click)="toggleCreateRequest(false)"
            >
                <a class="margin-top-40 font-px-14 font-weight-600 color-darkgray text-uppercase">Cancel</a>
            </li>
         </div>

       </div>

       <div class="col-xs-12 col-md-12 margin-top-20 padding-0">
            <h4 class="font-weight-600">Suggested Services</h4>
         </div>


         <div class="col-xs-12 col-md-12 padding-0 margin-top-20">

                  <!-- <img src="images/icons/slide_previous.png" style="position:absolute; top:42%; left:20px; z-index:1;" alt="">
                  <img src="images/icons/slide_next.png" style="position:absolute; top:42%; right:20px; z-index:1;" alt=""> -->

           <div class="col-xs-1 col-md-1">

           </div>

            <div class="col-xs-10 col-md-10 padding-0">

               <div id="liveoffers_slides" class="col-xs-12 col-md-12 padding-0">

                    <live-offers-slider
                      [slidesPerView]="2"
                      [slides]="suggestedOffers && suggestedOffers.docs"
                      [loadMore]="loadSuggestedOffers"
                      [extView]="true"
                      [user]="user"
                    >
                    </live-offers-slider>

                </div>

                <div class="clearfix"></div>

            </div>

            <div class="col-xs-1 col-md-1"></div>

         </div>

       </div>


       <div class="col-xs-12 col-md-12 padding-0">

          <div class="col-xs-12 col-md-12 margin-top-20 padding-0">
             <div class="col-xs-9 col-md-9 padding-0">
                 <h4 class="font-weight-600">Incoming Offers</h4>
             </div>
              <div class="col-xs-3 col-md-3 padding-0 dropdown">
                    <img class="pull-right dropdown-toggle" src="assets/images/icons/icon_filter.png" alt="" data-toggle="dropdown">
                    <div class="dropdown-menu dropdown_filter border-none div-white-box-shadow-1" style="">
                      <ul class="padding-0 margin-0">
                          <li><a href=""></a></li>
                          <li><a href="">Sort by price</a></li>
                          <li><a href="">Sort by distance</a></li>
                          <li><a href="">Sort by new</a></li>
                          <li><a href=""></a></li>
                      </ul>
                    </div>
               </div>
          </div>

          <div class="col-xs-12 col-md-12 padding-0">

              <div class="col-xs-12 col-md-12 padding-15 color-bg-white div-white-box-shadow-7" style="border-radius:5px;">
                  <div class="col-xs-7 col-md-7 padding-0">
                       <div class="display-inlineBlock width-15-px height-15-px bg-blue border-radius-50p padding-top-1 margin-right-5">
                          <p class="color-text-white font-em-08 text-center">1</p>
                       </div>
                       <div style="position:relative;" class="display-inlineBlock text-center margin-right-10">
                            <img src="assets/images/liveoffers_profileimage.png" alt="" style="margin-left:auto; margin-right:auto;" width="44px" height="44px">
                            <img src="assets/images/icons/online@2x.png" style="position:absolute; bottom:-6px; right:38%;" width="12px" height="12px" alt="">
                      </div>
                      <div class="display-inlineBlock" style="vertical-align:middle;">
                           <span>
                               <p class="color-darkgray font-em-09 margin-0">Emilia Handerson</p>
                               <p class="color-mediumgray font-em-08 margin-0">Walk dogs, Dog care </p>
                           </span>
                      </div>
                  </div>
                  <div class="col-xs-5 col-md-5 padding-left-0">
                    <div class="display-inlineBock pull-right margin-top-10">
                        <span class="margin-right-25">
                            <img src="assets/images/icons/icon_clock.png" width="14px" height="14px" alt="">
                            <p class="text-uppercase color-gray font-em-08 display-inlineBlock">Now</p>
                        </span>
                        <span>
                             <p class="text-uppercase color-blue font-px-14 font-weight-600 display-inlineBlock margin-right-10">$10</p>
                             <i class="fa fa-angle-right color-gray font-px-18"></i>
                        </span>
                    </div>
                  </div>
              </div>


              <div class="col-xs-12 col-md-12 padding-15 color-bg-white margin-top-15 div-white-box-shadow-7" style="border-radius:5px;">
                  <div class="col-xs-7 col-md-7 padding-0">
                       <div class="display-inlineBlock width-15-px height-15-px bg-blue border-radius-50p padding-top-1 margin-right-5">
                          <p class="color-text-white font-em-08 text-center">1</p>
                       </div>
                       <div style="position:relative;" class="display-inlineBlock text-center margin-right-10">
                            <img src="assets/images/liveoffers_profileimage.png" alt="" style="margin-left:auto; margin-right:auto;" width="44px" height="44px">
                            <img src="assets/images/icons/online@2x.png" style="position:absolute; bottom:-6px; right:38%;" width="12px" height="12px" alt="">
                      </div>
                      <div class="display-inlineBlock" style="vertical-align:middle;">
                           <span>
                               <p class="color-darkgray font-em-09 margin-0">Emilia Handerson</p>
                               <p class="color-mediumgray font-em-08 margin-0">Walk dogs, Dog care </p>
                           </span>
                      </div>
                  </div>
                  <div class="col-xs-5 col-md-5 padding-left-0">
                    <div class="display-inlineBock pull-right margin-top-10">
                        <span class="margin-right-25">
                            <img src="assets/images/icons/icon_clock.png" width="14px" height="14px" alt="">
                            <p class="text-uppercase color-gray font-em-08 display-inlineBlock">Now</p>
                        </span>
                        <span>
                             <p class="text-uppercase color-blue font-px-14 font-weight-600 display-inlineBlock margin-right-10">$10</p>
                             <i class="fa fa-angle-right color-gray font-px-18"></i>
                        </span>
                    </div>
                  </div>
              </div>


              <div class="col-xs-12 col-md-12 padding-15 color-bg-white margin-top-15 div-white-box-shadow-7" style="border-radius:5px;">
                  <div class="col-xs-7 col-md-7 padding-0">
                       <div class="display-inlineBlock width-15-px height-15-px bg-blue border-radius-50p padding-top-1 margin-right-5">
                          <p class="color-text-white font-em-08 text-center">1</p>
                       </div>
                       <div style="position:relative;" class="display-inlineBlock text-center margin-right-10">
                            <img src="assets/images/liveoffers_profileimage.png" alt="" style="margin-left:auto; margin-right:auto;" width="44px" height="44px">
                            <img src="assets/images/icons/online@2x.png" style="position:absolute; bottom:-6px; right:38%;" width="12px" height="12px" alt="">
                      </div>
                      <div class="display-inlineBlock" style="vertical-align:middle;">
                           <span>
                               <p class="color-darkgray font-em-09 margin-0">Emilia Handerson</p>
                               <p class="color-mediumgray font-em-08 margin-0">Walk dogs, Dog care </p>
                           </span>
                      </div>
                  </div>
                  <div class="col-xs-5 col-md-5 padding-left-0">
                    <div class="display-inlineBock pull-right margin-top-10">
                        <span class="margin-right-25">
                            <img src="assets/images/icons/icon_clock.png" width="14px" height="14px" alt="">
                            <p class="text-uppercase color-gray font-em-08 display-inlineBlock">Now</p>
                        </span>
                        <span>
                             <p class="text-uppercase color-blue font-px-14 font-weight-600 display-inlineBlock margin-right-10">$10</p>
                             <i class="fa fa-angle-right color-gray font-px-18"></i>
                        </span>
                    </div>
                  </div>
              </div>

          </div>
       </div>

    </div>

    <div class="col-md-4 col-xs-12">

       <div class="col-xs-12 col-md-12 padding-0">
           <div class="col-xs-12 col-md-12 color-bg-white padding-15 div-white-box-shadow-6"
                style="border-radius:5px; border:1px solid #eaeaea;"
                *ngIf="request"
           >
               <div class="col-xs-12 col-md-12 padding-0 padding-bottom-10">
               <h4 class="display-inlineBlock font-weight-600 margin-0">Request</h4>
               <i class="fa fa-angle-right color-mediumgray font-weight-600 pull-right" style="font-size:18px"></i>
           </div>
           <div class="col-xs-12 col-md-12 padding-top-20 padding-0" style="border-top:1px solid #e4e4e4;">
               <div class="col-xs-9 col-md-9 padding-left-0">
                   <p class="font-em-09">{{request.description}}</p>
                   <p class="font-px-12 margin-bottom-5">{{request.currencyCode}}{{request.minPrice}} - {{request.currencyCode}}{{request.maxPrice}}</p>
                   <p class="font-px-12 margin-bottom-5">On {{moment(request.createdAt).format('MM/DD')}}, 8PM - 9PM</p>
                   <p class="font-px-12 margin-bottom-5" *ngIf="request.location">
                   <img src="assets/images/icons/icon_location.png" class="width-15-px height-15-px" alt="">
                   {{request.location.city}}, {{request.location.state}}, {{getDistance(request.location.geoJson.coordinates)}}
                   </p>
               </div>
               <div class="col-xs-3 col-md-3 padding-0" *ngIf="request.media && request.media.length > 0">
                   <div [ngStyle]="{'background-image': 'url(' + (!requestImageErr ? request.media[0].fileName : 'assets/images/placeholder-img.png') + ')'}" class="border-radius-50p pull-right request-image" alt=""></div>
                   <img style="display: none;" src="{{request.media[0].fileName}}" (error)="handleImageErr()">
               </div>

               <div class="col-xs-12 col-md-12 padding-0 margin-top-20">
                   <div class="col-xs-6 col-md-6 padding-0">
                       <p class="font-em-09 color-darkgray pull-left margin-0" *ngIf="request.media && request.media.length > 0">
                          {{request.media.length}} Photo{{request.media.length > 1 ? 's' : ''}} attached
                       </p>
                   </div>
                   <div class="col-xs-6 col-md-6 padding-0">
                       <p class="font-em-09 color-blue pull-right margin-0">
                          Expires On 11/19
                       </p>
                   </div>
               </div>
           </div>
           </div>
       </div>


       <div class="col-xs-12 col-md-12 padding-0 margin-top-20">
            <div class="col-xs-12 col-md-12 padding-0" style="position:relative;">
              <agm-map
               #map
               [latitude]="40.848447"
               [longitude]="-73.856077"
               [zoom]="10"
               [panControl]="true"
               [zoomControl]="true"
               [styles]="mapStyle"
               >
             </agm-map>
            </div>
       </div>

    </div>
