<div id="index_main" class="col-xs-12 col-md-12 padding-0 padding-bottom-60" style="background-color:rgb(249,249,249)">
    <div class="col-md-offset-1 col-xs-12 col-md-11 padding-0 padding-top-40 padding-bottom-200"
    style="margin-left: 0">

        <app-buy-sidebar class="hidden-xs" [selectedTab]="tab"></app-buy-sidebar>
        <app-buy-orders *ngIf="tab=='orders'"></app-buy-orders>
        <app-buy-offers *ngIf="tab=='offers'"></app-buy-offers>
        <app-buy-likes *ngIf="tab=='likes'"></app-buy-likes>
        <app-buy-request *ngIf="tab=='request'"></app-buy-request>
        <app-buy-watching *ngIf="tab=='watching'"></app-buy-watching>
    </div>
</div>
