<div class="col-xs-12 col-md-12 padding-20 color-bg-white padding-right-10" style="border-top-right-radius:3px; border-top-left-radius:3px; border:1px solid #e4e4e4; border-top:0px;">
  <div class="col-xs-3 col-md-1 padding-0">
    <img src="assets/images/imagessss.png" alt="" class="width-40-px height-40-px border-radius-50p">
  </div>
  <div class="col-xs-9 col-md-11 padding-0">
    <div class="col-xs-12 col-md-12 padding-0">
      <div class="col-xs-3 col-md-4">
        <p class="color-darkgray font-em-13 margin-bottom-0">Peter Holms</p>
        <p class="color-gray font-em-11">{{data.createdAt}}</p>
      </div>
      <div class="col-xs-6 col-md-8">
        <p class="pull-right">
          <span class="color-gray">Buy again</span>
          <span class="color-blue margin-left-3">
            {{data.willingToBuyServiceAgain}}
          <img src="assets/images/icons/online.png" alt="">
          </span>
        </p>
        <p class="pull-right margin-left-20 margin-right-20">
          <span class="color-gray">On time</span>
          <span class="color-blue margin-left-3">
          <img src="assets/images/icons/online.png" alt="">
          </span>
        </p>
        <p class="pull-right">
          <span class="color-gray">Quality</span>
          <span class="color-blue margin-left-3">{{data.qualityOfService}}</span>
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-md-12">
      <span style="position:relative; vertical-align:sub;">
      <img src="assets/images/icons/blue.png" alt="">
      <span class="font-weight-600 color-text-white" style="position:absolute; top:-6px; right:10px;">{{data.overallRating}}%</span>
      </span>
      <p class="color-darkgray font-em-11 display-inlineBlock">{{data.comment}}</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-12 padding-20 color-bg-white" style="border-top-right-radius:3px; border-top-left-radius:3px; border:1px solid #e4e4e4; border-top:0px;">
  <p class="color-blue font-weight-600 margin-bottom-0">View 12 more reviews</p>
</div>
