<div id="index_main" class="col-xs-12 col-md-12 padding-0 padding-bottom-60" style="background-color:rgb(249,249,249)">

    <div class="banner col-xs-12 col-md-12 padding-0">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="desc">
                        <div>Buy and Sell quality
                            <br> local and online services</div>
                    </div>
                    <img src="assets/images/banner_index.png" alt="Los Angeles">
                </div>

                <div class="item">
                    <div class="desc">
                        <div>Buy and Sell quality
                            <br> local and online services</div>
                    </div>
                    <img src="assets/images/banner_index.png" alt="Chicago">
                </div>

                <div class="item">
                    <div class="desc">
                        <div>Buy and Sell quality
                            <br> local and online services</div>
                    </div>
                    <img src="assets/images/banner_index.png" alt="New York">
                </div>
            </div>

        </div>

        <!-- <ngx-carousel [inputs]="carouselBanner" [moveToSlide]="1" (onMove)="onmoveFn($event)">

            <ngx-item NgxCarouselItem class="bannerStyle">
                <div class="col-xs-12 col-md-12 padding-0">
                    <img src="" class="carouselImg">
                    <div class="banner_overlay">
                        <div class="description">
                            <h3 class="banner_description">Buy and Sell quality <br> local and online services</h3>
                        </div>
                    </div>
                </div>
            </ngx-item>

            <ngx-item NgxCarouselItem class="bannerStyle">

                <div class="col-xs-12 col-md-12 padding-0">
                    <img src="" class="carouselImg">
                    <div class="banner_overlay">
                        <div class="description">
                            <h3 class="banner_description">Buy and Sell quality <br> local and online services</h3>
                        </div>
                    </div>
                </div>
            </ngx-item>

            <ngx-item NgxCarouselItem class="bannerStyle">
                <div class="col-xs-12 col-md-12 padding-0">
                    <img src="" class="carouselImg">
                    <div class="banner_overlay">
                        <div class="description">
                            <h3 class="banner_description">Buy and Sell quality <br> local and online services</h3>
                        </div>
                    </div>
                </div>
            </ngx-item>

            <button NgxCarouselPrev class='leftRs'>&lt;</button>
            <button NgxCarouselNext class='rightRs'>&gt;</button>
        </ngx-carousel> -->


    </div>

    <div class="clearfix"></div>

    <div class="col-xs-12 col-md-12 margin-top-80 padding-bottom-50" style="border-bottom:1px solid #E4E4E4">

        <div class="container">

            <div class="col-xs-12 col-md-12">
                <div class="col-md-2 col-xs-4 text-center">
                    <img src="assets/images/icons/category1.png" alt="">
                    <p class="color-text-black font-em-09 margin-top-20">Home</p>
                </div>
                <div class="col-md-2 col-xs-4 text-center">
                    <img src="assets/images/icons/category2.png" alt="">
                    <p class="color-text-black font-em-09 margin-top-20">Personal</p>
                </div>
                <div class="col-md-2 col-xs-4 text-center">
                    <img src="assets/images/icons/category3.png" alt="">
                    <p class="color-text-black font-em-09 margin-top-20">Events</p>
                </div>
                <div class="col-md-2 col-xs-4 text-center">
                    <img src="assets/images/icons/category4.png" alt="">
                    <p class="color-text-black font-em-09 margin-top-20">Online</p>
                </div>
                <div class="col-md-2 col-xs-4 text-center">
                    <img src="assets/images/icons/category6.png" alt="">
                    <p class="color-text-black font-em-09 margin-top-20">Business</p>
                </div>
                <div class="col-md-2 col-xs-4 text-center">
                    <img src="assets/images/icons/category1.png" alt="">
                    <p class="color-text-black font-em-09 margin-top-20">Mechanics</p>
                </div>
            </div>

        </div>

    </div>



    <div class="col-xs-12 col-md-12 padding-top-50">

        <div class="container">

            <div class="col-xs-12 col-md-12 padding-0">

                <div class="col-xs-6 col-md-6">
                    <h4>
                        <span class="color-text-black font-weight-600 margin-2 padding-bottom-3">Popular</span>
                        <span class="color-text-black font-weight-600 margin-2 padding-bottom-3" style="border-bottom:3px solid #00B4F1;">Services</span>
                        <span class="color-gray font-weight-600 margin-2 padding-bottom-3">Jobs</span>
                    </h4>
                </div>

                <div class="col-xs-6 col-md-6">
                    <h5 class="color-gray font-weight-600 pull-right">View more</h5>
                </div>

            </div>



            <div class="services col-xs-12 col-md-12 padding-0 padding-top-20" id="content_area">

                <div class="col-md-3 col-sm-6 col-xs-12 margin-bottom-40 sub_div_wrapper">

                    <div class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow div-white-box-shadow">

                        <div class="col-md-12 col-xs-12 sub_div_image" style="background-image: url(assets/images/user_profile_1.png);"></div>

                        <div class="col-md-12 col-xs-12 padding-top-10">
                            <h4 class="margin-top-0">Dog Walking for hourly rate</h4>
                            <p class="font-em-09 margin-bottom-5">
                                $50
                                <span class="color-blue" style="text-decoration: line-through;">$100</span> for 1 hour
                            </p>
                            <p class="font-em-09 color-mediumgray">
                                <span class="glyphicon glyphicon-map-marker"></span> San Jose, CA, 22 km
                            </p>
                        </div>

                        <div class="col-xs-12 col-md-12 sub_div_description">

                            <div class="col-md-4 col-xs-4 padding-0 text-left">
                                <img src="assets/images/p.png" alt="">
                                <p class="color-mediumgray" style="font-size:12px;">234</p>
                            </div>

                            <div class="col-md-4 col-xs-4 padding-0 text-center">
                                <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
                                <p class="color-mediumgray" style="font-size:12px;">23</p>
                            </div>

                            <div class="col-md-4 col-xs-4 padding-0 text-right">
                                <i class="fa fa-star color-mediumgray"></i>
                                <p class="color-mediumgray" style="font-size:12px;">96%</p>
                            </div>

                        </div>

                        <div id="service_detail_link" onclick="btn_menu_f(this)" class="cursor-pointer col-xs-12 col-md-12 padding-top-6 sub_div_footer"
                            style="border-top:1px solid #e9e9e9;">

                            <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
                            <p class="color-mediumgray font-em-09">Daisy Williams</p>
                            <p class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>

                        </div>

                    </div>

                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 margin-bottom-40 sub_div_wrapper">

                    <div class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow">

                        <div class="col-md-12 col-xs-12 sub_div_image" style="background-image: url(assets/images/service_detail_2.png);"></div>

                        <div class="col-md-12 col-xs-12 padding-top-10">
                            <h4 class="margin-top-0">Dog Walking for hourly rate</h4>
                            <p class="font-em-09 margin-bottom-5">
                                $50
                                <span class="color-blue" style="text-decoration: line-through;">$100</span> for 1 hour
                            </p>
                            <p class="font-em-09 color-mediumgray">
                                <span class="glyphicon glyphicon-map-marker"></span> San Jose, CA, 22 km
                            </p>
                        </div>

                        <div class="col-xs-12 col-md-12 sub_div_description">

                            <div class="col-md-4 col-xs-4 padding-0 text-left">
                                <img src="assets/images/p.png" alt="">
                                <p class="color-mediumgray" style="font-size:12px;">234</p>
                            </div>

                            <div class="col-md-4 col-xs-4 padding-0 text-center">
                                <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
                                <p class="color-mediumgray" style="font-size:12px;">23</p>
                            </div>

                            <div class="col-md-4 col-xs-4 padding-0 text-right">
                                <i class="fa fa-star color-mediumgray"></i>
                                <p class="color-mediumgray" style="font-size:12px;">96%</p>
                            </div>

                        </div>

                        <div id="service_detail_link" onclick="btn_menu_f(this)" class="col-xs-12 col-md-12 padding-top-6 sub_div_footer" style="border-top:1px solid #e9e9e9;">

                            <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
                            <p class="color-mediumgray font-em-09">Daisy Williams</p>
                            <p class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>

                        </div>

                    </div>

                </div>



                <div class="col-md-3 col-sm-6 col-xs-12 margin-bottom-40 sub_div_wrapper">

                    <div class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow">

                        <div class="col-md-12 col-xs-12 sub_div_image" style="background-image: url(assets/images/service_detail_3.png);"></div>

                        <div class="col-md-12 col-xs-12 padding-top-10">
                            <h4 class="margin-top-0">Dog Walking for hourly rate</h4>
                            <p class="font-em-09 margin-bottom-5">
                                $50
                                <span class="color-blue" style="text-decoration: line-through;">$100</span> for 1 hour
                            </p>
                            <p class="font-em-09 color-mediumgray">
                                <span class="glyphicon glyphicon-map-marker"></span> San Jose, CA, 22 km
                            </p>
                        </div>

                        <div class="col-xs-12 col-md-12 sub_div_description">

                            <div class="col-md-4 col-xs-4 padding-0 text-left">
                                <img src="assets/images/p.png" alt="">
                                <p class="color-mediumgray" style="font-size:12px;">234</p>
                            </div>

                            <div class="col-md-4 col-xs-4 padding-0 text-center">
                                <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
                                <p class="color-mediumgray" style="font-size:12px;">23</p>
                            </div>

                            <div class="col-md-4 col-xs-4 padding-0 text-right">
                                <i class="fa fa-star color-mediumgray"></i>
                                <p class="color-mediumgray" style="font-size:12px;">96%</p>
                            </div>

                        </div>

                        <div id="service_detail_link" onclick="btn_menu_f(this)" class="col-xs-12 col-md-12 padding-top-6 sub_div_footer" style="border-top:1px solid #e9e9e9;">

                            <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
                            <p class="color-mediumgray font-em-09">Daisy Williams</p>
                            <p class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>

                        </div>

                    </div>

                </div>



                <div class="col-md-3 col-sm-6 col-xs-12 margin-bottom-40 sub_div_wrapper">

                    <div class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow">

                        <div class="col-md-12 col-xs-12 sub_div_image" style="background-image: url(assets/images/service_detail_4.png);"></div>

                        <div class="col-md-12 col-xs-12 padding-top-10">
                            <h4 class="margin-top-0">Dog Walking for hourly rate</h4>
                            <p class="font-em-09 margin-bottom-5">
                                $50
                                <span class="color-blue" style="text-decoration: line-through;">$100</span> for 1 hour
                            </p>
                            <p class="font-em-09 color-mediumgray">
                                <span class="glyphicon glyphicon-map-marker"></span> San Jose, CA, 22 km
                            </p>
                        </div>

                        <div class="col-xs-12 col-md-12 sub_div_description">

                            <div class="col-md-4 col-xs-4 padding-0 text-left">
                                <img src="assets/images/p.png" alt="">
                                <p class="color-mediumgray" style="font-size:12px;">234</p>
                            </div>

                            <div class="col-md-4 col-xs-4 padding-0 text-center">
                                <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
                                <p class="color-mediumgray" style="font-size:12px;">23</p>
                            </div>

                            <div class="col-md-4 col-xs-4 padding-0 text-right">
                                <i class="fa fa-star color-mediumgray"></i>
                                <p class="color-mediumgray" style="font-size:12px;">96%</p>
                            </div>

                        </div>

                        <div id="service_detail_link" onclick="btn_menu_f(this)" class="col-xs-12 col-md-12 padding-top-6 sub_div_footer" style="border-top:1px solid #e9e9e9;">

                            <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
                            <p class="color-mediumgray font-em-09">Daisy Williams</p>
                            <p class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>



    <div class="col-xs-12 col-md-12 padding-top-25">

        <div class="container">

            <div class="col-xs-12 col-md-12 padding-0">

                <div class="col-xs-6 col-md-6">
                    <h4>
                        <span class="color-text-black font-weight-600 margin-2 padding-bottom-3">Trending Local</span>
                        <span class="color-text-black font-weight-600 margin-2 padding-bottom-3" style="border-bottom:3px solid #00B4F1;">Services</span>
                        <span class="color-gray font-weight-600 margin-2 padding-bottom-3">Jobs</span>
                    </h4>
                </div>

                <div class="col-xs-6 col-md-6">
                    <h5 class="color-gray font-weight-600 pull-right">View more</h5>
                </div>

            </div>

            <div class="services col-xs-12 col-md-12 padding-0 padding-top-20" id="content_area">

                <div class="col-md-3 col-sm-6 col-xs-12 margin-bottom-40 sub_div_wrapper">

                    <div class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow div-white-box-shadow">

                        <div class="col-md-12 col-xs-12 sub_div_image" style="background-image: url(assets/images/user_profile_1.png);"></div>

                        <div class="col-md-12 col-xs-12 padding-top-10">
                            <h4 class="margin-top-0">Dog Walking for hourly rate</h4>
                            <p class="font-em-09 margin-bottom-5">
                                $50
                                <span class="color-blue" style="text-decoration: line-through;">$100</span> for 1 hour
                            </p>
                            <p class="font-em-09 color-mediumgray">
                                <span class="glyphicon glyphicon-map-marker"></span> San Jose, CA, 22 km
                            </p>
                        </div>

                        <div class="col-xs-12 col-md-12 sub_div_description">

                            <div class="col-md-4 col-xs-4 padding-0 text-left">
                                <img src="assets/images/p.png" alt="">
                                <p class="color-mediumgray" style="font-size:12px;">234</p>
                            </div>

                            <div class="col-md-4 col-xs-4 padding-0 text-center">
                                <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
                                <p class="color-mediumgray" style="font-size:12px;">23</p>
                            </div>

                            <div class="col-md-4 col-xs-4 padding-0 text-right">
                                <i class="fa fa-star color-mediumgray"></i>
                                <p class="color-mediumgray" style="font-size:12px;">96%</p>
                            </div>

                        </div>

                        <div id="service_detail_link" onclick="btn_menu_f(this)" class="cursor-pointer col-xs-12 col-md-12 padding-top-6 sub_div_footer"
                            style="border-top:1px solid #e9e9e9;">

                            <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
                            <p class="color-mediumgray font-em-09">Daisy Williams</p>
                            <p class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>

                        </div>

                    </div>

                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 margin-bottom-40 sub_div_wrapper">

                    <div class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow">

                        <div class="col-md-12 col-xs-12 sub_div_image" style="background-image: url(assets/images/service_detail_2.png);"></div>

                        <div class="col-md-12 col-xs-12 padding-top-10">
                            <h4 class="margin-top-0">Dog Walking for hourly rate</h4>
                            <p class="font-em-09 margin-bottom-5">
                                $50
                                <span class="color-blue" style="text-decoration: line-through;">$100</span> for 1 hour
                            </p>
                            <p class="font-em-09 color-mediumgray">
                                <span class="glyphicon glyphicon-map-marker"></span> San Jose, CA, 22 km
                            </p>
                        </div>

                        <div class="col-xs-12 col-md-12 sub_div_description">

                            <div class="col-md-4 col-xs-4 padding-0 text-left">
                                <img src="assets/images/p.png" alt="">
                                <p class="color-mediumgray" style="font-size:12px;">234</p>
                            </div>

                            <div class="col-md-4 col-xs-4 padding-0 text-center">
                                <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
                                <p class="color-mediumgray" style="font-size:12px;">23</p>
                            </div>

                            <div class="col-md-4 col-xs-4 padding-0 text-right">
                                <i class="fa fa-star color-mediumgray"></i>
                                <p class="color-mediumgray" style="font-size:12px;">96%</p>
                            </div>

                        </div>

                        <div id="service_detail_link" onclick="btn_menu_f(this)" class="col-xs-12 col-md-12 padding-top-6 sub_div_footer" style="border-top:1px solid #e9e9e9;">

                            <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
                            <p class="color-mediumgray font-em-09">Daisy Williams</p>
                            <p class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>

                        </div>

                    </div>

                </div>



                <div class="col-md-3 col-sm-6 col-xs-12 margin-bottom-40 sub_div_wrapper">

                    <div class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow">

                        <div class="col-md-12 col-xs-12 sub_div_image" style="background-image: url(assets/images/service_detail_3.png);"></div>

                        <div class="col-md-12 col-xs-12 padding-top-10">
                            <h4 class="margin-top-0">Dog Walking for hourly rate</h4>
                            <p class="font-em-09 margin-bottom-5">
                                $50
                                <span class="color-blue" style="text-decoration: line-through;">$100</span> for 1 hour
                            </p>
                            <p class="font-em-09 color-mediumgray">
                                <span class="glyphicon glyphicon-map-marker"></span> San Jose, CA, 22 km
                            </p>
                        </div>

                        <div class="col-xs-12 col-md-12 sub_div_description">

                            <div class="col-md-4 col-xs-4 padding-0 text-left">
                                <img src="assets/images/p.png" alt="">
                                <p class="color-mediumgray" style="font-size:12px;">234</p>
                            </div>

                            <div class="col-md-4 col-xs-4 padding-0 text-center">
                                <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
                                <p class="color-mediumgray" style="font-size:12px;">23</p>
                            </div>

                            <div class="col-md-4 col-xs-4 padding-0 text-right">
                                <i class="fa fa-star color-mediumgray"></i>
                                <p class="color-mediumgray" style="font-size:12px;">96%</p>
                            </div>

                        </div>

                        <div id="service_detail_link" onclick="btn_menu_f(this)" class="col-xs-12 col-md-12 padding-top-6 sub_div_footer" style="border-top:1px solid #e9e9e9;">

                            <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
                            <p class="color-mediumgray font-em-09">Daisy Williams</p>
                            <p class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>

                        </div>

                    </div>

                </div>



                <div class="col-md-3 col-sm-6 col-xs-12 margin-bottom-40 sub_div_wrapper">

                    <div class="col-md-12 col-xs-12 padding-0 sub_div div-white-box-shadow">

                        <div class="col-md-12 col-xs-12 sub_div_image" style="background-image: url(assets/images/service_detail_4.png);"></div>

                        <div class="col-md-12 col-xs-12 padding-top-10">
                            <h4 class="margin-top-0">Dog Walking for hourly rate</h4>
                            <p class="font-em-09 margin-bottom-5">
                                $50
                                <span class="color-blue" style="text-decoration: line-through;">$100</span> for 1 hour
                            </p>
                            <p class="font-em-09 color-mediumgray">
                                <span class="glyphicon glyphicon-map-marker"></span> San Jose, CA, 22 km
                            </p>
                        </div>

                        <div class="col-xs-12 col-md-12 sub_div_description">

                            <div class="col-md-4 col-xs-4 padding-0 text-left">
                                <img src="assets/images/p.png" alt="">
                                <p class="color-mediumgray" style="font-size:12px;">234</p>
                            </div>

                            <div class="col-md-4 col-xs-4 padding-0 text-center">
                                <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
                                <p class="color-mediumgray" style="font-size:12px;">23</p>
                            </div>

                            <div class="col-md-4 col-xs-4 padding-0 text-right">
                                <i class="fa fa-star color-mediumgray"></i>
                                <p class="color-mediumgray" style="font-size:12px;">96%</p>
                            </div>

                        </div>

                        <div id="service_detail_link" onclick="btn_menu_f(this)" class="col-xs-12 col-md-12 padding-top-6 sub_div_footer" style="border-top:1px solid #e9e9e9;">

                            <img src="assets/images/services/1.png" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
                            <p class="color-mediumgray font-em-09">Daisy Williams</p>
                            <p class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>

                        </div>

                    </div>

                </div>

            </div>
            <!-- services -->
        </div>
        <!-- container -->

    </div>



    <div class="col-xs-12 col-md-12 margin-top-200">

        <div class="container padding-top-30" style="border-top:1px solid #e4e4e4;">
            <div class="col-xs-12 col-md-12 padding-0">
                <div class="col-xs-12 col-md-6 padding-0">
                    <ul class="padding-0">
                        <li class="display-inlineBlock margin-right-10">
                            <img src="assets/images/icons/appstore.png" alt="">
                        </li>
                        <li class="display-inlineBlock">
                            <img src="assets/images/icons/googleplay.png" alt="">
                        </li>
                        <li>
                            <p class="color-gray font-em-08 margin-top-15">Copyright © 2017 Pointters All rights reserved.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-6 padding-0">
                    <ul class="pull-right bottom_menu">
                        <li>
                            <a href="">About</a>
                        </li>
                        <li>
                            <a href="">Get the app</a>
                        </li>
                        <li>
                            <a href="">Contact</a>
                        </li>
                        <li>
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                            <a style="border:0px !important;" href="">Terms of Conditions</a>
                        </li>
                    </ul>
                    <ul class="pull-right bottom_menu_2">
                        <li>
                            <p class="color-gray">Follow us on</p>
                        </li>
                        <li>
                            <a href="">
                                <img src="assets/images/icons/facebook.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="assets/images/icons/twitter.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="assets/images/icons/linkedin.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="assets/images/icons/googleplus.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


</div>