<div class="shipping-form"
  [ngClass]="{'padding-left-20 padding-right-20': !noPadding}"
>
  <div class="col-xs-12 col-md-12 padding-0">
    <p class="prompt color-gray">Shipping from</p>
  </div>
  <div class="col-xs-12 col-md-12 padding-0">
    <input
      [(ngModel)]="address.street1"
      type="text"
      class="no-border"
      placeholder="Street"
      (ngModelChange)="validateInput()"
    />
  </div>
  <div class="col-xs-12 col-md-12 padding-0">
    <input
      [(ngModel)]="address.city"
      type="text"
      class="no-border"
      placeholder="City"
      (ngModelChange)="validateInput()"
    />
  </div>
  <div class="col-xs-12 col-md-12 padding-0 padding-top-15">
    <div class="cl-xs-6 col-md-6 padding-0">
        <ng-select
          *ngIf="useSelect"
          [items]="stateOptions"
          [(ngModel)]="address.state"
          (close)="selectClose()"
          [clearable]="false"
          [placeholder]="['State']"
        ></ng-select>
        <input
          *ngIf="!useSelect"
          [(ngModel)]="address.state"
          type="text"
          class="no-border"
          placeholder="State"
          (ngModelChange)="validateInput()"
        />
    </div>
    <div class="cl-xs-6 col-md-6 padding-0">
      <input
        [(ngModel)]="address.zip"
        type="text"
        class="no-border"
        placeholder="Zip"
        numberOnly
        (ngModelChange)="validateInput()"
      />
    </div>
  </div>
  <div class="col-xs-12 col-md-12 padding-0">
    <p class="prompt color-gray padding-top-15">Dimensions</p>
  </div>
  <div class="col-xs-12 col-md-12 padding-0">
    <div class="cl-xs-6 col-md-6 padding-0">
      <input
        [(ngModel)]="parcel.weight"
        type="text"
        class="no-border"
        placeholder="Weight"
        (ngModelChange)="validateInput()"
        [textMask]="{mask: numMask}"
      />
      <div class="small-prompt">LB</div>
    </div>
    <div class="cl-xs-6 col-md-6 padding-0">
      <input
        [(ngModel)]="parcel.height"
        type="text"
        class="no-border"
        placeholder="Height"
        (ngModelChange)="validateInput()"
        [textMask]="{mask: numMask}"
       />
      <div class="small-prompt">M</div>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 padding-0 margin-bottom-20">
    <div class="cl-xs-6 col-md-6 padding-0">
      <input
        [(ngModel)]="parcel.length"
        type="text"
        class="no-border"
        placeholder="Length"
        (ngModelChange)="validateInput()"
        [textMask]="{mask: numMask}"
      />
      <div class="small-prompt">M</div>
    </div>
    <div class="cl-xs-6 col-md-6 padding-0">
      <input
        [(ngModel)]="parcel.width"
        type="text"
        class="no-border"
        placeholder="Width"
        (ngModelChange)="validateInput()"
        [textMask]="{mask: numMask}"
      />
      <div class="small-prompt">M</div>
    </div>
  </div>
</div>
