.prompt {
  font-size: 10px;
  text-align: left;
}
input.no-border {
  border-radius: 0px;
  outline: none!important;
  border: none;
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  height: 48px;
  color: #AEB3BB;
}
.no-border::placeholder {
  color: #AEB3BB;
  opacity: 1;
}
.no-border::-webkit-input-placeholder {
  color: #AEB3BB;
  opacity: 1;
}
.no-border::-moz-placeholder {
  color: #AEB3BB;
  opacity: 1;
}
.no-border:-ms-input-placeholder {
  color: #AEB3BB;
  opacity: 1;
}
.no-border:-moz-placeholder {
  color: #AEB3BB;
  opacity: 1;
}
.shipping-form .ng-select .ng-control {
  height: 34px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #e4e4e4;
}
.small-prompt {
  position: absolute;
  font-size: 10px;
  color: darkgray;
  top: 17px;
  right: 12px;
}
