<div style="background: white;" class="header margin-left-right-auto">
    <nav id="navbar1" class="navbar navbar-default bg-transparent border-none padding-left-15 margin-bottom-0" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="navbar1_brand" onclick="" class="navbar-brand padding-top-10" routerLink="/">
                <img src="assets/images/logo2.png" style="width:123px; max-height:40px;" alt="">
            </a>
        </div>

        <form class="navbar-form navbar-left" role="search" [formGroup]="searchForm">
            <div id="input-search" class="form-group margin-right-20 dropdown">
                <div class="d-flex">

                    <div style="position: relative; flex-grow: 1; flex-shrink: 1;">
                        <i class="fa fa-search padding-12 padding-left-15 color-mediumgray" style="position:absolute;"></i>
                        <input (click)="onClickSearch();" (blur)="onBlurSearch();" (keyup)="handleKeyupSearch($event);" id="top_menu_searchbox" type="text"
                            class="dropdown-toggle form-control bg-silver padding-left-40 height-40-px margin-bottom-0" placeholder="Search services"
                            style="width: 100% !important; box-shadow:none; border:0px solid #e4e4e4; border-bottom:0px; border-top:0px;">

                        <span id="icon_cross" onclick="close_searchSuggestionsTyping();" style="position:absolute; right: 190px; top: 0px; width:15px; height:15px;"
                            class="hidden">
                            <img src="assets/images/icons/close_small.png" alt="" style="position:absolute; right: 0px; top: 2px;">
                        </span>
                    </div>

                    <div (click)="onClickLocation();" (blur)="onBlurLocation();" tabindex="-1" id="top_menu_searchbox" class="color-gray bg-silver padding-left-40 height-40-px"
                        style="width: auto !important; min-width: 200px !important;outline: none; line-height: 40px; padding-right: 40px; position: relative">
                        <i class="fa fa-map-marker padding-left-40 padding-right-5 color-gray"></i>Location
                        <div style="position: absolute; top: 10px; bottom: 10px; border-right: 1px solid #e4e4e4"></div>
                    </div>
                </div>

                <app-search-dropdown [hidden]="!focusSearch" [query]="query"></app-search-dropdown>
                <div [hidden]="!showSearchLocations" id="search_suggestions_2" class="dropdown-content-2 div-white-box-shadow color-bg-white padding-15 padding-left-25"
                    style="border-width: 0px 1px 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgb(228, 228, 228); border-bottom-color: rgb(228, 228, 228); border-left-color: rgb(228, 228, 228); border-image: initial; border-radius: 0px 0px 5px 5px; width: 180px; z-index: 999; border-top-style: initial; border-top-color: initial; margin-top: -2px; position: absolute; right: 0px; top: 41px;">
                    <ul class="padding-0">
                        <li class="text-left padding-top-3 padding-bottom-3 color-blue font-weight-600 font-px-12">
                            <img src="assets/images/icons/location_icon.png" style="margin-top:-2px" alt=""> Current Location
                        </li>
                        <li class="text-left padding-top-3 padding-bottom-3 margin-top-5 color-gray font-em-09">Chicago, IL</li>
                        <li class="text-left padding-top-3 padding-bottom-3 margin-top-5 color-gray font-em-09">Chicagoland, IL</li>
                        <li class="text-left padding-top-3 padding-bottom-3 margin-top-5 color-gray font-em-09">Chicago Union Station</li>
                    </ul>
                </div>
            </div>
        </form>

        <div class="collapse navbar-collapse padding-top-8 margin-left-30" id="bs-example-navbar-collapse-1">



            <div class="margin-right-15" id="right-nav">
                <ul [hidden]="isLoggedIn" id="before_signin" class="nav navbar-nav margin-right-20">
                    <!-- <li><a data-toggle="modal" data-target="#modal_signup" class="color-gray font-weight-600 font-em-11 padding-top-10">Sign Up</a></li> -->
                    <!-- <li><a data-toggle="modal" data-target="#modal_signin" class="color-gray font-weight-600 font-em-11 padding-top-10">Sign In</a></li> -->
                    <li>
                        <a (click)="openSignupModal()" class="color-gray font-weight-600 font-em-11 padding-top-10">Sign Up</a>
                    </li>
                    <li>
                        <a (click)="open()" class="color-gray font-weight-600 font-em-11 padding-top-10">Sign In</a>
                    </li>
                </ul>
                <ul [hidden]="!isLoggedIn" id="after_signin" class="nav navbar-nav margin-right-20">
                    <li id="li_explore" class="">
                        <a routerLink="/home" class="btn_menu margin-top-8 margin-right-10" routerLinkActive="active">Explore</a>
                    </li>

                    <li id="li_updates">
                        <a routerLink="/updates" class="btn_menu margin-top-8" routerLinkActive="active">Updates</a>
                        <span class="badge theme_badge">2</span>
                    </li>
                    <li id="li_msg_notf" class="dropdown">
                        <a class="dropdown-toggle color-gray font-weight-600 font-em-11 padding-top-10" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            <img src="assets/images/icons/envelope.png" alt="">
                            <span class="badge theme_badge">3</span>
                        </a>
                        <div id="menu_notification_conversation" class="dropdown-menu div-white-box-shadow color-bg-white padding-0" style="position:absolute; border:1px solid #e4e4e4; border-radius:5px; width:400px; left: -350px;">
                            <div class="col-xs-12 col-md-12 padding-0 padding-top-15">
                                <div class="col-xs-12 col-md-12 padding-0" style="border-bottom:1px solid #e4e4e4;">
                                    <div id="menu_messages" (click)="$event.stopPropagation(); toggleMN = false;" class="col-xs-6 col-md-6 dropdown-menu-item"
                                        [ngClass]="!toggleMN ? 'active' : ''" style="border-right:1px solid #e4e4e4;">
                                        <p class="color-darkgray text-center">Messages (3)</p>
                                    </div>
                                    <div id="menu_notifications" (click)="$event.stopPropagation(); toggleMN = true;" class="col-xs-6 col-md-6 dropdown-menu-item"
                                        [ngClass]="toggleMN ? 'active' : ''">
                                        <p class="color-darkgray text-center">Notifications (6)</p>
                                    </div>
                                </div>
                                <div class="content_area">
                                    <app-message-dropdown [hidden]="toggleMN"></app-message-dropdown>
                                    <app-notification-dropdown [hidden]="!toggleMN"></app-notification-dropdown>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a (click)="openAddService();" class="color-gray font-weight-600 font-em-11 padding-top-5">
                            <!-- <img src="assets/images/icons/Symbol1.png" width="32px" height="32px" style="border-radius:50%;" alt=""> -->
                            <i class="fa fa-plus" style="font-size: 32px"></i>
                            <!-- <span class="badge theme_badge">6</span>-->
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle padding-0 padding-top-5 padding-left-10" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            <img [src]="(user && user.profilePic) ? user.profilePic : 'assets/images/icons/oval.png'" class="border-radius-50-p" width="32px" height="32px"
                                alt="">
                            <span class="badge theme_badge" style="right:-3px">2</span>
                        </a>
                        <div id="profile_menu_div" class="dropdown-menu div-white-box-shadow color-bg-white padding-0" style="position:absolute; border:1px solid #e4e4e4; border-radius:5px; width:500px; left: -450px">
                            <app-menu-dropdown (successHandler)="handleSuccessLogout()"></app-menu-dropdown>
                        </div>
                    </li>
                </ul>

                <input type="submit" class="btn btn-default color-text-white bg-blue font-weight-600 padding-left-30 padding-right-30 margin-top-5"
                    style="border-radius:20px; border-color:#00B4F1;" value="Start Selling">
            </div>
        </div>

        <span class="margin-left-100"></span>
    </nav>
</div>
<!-- <app-signin (successHandler)="handleSuccessLogin()"></app-signin> -->
<!-- <app-signup (successHandler)="handleSuccessSignup()"></app-signup> -->
<!-- <app-forgot-password></app-forgot-password> -->
