.btn-fileupload {
    position: absolute;
    top: 0;
    height: 106px;
    width: 106px;
    opacity: 0;
}

.btn-fileupload input {
    width: 106px;
    height: 106px;
}

.btn-fileupload-background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.btn-fileupload-background input {
    width: 100%;
    height: 100%;
}

.btn-search {
    float: right;
    margin-left: -61px;
    height: 39px;
    width: 55px;
    background-color: white;
    border: 1px solid #cccccc;
    border-left: none;
    border-bottom: none;
}

.profileBackgroundMedia-default {
    margin-left: 45%;
    margin-top: 8%;
}

.profileBackgroundMedia-case {
    width: 100%;
    height: 100%;
}


