<div id="index_contentarea" class="col-md-9 col-sm-7 col-xs-12 margin-top-30 padding-bottom-200">

    <div id="become_seller" class="col-xs-12 col-md-7 color-bg-white padding-15" style="border:1px solid #efefef">

        <div class="col-xs-12 col-md-12">
            <h3 class="color-text-black font-weight-600 display-inlineBlock">Become a Seller</h3>
            <p class="display-inlineBlock pull-right margin-top-20">
                <span><img src="assets/images/icons/online.png" alt=""></span>
                <span class="color-blue font-weight-600" style="vertical-align:middle;">You are already an eligible seller</span>
            </p>
        </div>

        <div class="col-xs-12 col-md-12">
            <h4 class="color-text-black font-weight-600 margin-top-20">Becoming a seller is easy with just a few steps.</h4>
        </div>

        <div class="col-xs-12 col-md-12 padding-top-10">

            <h5 class="font-weight-600 color-blue">Mandatory</h5>

            <div class="col-xs-12 col-md-12 padding-0 padding-bottom-20 padding-top-10" style="border-bottom:1px solid #e4e4e4;">
                <div class="bg-mediumgray border-radius-50p padding-top-2 display-inlineBlock margin-right-10" style="width:24px; height:24px;">
                    <p class="color-text-white font-weight-600 text-center">1</p>
                </div>
                <h4 style="vertical-align: middle;" class="color-gray font-weight-600 display-inlineBlock">Setup Payment</h4>

                <div class="pull-right">
                    <div class="text-center display-inlineBlock margin-right-15" style="border:1px solid #e4e4e4; border-radius:3px; width:140px; padding-5">
                        <p class="margin-top-6">
                            <span class="display-inlineBlock font-weight-600 color-mediumgray margin-right-3" style="vertical-align:middle;">Done</span>
                            <span><img src="assets/images/icons/online.png" alt=""></span>
                        </p>
                    </div>
                    <i class="fa fa-angle-right font-px-22 color-gray" style="vertical-align: middle;"></i>
                </div>

            </div>


            <div class="col-xs-12 col-md-12 padding-0 padding-bottom-20 padding-top-10 margin-top-30" style="border-bottom:1px solid #e4e4e4;">
                <div class="bg-mediumgray border-radius-50p padding-top-2 display-inlineBlock margin-right-10" style="width:24px; height:24px; vertical-align: top;">
                    <p class="color-text-white font-weight-600 text-center">2</p>
                </div>

                <div class="display-inlineBlock">
                    <h4 style="vertical-align: middle;" class="color-gray font-weight-600 display-inlineBlock margin-top-2">Add Service</h4>
                    <p class="color-darkgray font-em-09 margin-0">You have 0 services</p>
                </div>


                <div class="pull-right">
                    <div class="text-center display-inlineBlock margin-right-15" style="border:1px solid #e4e4e4; border-radius:3px; width:140px; padding-5">
                        <p class="margin-top-6">
                            <span class="display-inlineBlock font-weight-600 color-mediumgray" style="vertical-align:middle;">Not Started</span>
                        </p>
                    </div>
                    <i class="fa fa-angle-right font-px-22 color-gray" style="vertical-align: middle;"></i>
                </div>

            </div>


        </div>


        <div class="col-xs-12 col-md-12 padding-top-40">

            <h5 class="font-weight-600 color-blue">Optional</h5>

            <div class="col-xs-12 col-md-12 padding-0 padding-bottom-20 padding-top-10" style="border-bottom:1px solid #e4e4e4;">
                <div class="bg-mediumgray border-radius-50p padding-top-2 display-inlineBlock margin-right-10" style="width:24px; height:24px; vertical-align: top;">
                    <p class="color-text-white font-weight-600 text-center">3</p>
                </div>

                <div class="display-inlineBlock">
                    <h4 style="vertical-align: middle;" class="color-gray font-weight-600 display-inlineBlock margin-top-2">Background Check</h4>
                    <p class="color-darkgray font-em-09 margin-0">Recommended for local service. $25 for US via check.</p>
                </div>

                <div class="pull-right">
                    <div class="text-center display-inlineBlock margin-right-15" style="border:1px solid #e4e4e4; border-radius:3px; width:140px; padding-5">
                        <p class="margin-top-6">
                            <span class="display-inlineBlock font-weight-600 color-mediumgray margin-right-3" style="vertical-align:middle;">Start</span>
                            <span><img src="assets/images/icons/online.png" alt=""></span>
                        </p>
                    </div>
                    <i class="fa fa-angle-right font-px-22 color-gray" style="vertical-align: middle;"></i>
                </div>

            </div>


            <div class="col-xs-12 col-md-12 padding-0 padding-bottom-20 padding-top-10 margin-top-30" style="border-bottom:1px solid #e4e4e4;">
                <div class="bg-mediumgray border-radius-50p padding-top-2 display-inlineBlock margin-right-10" style="width:24px; height:24px; vertical-align: top;">
                    <p class="color-text-white font-weight-600 text-center">4</p>
                </div>

                <div class="display-inlineBlock">
                    <h4 style="vertical-align: middle;" class="color-gray font-weight-600 display-inlineBlock margin-top-2">Add Store Locations</h4>
                    <p class="color-darkgray font-em-09 margin-0">Recommended if you have stores.</p>
                </div>


                <div class="pull-right">
                    <div class="text-center display-inlineBlock margin-right-15" style="border:1px solid #e4e4e4; border-radius:3px; width:140px; padding-5">
                        <p class="margin-top-6">
                            <span class="display-inlineBlock font-weight-600 color-mediumgray" style="vertical-align:middle;">Not Started</span>
                        </p>
                    </div>
                    <i class="fa fa-angle-right font-px-22 color-gray" style="vertical-align: middle;"></i>
                </div>

            </div>


        </div>

    </div>

</div>