.btn-disabled {
  cursor: not-allowed!important;
  border: 1px solid #e4e4e4 !important;
}
.err>input,
.err .ng-control {
  border-color: rgb(255,45,52) !important;
}
.err-msg {
  color: rgb(255,45,52); 
}
