<div class="col-xs-12 col-md-12 padding-10" style="background-color:#F0F0F3;">
  <p class="color-darkgray display-inlineBlock margin-0 margin-left-10">Orders</p>
  <p class="color-darkgray display-inlineBlock margin-0 margin-right-10 pull-right font-em-09 margin-top-3">2 active</p>
</div>


<div class="col-xs-12 col-md-12 padding-10 padding-left-20" style="">

  <p class="color-darkgray margin-0">
    <span class="display-inline">
      <span>Dog Walk Service</span>
      <span class="pull-right margin-right-10">$50</span>
    </span>
  </p>

  <p class="color-gray margin-0 font-em-09 margin-top-5">
    <i class="fa fa-map-marker"></i>
    <span>Sans Jose, CA, 22 km</span>
  </p>

  <p class="color-blue margin-0  font-em-09 margin-top-5">
    Start Service, 11/08 | 8PM
  </p>

</div>


<div class="col-xs-12 col-md-12 padding-10 margin-top-12" style="background-color:#F0F0F3;">
  <p class="color-darkgray display-inlineBlock margin-0 margin-left-10">Offers</p>
  <p class="color-darkgray display-inlineBlock margin-0 margin-right-10 pull-right font-em-09 margin-top-3">3 active</p>
</div>


<div class="col-xs-12 col-md-12 padding-10 padding-left-20" style="">

  <p class="color-darkgray margin-0">
    <span class="display-inline">
      <span>Dog Walk for 1 hour</span>
      <span class="pull-right margin-right-10">$50</span>
    </span>
  </p>

  <p class="color-gray margin-0 font-em-09 margin-top-5">
    <i class="fa fa-map-marker"></i>
    <span>Sans Jose, CA, 22 km</span>
  </p>

  <p class="color-blue margin-0  font-em-09 margin-top-5">
    Expires on 11/02
  </p>

</div>


<div class="col-xs-12 col-md-12 padding-10 margin-top-12" style="background-color:#F0F0F3;">
  <p class="color-darkgray display-inlineBlock margin-0 margin-left-10">Request</p>
  <p class="color-darkgray display-inlineBlock margin-0 margin-right-10 pull-right font-em-09 margin-top-3">1 active</p>
</div>


<div class="col-xs-12 col-md-12 padding-10 padding-left-20" style="">

  <p class="color-darkgray margin-0">
    <span class="display-inline">
      <span>Looking for Dog Walk</span>
      <span class="pull-right margin-right-10">$50</span>
    </span>
  </p>

  <p class="color-gray margin-0 font-em-09 margin-top-5">
    <i class="fa fa-map-marker"></i>
    <span>Sans Jose, CA, 22 km</span>
  </p>

  <p class="color-blue margin-0  font-em-09 margin-top-5">
    Expires on 11/02
  </p>

</div>
