<div class="col-xs-12 col-md-12 chat_message width-400-px margin-top-40"
    [ngClass]="{'right': (item.result && item.result.user && item.result.user.userId !== userId)}"
    [ngStyle]="{'margin-bottom': last ? '100px' : 'unset'}"
    >


    <div class="col-md-4 col-xs-4 text-right padding-top-3"
      [ngClass]="{'right-img': (item.result && item.result.user && item.result.user.userId !== userId)}"
    >
      <div
        [ngStyle]="{ 'width': '44px', 'height': '44px', 'background-image': 'url(' + ((chatPartner && chatPartner.profilePic) || 'assets/images/icons/oval.png') + ')' }"
        *ngIf="(item.result && item.result.user && item.result.user.userId === userId)"
        class="display-inlineBlock border-radius-50-p bg-img"
      ></div>
      <div
        [ngStyle]="{ 'width': '34px', 'height': '34px', 'background-image': 'url(' + (chatUser.profilePic || 'assets/images/icons/oval.png') + ')' }"
        *ngIf="(item.result && item.result.user && item.result.user.userId !== userId)"
        class="display-inlineBlock border-radius-50-p bg-img"
      ></div>
    </div>

    <div class="col-md-8 col-xs-8 margin-top-5 padding-0">

      <div class="col-xs-12 col-md-12 padding-10 text-message rounded"
        [ngClass]="{'your-message': (item.result && item.result.user && item.result.user.userId !== userId)}"
      >
        <div *ngIf="item.result.message.messageText" class="color-text-black font-weight-300 font-px-14 margin-bottom-0 break-word"
          [innerHtml]="item.result.message.messageText | emoji"
          >
        </div>
        <div
          class="clickable"
          *ngIf="item.result.message.media && item.result.message.media[0] && item.result.message.media[0]['mediaType'] === 'image'"
          (click)="viewImage(item.result.message.media[0]['fileName'])"
        >
          <img src="{{item.result.message.media[0]['fileName']}}" alt="message image" />
        </div>
        <div
          *ngIf="item.result.message.media && item.result.message.media[0] && item.result.message.media[0]['mediaType'] === 'video'"
        >
          <video width="100%" controls>
              <source src="{{item.result.message.media[0]['fileName']}}" />
              Your browser does not support the video tag.
          </video>
        </div>
        <a
          class="margin-bottom-10 margin-top-10"
          target="_blank"
          *ngIf="item.result.message.media && item.result.message.media[0] && item.result.message.media[0]['mediaType'] === 'document'"
          href="{{item.result.message.media[0]['fileName']}}" >

              <img src="assets/images/icons/file.png" alt="file" class="file-icon" />
              <span class="file-name">{{item.result.message.media[0]['fileName']}}</span>

        </a>
      </div>

      <div class="col-xs-12 col-md-12 padding-0"
        [ngClass]="{'right-text': (item.result && item.result.user && item.result.user.userId !== userId)}"
      >
        <p class="color-gray font-weight-300 font-px-10 margin-0 margin-top-5">
          <img src="assets/images/icons/message_seen.png" *ngIf="item.result && item.result.user && item.result.user.userId !== userId">
          {{moment(item.result.message.createdAt).format('MMMM Do YYYY, LT')}}
        </p>
      </div>

    </div>

</div>
