
<div id="index_main" class="col-xs-12 col-md-12 padding-0 padding-bottom-60 order-fulfillment-schedule" style="background-color:rgb(249,249,249)">

   <div class="container">

        <div id="index_sidepanel" class="order_fulfillment col-md-7 col-sm-7 col-xs-12 padding-left-60 margin-top-25">

            <div class="col-xs-12 col-md-12 color-bg-white div-white-box-shadow margin-top-30 padding-25 cursor-pointer"
            routerLink="/order-review"
            style="border:1px solid #e4e4e4; border-radius:3px; border-top:0px;">

               <h4 class="color-text-black font-weight-600 margin-top-0">Next Step: Seller to accept schedule</h4>

               <img src="assets/images/icons/order_fulfillment_process.png" alt="">

               <div class="col-xs-12 col-md-12 padding-0 margin-bottom-30" style="position:relative;">
                   <p class="color-gray display-inlineBlock font-em-09" style="position:absolute; left:0px; top:8px;">Paid on 10/25</p>
                   <p class="color-gray display-inlineBlock font-em-09" style="position:absolute; left:23%; top:8px;">Sheduled</p>
                   <p class="color-gray display-inlineBlock font-em-09" style="position:absolute; right:48%; top:8px;">Start</p>
                   <p class="color-gray display-inlineBlock font-em-09" style="position:absolute; right:23%; top:8px;">Complete</p>
                   <p class="color-gray display-inlineBlock font-em-09" style="position:absolute; right:0px; top:8px;">Acceptance</p>
               </div>

            </div>


            <div class="col-xs-12 col-md-12 color-bg-white div-white-box-shadow margin-top-30 padding-25" style="border:1px solid #e4e4e4; border-radius:3px; border-top:0px; position:relative;">

               <div class="col-xs-12 col-md-12 padding-right-0">

                   <h4 class="color-text-black font-weight-600 margin-top-0">Schedule</h4>

                   <div class="col-xs-12 col-md-12 padding-0" style="border:1px solid #e4e4e4; border-radius:4px;">
                       <div class="col-xs-6 col-md-6 padding-0" style="border-right:1px solid #e4e4e4; position:relative;">

                          <input id="schedule_date" type="text" class="form-control border-none boxshadow-none" value="12/05/2017">

                          <i class="fa fa-caret-down pull-right color-mediumgray padding-4 padding-right-10 color-bg-white" style="position:absolute; right:5px; top: 4px; font-size: 18px;"></i>

                          <div id="dd" style="top:0px !important; left:0px !important;">

                          </div>
                          <div id="dd_next" class="display-none" style="position:absolute; top:310px !important; right:-30px !important; z-index:999;">
                                 <li id="li_addService" onclick="" class="display-inlineBlock pull-right">
                                     <a class="text-uppercase margin-top-40 color-blue font-px-12 font-weight-600 padding-6 padding-left-20 padding-right-20" style="border-radius:15px;">OK</a>
                                 </li>

                                 <li onclick="btn_menu_f(this);" id="li_cancel" class="display-inlineBlock pull-right">
                                     <a class="margin-top-40 font-px-12 font-weight-600 color-darkgray text-uppercase">Cancel</a>
                                 </li>
                          </div>
                       </div>
                       <div class="col-xs-6 col-md-6 padding-0" style="position:relative;">
                          <input type="text" class="form-control border-none boxshadow-none dropdown-toggle" value="08:00am - 10:00pm" data-toggle="dropdown">


                          <i class="fa fa-caret-down pull-right color-mediumgray padding-4 padding-right-10 color-bg-white" style="position:absolute; right:5px; top: 4px; font-size: 18px;"></i>


                          <div class="dropdown-menu padding-15 padding-bottom-20">
                             <p class="color-text-black margin-0">
                                 <span>08:00am</span>
                                 <span> - </span>
                                 <span>10:00pm</span>
                             </p>
                             <h5 class="color-text-black font-weight-600 margin-top-15 margin-bottom-15">From - To</h5>
                             <div class="col-xs-12 col-md-12 padding-0">

                                 <div class="display-inlineBlock width-45-p dropdown-toggle" style="float:left"  data-toggle="dropdown">
                                     <input id="time_from" type="text" class="form-control width-90-p display-inlineBlock margin-right-10" value="08:00am">

                                     <div class="dropdown-menu padding-top-10 padding-bottom-10" style="width:77px;">
                                         <ul class="padding-left-10">
                                             <li class="padding-top-10">08:00 am</li>
                                             <li class="padding-top-10">09:00 am</li>
                                             <li class="padding-top-10">10:00 am</li>
                                         </ul>
                                     </div>
                                 </div>

                                  <div class="display-inlineBlock width-45-p" style="float:left">
                                     <input id="time_to" type="text" class="form-control width-100-p display-inlineBlock dropdown-toggle" value="10:00pm" data-toggle="dropdown">

                                     <div class="dropdown-menu padding-top-10 padding-bottom-10 pull-right" style="width:77px;">
                                         <ul class="padding-left-10">
                                             <li class="padding-top-10">09:00 am</li>
                                             <li class="padding-top-10">10:00 am</li>
                                             <li class="padding-top-10">10:00 am</li>
                                         </ul>
                                     </div>
                                 </div>

                             </div>
                         </div>

                       </div>
                   </div>

                </div>

               <div class="col-xs-12 col-md-12 padding-0 margin-top-20">
                   <div class="col-xs-1 col-md-1">
                       <input checked type="checkbox" class="form-control">
                   </div>
                   <div class="col-xs-11 col-md-11 padding-0" style="margin: -2px;">
                       <p class="color-gray">Schedule proposed by buyer</p>
                   </div>
               </div>

               <div class="col-xs-12 col-md-12 padding-0 margin-top-5">
                   <div class="col-xs-1 col-md-1">
                       <input type="checkbox" class="form-control">
                   </div>
                   <div class="col-xs-11 col-md-11 padding-0" style="margin: -2px;">
                       <p class="color-gray">Schedule pending acceptance by seller</p>
                   </div>
               </div>

               <div class="col-xs-12 col-md-12 padding-0 margin-top-5">
                   <div class="col-xs-1 col-md-1">
                       <img src="assets/images/icons/icon_pencil.png" alt="">
                   </div>
                   <div class="col-xs-11 col-md-11 padding-0" style="margin: -2px;">
                       <p class="color-gray">Change Schedule</p>
                   </div>
               </div>

                 <span style="bottom:30px; right:20px; position:absolute;">
                     <a class="text-uppercase margin-top-40 bg-blue color-text-white font-px-14 font-weight-600 padding-6 padding-left-20 padding-right-20" style="border-radius:15px;">Add Service</a>
                 </span>

            </div>


            <div class="col-xs-12 col-md-12 color-bg-white div-white-box-shadow margin-top-30 padding-0" style="border:1px solid #e4e4e4; border-radius:3px; border-top:0px; position:relative;">

                <div class="col-xs-12 col-md-12 padding-25 padding-top-15 padding-bottom-15">
                     <div class="col-xs-9 col-md-9 padding-0 padding-top-10">
                         <h4 class="color-text-black font-weight-600 margin-bottom-5 margin-0">Service Location</h4>
                         <img src="assets/images/icons/icon_location.png" class="width-12-px height-12-px" alt="">
                         <p class="color-gray display-inlineBlock font-em-08">San Jose, CA, 22 km</p>
                     </div>
                     <div class="col-xs-3 col-md-3 padding-0 padding-top-10">
                        <span class="pull-right">
                            <img src="assets/images/get_direction.png" alt="">
                            <p class="color-gray display-inlineBlock font-em-11">Get Directions</p>
                        </span>
                     </div>
                 </div>

                 <div class="col-xs-12 col-md-12 padding-0">
                     <img src="assets/images/modal_map.png" alt="">
                 </div>

               <div class="col-xs-12 col-md-12 margin-top-20">
                   <div class="col-xs-1 col-md-1">
                       <input checked type="checkbox" class="form-control">
                   </div>
                   <div class="col-xs-11 col-md-11 padding-0" style="margin: -2px;">
                       <p class="color-gray">Schedule proposed by buyer</p>
                   </div>
               </div>

               <div class="col-xs-12 col-md-12 margin-top-5">
                   <div class="col-xs-1 col-md-1">
                       <input type="checkbox" class="form-control">
                   </div>
                   <div class="col-xs-11 col-md-11 padding-0" style="margin: -2px;">
                       <p class="color-gray">Schedule pending acceptance by seller</p>
                   </div>
               </div>

               <div class="col-xs-12 col-md-12 margin-top-5 margin-bottom-20">
                   <div class="col-xs-1 col-md-1">
                       <img src="assets/images/icons/icon_pencil.png" alt="">
                   </div>
                   <div class="col-xs-11 col-md-11 padding-0" style="margin: -2px;">
                       <p class="color-gray">Change Schedule</p>
                   </div>
               </div>

               <span style="bottom:30px; right:20px; position:absolute;">
                 <a class="text-uppercase margin-top-40 bg-blue color-text-white font-px-14 font-weight-600 padding-6 padding-left-20 padding-right-20" style="border-radius:15px;">Accept Change</a>
              </span>

            </div>





             <div class="col-xs-12 col-md-12 color-bg-white div-white-box-shadow margin-top-30 padding-25" style="border:1px solid #e4e4e4; border-radius:3px; border-top:0px;">

               <h4 class="color-text-black font-weight-600 margin-top-0">Shipment</h4>

               <div class="col-xs-12 col-md-12 padding-0 margin-top-15">
                   <p class="margin-bottom-5 font-em-09">Address: </p>
                   <p class="margin-bottom-15 font-em-09">123, Lakeshore road, Chicago IL </p>
                   <p class="margin-bottom-5 font-em-09">Package Shipped On: 11/07/02 </p>
                   <p class="margin-bottom-5 font-em-09">Carrier : Fedex </p>
                   <p class="margin-bottom-5 font-em-09">Tracking : 123456 </p>
                   <p class="margin-bottom-5 font-em-09">Expected Arrival : 11/03 </p>
                   <p class="margin-bottom-5 font-em-09 color-gray margin-top-15">
                       <img src="assets/images/icons/icon_pencil.png" class="margin-right-5" alt="">
                      Change Shipping Address
                   </p>
               </div>

              <span style="bottom:30px; right:20px; position:absolute;">
                 <a class="text-uppercase margin-top-40 bg-blue color-text-white font-px-14 font-weight-600 padding-6 padding-left-20 padding-right-20 cursor-pointer"
                  routerLink="/order-fulfillment-detail"
                  style="border-radius:15px;">Send Change</a>
              </span>

            </div>


        </div>


      <!----------------------------------------------------------------------------------------------------------------->



        <div id="index_contentarea" class="col-md-5 col-sm-5 col-xs-12">

           <div class="col-xs-12 col-md-12 margin-top-10">

             <div class="col-xs-12 col-md-12 padding-top-15">

                  <div class="col-xs-12 col-md-12 color-bg-white div-white-box-shadow-7 margin-top-30 padding-25 padding-top-18">

                      <div class="col-xs-12 col-md-12 padding-0" style="border-bottom:1px solid #e4e4e4;">
                         <h4 class="color-text-black font-weight-600 margin-top-0">Order Detail</h4>
                      </div>

                      <div class="col-xs-12 col-md-12 padding-0 margin-top-20" style="position:relative;">

                          <img src="assets/images/order_fulfillment_profile.png" style="width:44px; height:44px; border-radius:50%; position:absolute; top:0px; right:5px;" alt="">

                          <p class="color-darkgray">Dog Walk Service</p>
                          <p class="color-darkgray font-em-09 margin-bottom-5">$10 for 1 hour = 01</p>
                          <p class="color-darkgray font-em-09 margin-bottom-5">Transaction Fee: $3.00</p>
                          <p class="color-darkgray font-em-09 margin-bottom-5">Total: $30.00</p>
                      </div>

                      <div class="col-xs-12 col-md-12 padding-0 margin-top-10">
                          <p class="color-darkgray pull-left font-em-09">Order No: 123456789</p>
                          <p class="color-blue pull-right font-em-09">Paid On 11/19</p>
                      </div>

                  </div>


                  <div class="col-xs-12 col-md-12 color-bg-white div-white-box-shadow-7 padding-25 padding-top-18 margin-top-30">

                      <div class="col-xs-12 col-md-12 padding-0" style="border-bottom:1px solid #e4e4e4;">
                         <h4 class="color-text-black font-weight-600 margin-top-0">Seller Contact</h4>
                      </div>

                      <div class="col-xs-12 col-md-12 padding-0 margin-top-20">

                             <div class="col-xs-5 col-md-4 text-right padding-0">
                                 <img src="assets/images/service_detail_userProfileImage.png" class="pull-left" style="width:74px; height:74px; border-radius:50%;" alt="">
                             </div>

                             <div class="col-xs-7 col-md-8 padding-left-0">

                                <div class="col-xs-12 col-md-12 padding-0">
                                     <h4 onclick="open_userprofile()" class="cursor-pointer display-inlineBlock font-weight-600 margin-right-2 margin-top-0">Daisy williams</h4>
                                     <img src="assets/images/icons/online@2x.png" style="vertical-align:text-bottom;" width="18px" height="18px" alt="">
                                </div>

                                <div class="col-xs-12 col-md-12 padding-0">
                                  <p class="color-gray margin-bottom-0">ABC Company</p>
                                  <p class="color-gray font-em-09">
                                      <i class="fa fa-map-marker color-gray"></i>
                                      Sans Jose, CA, 22 km
                                  </p>
                                </div>

                                <div class="col-xs-12 col-md-12 padding-0">

                                    <div class="col-xs-6 col-md-6 padding-0">
                                         <li class="padding-5 padding-left-8 padding-right-8 width-90-px text-center" style="border:1px solid #AEB3BB; border-radius:20px;">
                                             <img src="assets/images/icons/phone@2x.png" width="16px" height="16px" alt="">
                                             <p class="display-inlineBlock color-gray margin-left-3 font-weight-600 margin-bottom-0">Call</p>
                                         </li>
                                    </div>

                                    <div class="col-xs-6 col-md-6 padding-0">
                                         <li class="padding-5 padding-left-8 padding-right-8 width-90-px text-center" style="border:1px solid #AEB3BB; border-radius:20px;">
                                             <img src="assets/images/icons/envelope.png" width="16px" alt="">
                                             <p class="display-inlineBlock color-gray margin-left-3 font-weight-600 margin-bottom-0">Chat</p>
                                         </li>
                                    </div>

                                </div>

                             </div>

                      </div>

                  </div>

                  <div class="col-xs-12 col-md-12 padding-0 cursor-pointer">
                      <p class="color-gray text-uppercase margin-top-15" routerLink="/cancel-request">Request Cancellation</p>
                  </div>

             </div>

           </div>


        </div>



   </div>

</div>
