<div id="index_main" class="col-xs-12 col-md-12 padding-0 padding-bottom-60" style="background-color:rgb(249,249,249)">
  <div class="col-md-offset-1 col-xs-12 col-md-11 padding-0 padding-top-40 padding-bottom-200">
    <app-follow-sidebar></app-follow-sidebar>
    <div id="contentarea_editprofile" class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <div class="col-xs-12 col-md-12 padding-left-40 padding-bottom-100">
        <h3 class="font-weight-600 margin-0 margin-bottom-20">Following</h3>
        <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" class="col-xs-12 col-md-12 padding-0">
          <app-following-item *ngFor="let followingItem of followings" [data]="followingItem"></app-following-item>
        </div>
      </div>
    </div>
  </div>
</div>