<div class="col-md-3 col-sm-3 col-xs-12 padding-0">
    <div class="col-xs-12 col-md-10 col-md-offset-1 padding-0 padding-top-20 padding-bottom-10 color-bg-white">
        <div class="col-xs-12 col-md-12 padding-20">
            <h4 class="color-darkgray text-left padding-bottom-10 padding-left-5 margin-0">General</h4>
        </div>
        <div class="clearfix"></div>
        <ul class="padding-0">
            <li [ngClass]="selectedTab=='following'?'padding-10 padding-left-25 bg-lightgray':'padding-10 padding-left-25'">
                <a routerLink="/general/following" routerLinkActive="active" class="color-darkgray">Following</a>
            </li>
            <li [ngClass]="selectedTab=='followers'?'padding-10 padding-left-25 bg-lightgray':'padding-10 padding-left-25'">
                <a routerLink="/general/followers" routerLinkActive="active" class="color-darkgray">Followers</a>
            </li>
            <li [ngClass]="selectedTab=='invite'?'padding-10 padding-left-25 bg-lightgray':'padding-10 padding-left-25'">
                <a routerLink="/general/invite" routerLinkActive="active" class="color-darkgray">Invite Friends</a>
            </li>
            <li class="padding-10 padding-left-25">
                <a href="" (click)="onClickLogout();" class="color-darkgray">Logout</a>
            </li>
        </ul>
    </div>
</div>