/*******************************************************************************************************/


.border-radius-50p
{
    border-radius: 50% !important;
}


.cursor-pointer
{
    cursor: pointer !important;
}


/*******************************************************************************************************/



.max-height-100-px
{
   max-height : 100px !important;
}


.max-width-100-px
{
   max-width : 100px !important;
}


/******************************* list style type *******************************************************/

.list-style-none
{
    list-style-type: none !important;
}


.list-style-circle
{
    list-style-type: circle !important;
}


.list-style-disc
{
    list-style-type: disc !important;
}


.list-style-square
{
    list-style-type: square !important;
}


/********************************  social links bg color ******************************************************/


.youtube-bg-color
{
    background-color: #E62117 !important;
}

.purple-bg-color
{
    background-color: rgb(154, 89, 181) !important;
}

.instagram-bg-color
{
  background-color: rgb(213, 36, 114) !important;
}

.facebook-bg-color
{
  background-color: #3E5B99 !important;   
}

.pinterest-bg-color
{
    background-color: #D50C22 !important;
}

.instagram-bg-color 
{
    background-color: #FF0084;
}


/****************************** social links color ********************************************************/


.youtube-color
{
    color: #E62117 !important;
}

.purple-color
{
    color: rgb(154, 89, 181) !important;
}

.instagram-color
{
  color: rgb(213, 36, 114);
}

.facebook-color
{
  color: #3E5B99;   
}

.pinterest-color
{
    color: #D50C22 !important;
}

.instagram-color 
{
    color: #FF0084;
}

/**************************************************************************************/


.position-relative
{
    position: relative !important;
}

.position-inherit
{
    position: inherit;
}

.position-absolute
{
    position: absolute !important;
}


li
{
    list-style: none !important;
}

img
{
    max-width : 100%;
    max-height: 100%;
}

.overflow-hidden
{
    overflow: hidden !important;
}


/************************************************** font-em **************************************************************************/



.font-em-06
{
    font-size: 0.6em !important;
}

.font-em-07
{
    font-size: 0.7em !important;
}

.font-em-08
{
    font-size: 0.8em !important;
}

.font-em-09
{
    font-size: 0.9em !important;
}

.font-em-1
{
    font-size: 1em !important;
}

.font-em-11
{
    font-size: 1.1em !important;
}

.font-em-12
{
    font-size: 1.2em !important;
}

.font-em-13
{
    font-size: 1.3em !important;
}

.font-em-14
{
    font-size: 1.4em !important;
}

.font-em-15
{
    font-size: 1.5em !important;
}

.font-em-16
{
    font-size: 1.6em !important;
}

.font-em-17
{
    font-size: 1.7em !important;
}

.font-em-18
{
    font-size: 1.8em !important;
}

.font-em-19
{
    font-size: 1.9em !important;
}

.font-em-20
{
    font-size: 2.0em !important;
}


/************************************************** font-px **************************************************************************/



.font-px-88
{
    font-size: 8px !important;
}

.font-px-9
{
    font-size: 9px !important;
}

.font-px-10
{
    font-size: 10px !important;
}

.font-px-11
{
    font-size: 11px !important;
}

.font-px-12
{
    font-size: 12px !important;
}

.font-px-13
{
    font-size: 13px !important;
}

.font-px-14
{
    font-size: 14px !important;
}

.font-px-16
{
    font-size: 16px !important;
}

.font-px-18
{
    font-size: 18px !important;
}

.font-px-20
{
    font-size: 20px !important;
}

.font-px-22
{
    font-size: 22px !important;
}

.font-px-24
{
    font-size: 24px !important;
}

.font-px-28
{
    font-size: 28px !important;
}

.font-px-30
{
    font-size: 30px !important;
}

.font-px-32
{
    font-size: 32px !important;
}

.font-px-34
{
    font-size: 34px !important;
}

.font-px-35
{
    font-size: 35px !important;
}

.font-px-40
{
    font-size: 40px !important;
}

.font-px-45
{
    font-size: 45px !important;
}

.font-px-50
{
    font-size: 50px !important;
}

.font-px-55
{
    font-size: 55px !important;
}

.font-px-56
{
    font-size: 56px !important;
}

.font-px-60
{
    font-size: 60px !important;
}

.font-px-65
{
    font-size: 65px !important;
}

.font-px-70
{
    font-size: 70px !important;
}

.font-px-75
{
    font-size: 75px !important;
}

.font-px-80
{
    font-size: 80px !important;
}

.font-px-85
{
    font-size: 85px !important;
}

.font-px-90
{
    font-size: 90px !important;
}

.font-px-95
{
    font-size: 95px !important;
}

.font-px-100
{
    font-size: 100px !important;
}


/************************************************** color-text ***********************************************************************************/


.color-text-black
{
    color : #000 !important;
}

.color-text-white
{
    color : #fff !important;
}

.color-text-aaa
{
    color: #aaa !important;
}

.color-text-bbb
{
    color: #bbb !important;
}

.color-text-ccc
{
    color: #ccc !important;
}

.color-text-ddd
{
    color: #ddd !important;
}

.color-text-eee
{
    color: #eee !important;
}

.color-text-fff
{
    color: #fff !important;
}

.color-text-999
{
    color: #999 !important;
}

.color-text-888
{
    color: #888 !important;
}

.color-text-777
{
    color: #777 !important;
}

.color-text-666
{
    color: #666 !important;
}

.color-text-555
{
    color: #555 !important;
}

.color-text-444
{
    color: #444 !important;
}

.color-text-333
{
    color: #333 !important;
}

.color-text-222
{
    color: #222 !important;
}

.color-text-111
{
    color: #111 !important;
}

.color-text-000
{
    color: #000 !important;
}

/************************************************** color-background ***********************************************************************************/


.color-bg-transparent
{
    background-color : transparent !important;
}

.color-bg-black
{
    background-color : #000 !important;
}

.color-bg-white
{
    background-color : #fff !important;
}

.color-bg-aaa
{
    background-color: #aaa !important;
}

.color-bg-bbb
{
    background-color: #bbb !important;
}

.color-bg-ccc
{
    background-color: #ccc !important;
}

.color-bg-ddd
{
    background-color: #ddd !important;
}

.color-bg-eee
{
    background-color: #eee !important;
}

.color-bg-fff
{
    background-color: #fff !important;
}

.color-bg-999
{
    background-color: #999 !important;
}

.color-bg-888
{
    background-color: #888 !important;
}

.color-bg-777
{
    background-color: #777 !important;
}

.color-bg-666
{
    background-color: #666 !important;
}

.color-bg-555
{
    background-color: #555 !important;
}

.color-bg-444
{
    background-color: #444 !important;
}

.color-bg-333
{
    background-color: #333 !important;
}

.color-bg-222
{
    background-color: #222 !important;
}

.color-bg-111
{
    background-color: #111 !important;
}

.color-bg-000
{
    background-color: #000 !important;
}

/************************************************** float ***********************************************************************************/


.float-right-custom
{
    float : right !important;
}


.float-left-custom
{
    float : left !important;
}

.float-none-custom
{
    float : none !important;
}

.clear-custom
{
    clear: both !important;
}


/************************************************** display ***********************************************************************************/


.display-block
{
    display : block !important;
}


.display-inlineBlock
{
    display : inline-block !important;
}


.display-inline
{
    display : inline !important;
}


.display-none
{
    display : none !important;
}


.display-flex
{   
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display : flex !important;
}


/************************************************************* width in percentage *********************************************************************/


.width-0-p
{
    width: 0% !important;
}


.width-1-p
{
    width: 1% !important;
}


.width-2-p
{
    width: 2% !important;
}


.width-3-p
{
    width: 3% !important;
}


.width-4-p
{
    width: 4% !important;
}


.width-5-p
{
    width: 5% !important;
}


.width-6-p
{
    width: 6% !important;
}


.width-7-p
{
    width: 7% !important;
}


.width-8-p
{
    width: 8% !important;
}


.width-9-p
{
    width: 9% !important;
}


.width-10-p
{
    width: 10% !important;
}


.width-15-p
{
    width: 15% !important;
}


.width-20-p
{
    width: 20% !important;
}


.width-25-p
{
    width: 25% !important;
}


.width-30-p
{
    width: 30% !important;
}


.width-35-p
{
    width: 35% !important;
}


.width-40-p
{
    width: 40% !important;
}


.width-45-p
{
    width: 45% !important;
}


.width-48-p
{
    width: 48% !important;
}


.width-49-p
{
    width: 49% !important;
}


.width-50-p
{
    width: 50% !important;
}


.width-55-p
{
    width: 55% !important;
}


.width-60-p
{
    width: 60% !important;
}


.width-65-p
{
    width: 65% !important;
}


.width-70-p
{
    width: 70% !important;
}


.width-75-p
{
    width: 75% !important;
}


.width-80-p
{
    width: 80% !important;
}


.width-85-p
{
    width: 85% !important;
}


.width-90-p
{
    width: 90% !important;
}


.width-95-p
{
    width: 95% !important;
}


.width-100-p
{
    width: 100% !important;
}


/*************************************************************** height in percentage *******************************************************************/


.height-0-p
{
    height: 0% !important;
}


.height-1-p
{
    height: 1% !important;
}


.height-2-p
{
    height: 2% !important;
}


.height-3-p
{
    height: 3% !important;
}


.height-4-p
{
    height: 4% !important;
}


.height-5-p
{
    height: 5% !important;
}


.height-6-p
{
    height: 6% !important;
}


.height-7-p
{
    height: 7% !important;
}


.height-8-p
{
    height: 8% !important;
}


.height-9-p
{
    height: 9% !important;
}


.height-10-p
{
    height: 10% !important;
}


.height-15-p
{
    height: 15% !important;
}


.height-20-p
{
    height: 20% !important;
}


.height-25-p
{
    height: 25% !important;
}


.height-30-p
{
    height: 30% !important;
}


.height-35-p
{
    height: 35% !important;
}


.height-40-p
{
    height: 40% !important;
}


.height-45-p
{
    height: 45% !important;
}


.height-50-p
{
    height: 50% !important;
}


.height-55-p
{
    height: 55% !important;
}


.height-60-p
{
    height: 60% !important;
}


.height-65-p
{
    height: 65% !important;
}


.height-70-p
{
    height: 70% !important;
}


.height-75-p
{
    height: 75% !important;
}


.height-80-p
{
    height: 80% !important;
}


.height-85-p
{
    height: 85% !important;
}


.height-90-p
{
    height: 90% !important;
}


.height-95-p
{
    height: 95% !important;
}


.height-100-p
{
    height: 100% !important;
}


/**************************************************************** width in px *****************************************************************/


.width-0-px
{
    width : 0px !important;
}


.width-1-px
{
    width : 1px !important;
}


.width-2-px
{
    width : 2px !important;
}


.width-3-px
{
    width : 3px !important;
}


.width-4-px
{
    width : 4px !important;
}


.width-5-px
{
    width : 5px !important;
}


.width-6-px
{
    width : 6px !important;
}


.width-7-px
{
    width : 7px !important;
}


.width-8-px
{
    width : 8px !important;
}


.width-9-px
{
    width : 9px !important;
}


.width-10-px
{
    width : 10px !important;
}


.width-11-px
{
    width : 11px !important;
}


.width-12-px
{
    width : 12px !important;
}


.width-13-px
{
    width : 13px !important;
}


.width-14-px
{
    width : 14px !important;
}


.width-15-px
{
    width : 15px !important;
}


.width-16-px
{
    width : 16px !important;
}


.width-17-px
{
    width : 17px !important;
}


.width-18-px
{
    width : 18px !important;
}


.width-19-px
{
    width : 19px !important;
}


.width-20-px
{
    width : 20px !important;
}


.width-21-px
{
    width : 21px !important;
}


.width-22-px
{
    width : 22px !important;
}


.width-23-px
{
    width : 23px !important;
}


.width-24-px
{
    width : 24px !important;
}


.width-25-px
{
    width : 25px !important;
}


.width-26-px
{
    width : 26px !important;
}


.width-27-px
{
    width : 27px !important;
}


.width-28-px
{
    width : 28px !important;
}


.width-29-px
{
    width : 29px !important;
}


.width-30-px
{
    width : 30px !important;
}


.width-35-px
{
    width : 35px !important;
}


.width-40-px
{
    width : 40px !important;
}


.width-45-px
{
    width : 45px !important;
}


.width-50-px
{
    width : 50px !important;
}


.width-55-px
{
    width : 55px !important;
}


.width-60-px
{
    width : 60px !important;
}


.width-65-px
{
    width : 65px !important;
}


.width-70-px
{
    width : 70px !important;
}


.width-75-px
{
    width : 75px !important;
}


.width-80-px
{
    width : 80px !important;
}


.width-85-px
{
    width : 85px !important;
}


.width-90-px
{
    width : 90px !important;
}


.width-100-px
{
    width : 100px !important;
}


.width-105-px
{
    width : 105px !important;
}


.width-110-px
{
    width : 110px !important;
}


.width-115-px
{
    width : 115px !important;
}


.width-120-px
{
    width : 120px !important;
}


.width-125-px
{
    width : 125px !important;
}


.width-130-px
{
    width : 130px !important;
}


.width-135-px
{
    width : 135px !important;
}


.width-140-px
{
    width : 140px !important;
}


.width-145-px
{
    width : 145px !important;
}


.width-150-px
{
    width : 150px !important;
}


.width-160-px
{
    width : 160px !important;
}


.width-165-px
{
    width : 165px !important;
}


.width-168-px
{
    width : 168px !important;
}


.width-170-px
{
    width : 170px !important;
}


.width-172-px
{
    width : 172px !important;
}


.width-175-px
{
    width : 175px !important;
}


.width-200-px
{
    width : 200px !important;
}


.width-250-px
{
    width : 250px !important;
}


.width-300-px
{
    width : 300px !important;
}


.width-350-px
{
    width : 350px !important;
}


.width-400-px
{
    width : 400px !important;
}

.width-440-px
{
    width : 440px !important;
}


.width-450-px
{
    width : 450px !important;
}


.width-500-px
{
    width : 500px !important;
}


.width-550-px
{
    width :550px !important;
}


.width-600-px
{
    width : 600px !important;
}


.width-650-px
{
    width : 650px !important;
}


.width-700-px
{
    width : 700px !important;
}


.width-750-px
{
    width : 750px !important;
}


.width-800-px
{
    width : 800px !important;
}


.width-950-px
{
    width : 950px !important;
}


.width-1000-px
{
    width : 1000px !important;
}


/**************************************************************** height in px *****************************************************************/


.height-0-px
{
    height : 0px !important;
}


.height-1-px
{
    height : 1px !important;
}


.height-2-px
{
    height : 2px !important;
}


.height-3-px
{
    height : 3px !important;
}


.height-4-px
{
    height : 4px !important;
}


.height-5-px
{
    height : 5px !important;
}


.height-6-px
{
    height : 6px !important;
}


.height-7-px
{
    height : 7px !important;
}


.height-8-px
{
    height : 8px !important;
}


.height-9-px
{
    height : 9px !important;
}


.height-10-px
{
    height : 10px !important;
}


.height-11-px
{
    height : 11px !important;
}


.height-12-px
{
    height : 12px !important;
}


.height-13-px
{
    height : 13px !important;
}


.height-14-px
{
    height : 14px !important;
}


.height-15-px
{
    height : 15px !important;
}


.height-16-px
{
    height : 16px !important;
}


.height-17-px
{
    height : 17px !important;
}


.height-18-px
{
    height : 18px !important;
}


.height-19-px
{
    height : 19px !important;
}


.height-20-px
{
    height : 20px !important;
}


.height-21-px
{
    height : 21px !important;
}


.height-22-px
{
    height : 22px !important;
}


.height-23-px
{
    height : 23px !important;
}


.height-24-px
{
    height : 24px !important;
}


.height-25-px
{
    height : 25px !important;
}


.height-30-px
{
    height : 30px !important;
}


.height-35-px
{
    height : 35px !important;
}


.height-40-px
{
    height : 40px !important;
}


.height-45-px
{
    height : 45px !important;
}


.height-50-px
{
    height : 50px !important;
}


.height-55-px
{
    height : 55px !important;
}


.height-60-px
{
    height : 60px !important;
}


.height-65-px
{
    height : 65px !important;
}


.height-70-px
{
    height : 70px !important;
}


.height-75-px
{
    height : 75px !important;
}


.height-80-px
{
    height : 80px !important;
}


.height-85-px
{
    height : 85px !important;
}


.height-90-px
{
    height : 90px !important;
}


.height-95-px
{
    height : 95px !important;
}


.height-100-px
{
    height : 100px !important;
}


.height-105-px
{
    height : 105px !important;
}


.height-110-px
{
    height : 110px !important;
}


.height-115-px
{
    height : 115px !important;
}


.height-120-px
{
    height : 120px !important;
}


.height-125-px
{
    height : 125px !important;
}


.height-130-px
{
    height : 130px !important;
}


.height-135-px
{
    height : 135px !important;
}


.height-140-px
{
    height : 140px !important;
}


.height-145-px
{
    height : 145px !important;
}


.height-150-px
{
    height : 150px !important;
}


.height-200-px
{
    height : 200px !important;
}


.height-220-px
{
    height : 220px !important;
}


.height-250-px
{
    height : 250px !important;
}


.height-300-px
{
    height : 300px !important;
}


.height-350-px
{
    height : 350px !important;
}


.height-400-px
{
    height : 400px !important;
}


.height-450-px
{
    height : 450px !important;
}


.height-500-px
{
    height : 500px !important;
}


.height-550-px
{
    height :550px !important;
}


.height-600-px
{
    height : 600px !important;
}


.height-650-px
{
    height : 650px !important;
}


.height-700-px
{
    height : 700px !important;
}


.height-750-px
{
    height : 750px !important;
}


.height-800-px
{
    height : 800px !important;
}


.height-950-px
{
    height : 950px !important;
}


.height-1000-px
{
    height : 1000px !important;
}


/************************************************************** height in vh *************************************************************************/


.height-10-vh
{
    height : 10vh !important;
}


.height-20-vh
{
    height : 20vh !important;
}


.height-30-vh
{
    height : 30vh !important;
}


.height-40-vh
{
    height : 40vh !important;
}


.height-50-vh
{
    height : 50vh !important;
}


.height-60-vh
{
    height : 60vh !important;
}


.height-70-vh
{
    height : 70vh !important;
}


.height-80-vh
{
    height : 80vh !important;
}


.height-84-vh
{
    height : 84vh !important;
}


.height-90-vh
{
    height : 90vh !important;
}

.height-91-vh
{
    height : 91vh !important;
}

.height-92-vh
{
    height : 92vh !important;
}

.height-93-vh
{
    height : 93vh !important;
}

.height-94-vh
{
    height : 94vh !important;
}


.height-95-vh
{
    height : 95vh !important;
}


.height-98-vh
{
    height : 98vh !important;
}


.height-100-vh
{
    height : 100vh !important;
}


/************************************************************letter spacing ********************************************************************/


.letter-spacing-0-1-px
{
    letter-spacing: 0.1px !important;
}

.letter-spacing-0-2-px
{
    letter-spacing: 0.2px !important;
}

.letter-spacing-0-3-px
{
    letter-spacing: 0.3px !important;
}

.letter-spacing-0-4-px
{
    letter-spacing: 0.4px !important;
}

.letter-spacing-0-5-px
{
    letter-spacing: 0.5px !important;
}

.letter-spacing-0-6-px
{
    letter-spacing: 0.6px !important;
}

.letter-spacing-0-7-px
{
    letter-spacing: 0.7px !important;
}

.letter-spacing-0-8-px
{
    letter-spacing: 0.8px !important;
}

.letter-spacing-0-9-px
{
    letter-spacing: 0.9px !important;
}

.letter-spacing-1px
{
    letter-spacing: 1px !important;
}

.letter-spacing-2px
{
    letter-spacing: 2px !important;
}

.letter-spacing-3px
{
    letter-spacing: 3px !important;
}

.letter-spacing-4px
{
    letter-spacing: 4px !important;
}

.letter-spacing-5px
{
    letter-spacing: 5px !important;
}

.letter-spacing-6px
{
    letter-spacing: 6px !important;
}


/************************************************************* line-height *******************************************************************/


.line-height-10px
{
    line-height: 10px !important;
}

.line-height-15px
{
    line-height: 15px !important;
}

.line-height-20px
{
    line-height: 20px !important;
}

.line-height-22px
{
    line-height: 22px !important;
}

.line-height-24px
{
    line-height: 24px !important;
}

.line-height-25px
{
    line-height: 25px !important;
}

.line-height-26px
{
    line-height: 26px !important;
}

.line-height-28px
{
    line-height: 28px !important;
}

.line-height-30px
{
    line-height: 30px !important;
}

.line-height-32px
{
    line-height: 32px !important;
}

.line-height-34px
{
    line-height: 34px !important;
}

.line-height-36px
{
    line-height: 36px !important;
}

.line-height-38px
{
    line-height: 38px !important;
}

.line-height-40px
{
    line-height: 40px !important;
}

.line-height-50px
{
    line-height: 50px !important;
}

.line-height-60px
{
    line-height: 60px !important;
}


/************************************************************* border *******************************************************************/


.border-none
{
    border: none !important;
}


.border-radius-50-p
{
    border-radius: 50% !important;
}

.border-radious-0
{
    border-radius: 0 !important;
}


/************************************************************* font-bold / font-weight *******************************************************************/


.font-weight-100
{
    font-weight: 100 !important;
}


.font-weight-200
{
    font-weight: 200 !important;
}


.font-weight-300
{
    font-weight: 300 !important;
}


.font-weight-400
{
    font-weight: 400 !important;
}


.font-weight-500
{
    font-weight: 500 !important;
}


.font-weight-600
{
    font-weight: 600 !important;
}


.font-weight-700
{
    font-weight: 700 !important;
}


.font-weight-800
{
    font-weight: 800 !important;
}


.font-weight-900
{
    font-weight: 900 !important;
}


.font-weight-1000
{
    font-weight: 1000 !important;
}



