<div [hidden]="query" id="search_suggestions" class="dropdown-content div-white-box-shadow color-bg-white padding-15 padding-left-40" style="position: absolute; border-width: 0px 1px 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgb(228, 228, 228); border-bottom-color: rgb(228, 228, 228); border-left-color: rgb(228, 228, 228); border-image: initial; border-radius: 0px 0px 5px 5px; width: 514px; z-index: 999; border-top-style: initial; border-top-color: initial; margin-top: -2px;">
  <ul class="padding-0">
    <li class="padding-top-3 padding-bottom-3 color-gray font-weight-600">Popular Categories</li>
    <li class="padding-top-3 padding-bottom-3 color-darkgray">Photographer</li>
    <li class="padding-top-3 padding-bottom-3 color-darkgray">Entertainer</li>
    <li class="padding-top-3 padding-bottom-3 color-darkgray">Wedding Planner</li>
    <li class="padding-top-3 padding-bottom-3 font-em-09 color-blue">See all</li>
  </ul>
  <ul class="padding-0 margin-top-10">
    <li class="padding-top-3 padding-bottom-3 color-gray font-weight-600">Recent Searches</li>
    <li class="padding-top-3 padding-bottom-3 color-darkgray">Dog Walker</li>
    <li class="padding-top-3 padding-bottom-3 color-darkgray">DJ Artist</li>
    <li class="padding-top-3 padding-bottom-3 color-darkgray">House Painters</li>
    <li class="padding-top-3 padding-bottom-3 font-em-09 color-blue">See all</li>
  </ul>
</div>
<div [hidden]="!query" id="search_suggestions_typing" class="dropdown-content div-white-box-shadow color-bg-white padding-15 padding-left-40" style="position: absolute; border-width: 0px 1px 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgb(228, 228, 228); border-bottom-color: rgb(228, 228, 228); border-left-color: rgb(228, 228, 228); border-image: initial; border-radius: 0px 0px 5px 5px; width: 514px; z-index: 999; border-top-style: initial; border-top-color: initial; margin-top: -2px;">
	<ul class="padding-0">
    <li class="padding-top-3 padding-bottom-3 color-gray font-weight-600">Suggestions</li>
    <li class="padding-top-3 padding-bottom-3 color-darkgray">Dog Walk</li>
    <li class="padding-top-3 padding-bottom-3 color-darkgray">Dog Care</li>
    <li class="padding-top-3 padding-bottom-3 color-darkgray">Dog Cares</li>
    <li class="padding-top-3 padding-bottom-3 font-em-09 color-blue">See all</li>
  </ul>
</div>
