<h3 class="font-weight-600 margin-top-10">Change Password</h3>


<!-- <form action="" id="form_changepassword"> -->

<div class="col-xs-12 col-md-12 padding-left-0 margin-top-40">

</div>
<form novalidate [formGroup]="form">
    <div class="col-xs-12 col-md-12 padding-left-0 margin-top-40">

        <p class="color-gray">Old Password</p>
        <input formControlName="old_pass" type="password" class="form-control color-darkgray" required>

        <div class="help-block text-small text-danger" style="text-align: left" *ngIf="form.get('old_pass').invalid &&  form.get('old_pass').dirty">

            <div *ngIf="form.get('old_pass').hasError('required')">
                Please enter old password field
            </div>

            <div *ngIf="form.get('old_pass').hasError('invalid_old')">
                Invalid old password, please retry
            </div>
        </div>

    </div>



    <div class="col-xs-12 col-md-12 padding-left-0 margin-top-40">

        <p class="color-gray">New Password</p>
        <input type="password" formControlName="new_pass" class="form-control color-darkgray" required>

        <div class="help-block text-small" style="text-align: left" *ngIf="form.get('new_pass').invalid &&  form.get('new_pass').dirty">

            <div *ngIf="form.get('new_pass').hasError('required')">
                Please enter new password field
            </div>

            <div *ngIf="form.get('new_pass').hasError('minlength')">
                The password must contain minimum 6 characters
            </div>
        </div>

    </div>



    <div class="col-xs-12 col-md-12 padding-left-0 margin-top-40">

        <p class="color-gray">Confirm New Password</p>
        <input type="password" formControlName="new_pass_confirm" class="form-control color-darkgray" required>

        <div class="help-block text-small" style="text-align: left" *ngIf="form.get('new_pass_confirm').invalid &&  form.get('new_pass_confirm').dirty">

            <div *ngIf="form.get('new_pass_confirm').hasError('required')">
                Please enter new password confirmation field
            </div>


            <div *ngIf="form.get('new_pass_confirm').hasError('minlength')">
                The password must contain minimum 6 characters
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-md-12 padding-left-0 margin-top-40">
        <input type="button" (click)="onSave();" value="Change Password" class="form-control bg-blue color-text-white" required>
    </div>

</form>

<!-- </form> -->

<div class="clearfix"></div>