<div id="index_main" class="col-xs-12 col-md-12 padding-0 padding-bottom-60 review_order" style="background-color:rgb(249,249,249)">

   <div class="container">

        <div id="index_sidepanel" class="request_cancellation col-md-7 col-sm-7 col-xs-12 padding-left-60 margin-top-25">

            <div class="col-xs-12 col-md-12 color-bg-white div-white-box-shadow margin-top-30 padding-25" style="border:1px solid #e4e4e4; border-radius:3px; border-top:0px; position:relative;">

                  <div class="col-xs-12 col-md-12 padding-right-0 padding-0">

                     <div class="col-xs-12 col-md-12">
                         <h4 class="color-text-black font-weight-600 margin-top-0">Request Cancellation</h4>
                         <p class="color-darkgray margin-top-20">Reason to Cancel</p>
                     </div>

                       <div class="col-xs-12 col-md-12 margin-top-5 padding-0">
                           <div class="col-xs-1 col-md-1">
                               <input checked type="checkbox" class="form-control">
                           </div>
                           <div class="col-xs-11 col-md-11 padding-0" style="margin: -2px;">
                               <p class="color-gray">Seller did not completed on time</p>
                           </div>
                       </div>

                       <div class="col-xs-12 col-md-12 margin-top-5 padding-0">
                           <div class="col-xs-1 col-md-1">
                               <input type="checkbox" class="form-control">
                           </div>
                           <div class="col-xs-11 col-md-11 padding-0" style="margin: -2px;">
                               <p class="color-gray">Poor quality of service</p>
                           </div>
                       </div>

                       <div class="col-xs-12 col-md-12 margin-top-5 padding-0">
                           <div class="col-xs-1 col-md-1">
                               <input type="checkbox" class="form-control">
                           </div>
                           <div class="col-xs-11 col-md-11 padding-0" style="margin: -2px;">
                               <p class="color-gray">Other</p>
                           </div>
                       </div>

                       <div class="col-xs-12 col-md-12">
                            <p class="color-darkgray margin-0 margin-top-15">Message to Seller</p>
                       </div>

                       <div class="col-xs-12 col-md-12 margin-top-5">
                          <textarea name="" class="form-control boxshadow-none" id="" cols="30" rows="5"></textarea>
                       </div>

                       <div class="col-xs-12 col-md-12 margin-top-25">
                             <li id="li_addService" onclick="" class="display-inlineBlock pull-right">
                                 <a class="text-uppercase margin-top-40 bg-blue color-text-white font-px-14 font-weight-600 padding-6 padding-left-20 padding-right-20" style="border-radius:15px;">Send</a>
                             </li>

                             <li onclick="btn_menu_f(this);" id="li_cancel" class="display-inlineBlock pull-right margin-right-20">
                                 <a class="margin-top-40 font-px-14 font-weight-600 color-darkgray text-uppercase">Cancel</a>
                             </li>
                       </div>

                  </div>



              </div>


            <div class="col-xs-12 col-md-12 color-bg-white div-white-box-shadow margin-top-30 padding-25" style="border:1px solid #e4e4e4; border-radius:3px; border-top:0px;">

               <h4 class="color-text-black font-weight-600 margin-top-0">Next Step</h4>

               <img src="assets/images/icons/order_fulfillment_process.png" alt="">

               <div class="col-xs-12 col-md-12 padding-0 margin-bottom-30" style="position:relative;">
                   <p class="color-gray display-inlineBlock font-em-09" style="position:absolute; left:0px; top:8px;">Paid on 10/25</p>
                   <p class="color-gray display-inlineBlock font-em-09" style="position:absolute; left:23%; top:8px;">Scheduled</p>
                   <p class="color-gray display-inlineBlock font-em-09" style="position:absolute; right:48%; top:8px;">Start</p>
                   <p class="color-gray display-inlineBlock font-em-09" style="position:absolute; right:23%; top:8px;">Complete</p>
                   <p class="color-gray display-inlineBlock font-em-09" style="position:absolute; right:0px; top:8px;">Acceptance</p>
               </div>

            </div>


        </div>


      <!----------------------------------------------------------------------------------------------------------------->



        <div id="index_contentarea" class="col-md-5 col-sm-5 col-xs-12">

           <div class="col-xs-12 col-md-12 margin-top-10">

             <div class="col-xs-12 col-md-12 padding-top-15">

                  <div class="col-xs-12 col-md-12 color-bg-white div-white-box-shadow margin-top-30 padding-25">

                      <div class="col-xs-12 col-md-12 padding-0" style="border-bottom:1px solid #e4e4e4;">
                         <h4 class="color-text-black font-weight-600 margin-top-0">Order Detail</h4>
                      </div>

                      <div class="col-xs-12 col-md-12 padding-0 margin-top-20" style="position:relative;">

                          <img src="assets/images/order_fulfillment_profile.png" style="width:44px; height:44px; border-radius:50%; position:absolute; top:0px; right:5px;" alt="">

                          <p class="color-darkgray">Dog Walk Service</p>
                          <p class="color-darkgray font-em-09 margin-bottom-5">$10 for 1 hour = 01</p>
                          <p class="color-darkgray font-em-09 margin-bottom-5">Transaction Fee: $3.00</p>
                          <p class="color-darkgray font-em-09 margin-bottom-5">Total: $30.00</p>
                      </div>

                      <div class="col-xs-12 col-md-12 padding-0 margin-top-10">
                          <p class="color-darkgray pull-left font-em-09">Order No: 123456789</p>
                          <p class="color-blue pull-right font-em-09">Paid On 11/19</p>
                      </div>

                  </div>

             </div>

           </div>


        </div>



   </div>

</div>
