<div *ngIf="user" class="text-center padding-0 width-500-px margin-left-right-auto color-bg-white">

    <div class="col-xs-12 col-md-12 padding-50 padding-bottom-30 color-bg-white">

        <div *ngIf="loading" class="overlay-spinner">
            <app-spinner [show]="true"></app-spinner>
        </div>

        <img src="assets/images/logo.png" class="margin-bottom-40" alt="">

        <form class="col-xs-12 col-md-12 padding-0 margin-bottom-30" (ngSubmit)="submit()" [formGroup]="form">

            <div class="sign-profile" style="margin-bottom: 30px">
                <p class="err-msg" *ngIf="profilePicErr">Profile picture is required</p>
                <div class="avatar-upload">
                    <img [src]="avaimg" class="circle-type" style="width:100px;height:100px;">
                    <div style="position: absolute;bottom: 9px;float: right; width: 61%; right: 0;">
                        <img width="25px" class="img-responsive" src="assets/images/icons/plus.png">
                    </div>
                    <div class="btn-fileupload">
                        <input type="file" accept="image/*" (change)="fileEvent($event)">
                    </div>
                </div>
            </div>

            <div class="form-group" [ngClass]="{
        'has-error': form.get('firstName').invalid &&
            form.get('firstName').dirty && submited
    }">
                <input type="text" formControlName="firstName" class="form-control" placeholder="First name">

                <div class="help-block text-small" style="text-align: left" *ngIf="form.get('firstName').invalid &&
            form.get('firstName').dirty && submited">

                    <div *ngIf="form.get('firstName').hasError('required')">
                        first name field is required
                    </div>
                </div>
            </div>

            <div class="form-group" [ngClass]="{
        'has-error': form.get('lastName').invalid &&
            form.get('lastName').dirty && submited
    }">
                <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">

                <div class="help-block text-small" style="text-align: left" *ngIf="form.get('lastName').invalid &&
            form.get('lastName').dirty && submited">

                    <div *ngIf="form.get('lastName').hasError('required')">
                        last name field is required
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="d-flex">
                    <input type="text" readonly class="form-control"
                    style="border-top-right-radius: 0; border-bottom-right-radius: 0"
                    value="{{ location && ( location.city + ' ' + location.country ) }}">

                    <button (click)="getCurrentLocation()" type="button"
                    style="height: 40px; border-top-left-radius: 0; border-bottom-left-radius: 0" class="btn btn-default">
                        <i class="fa fa-map-marker"></i>
                    </button>

                </div>
            </div>



            <button type="submit" class="bg-blue color-text-white font-weight-600 font-px-16 height-40-px padding-top-7 border-none width-400-px">Sign Up
            </button>


            <p class="color-gray font-em-09 margin-top-100" style="line-height:20px;">By continuing, you agree to Pointter's
                <br/>
                <span class="color-darkgray">Terms of Service, Privacy Policy</span>
            </p>

            <div class="col-xs-12 col-md-12 padding-0 color-bg-white padding-top-15 padding-bottom-15" style="border-top: 1px solid #e9e9e9;">
                <p class="color-gray margin-top-5">Already a member?
                    <span (click)="goToSignin()" style="cursor:pointer;" class="color-blue">Sign In</span>
                </p>
            </div>
        </form>

    </div>
</div>
