.err-msg {
  color: #a94442; 
}
.form-group .form-control {
  font-weight: 600;
  margin-bottom: 10px;
  height: 40px;
  box-shadow: none;
  border:1px solid #e9e9e9;
}

.form-group.has-error .form-control {
  border-color: #a94442;
}

.text-small {
  font-size: 11px;
}

.demo #search_places {
    height: 100px;
}

.location {
    text-align: left;
    display: block;
    margin-bottom: 20px;
    height: 50px;
}

.avatar-upload {
    position: relative;
    width: 106px;
    margin: 0 auto;
}

.btn-fileupload {
    position: absolute;
    top: 0;
    height: 106px;
    width: 106px;
    opacity: 0;
}

.btn-fileupload input {
    width: 106px;
    height: 106px;
}

.btn-search {
    float: right;
    margin-left: -61px;
    height: 39px;
    width: 55px;
    background-color: white;
    border: 1px solid #cccccc;
    border-left: none;
    border-bottom: none;
}
