h4 {
    height: 17px !important;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #555;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1.2s linear infinite;
}

.loader-div {
    left: 45%;
    position: absolute;
    margin-top: 18%;
    margin-bottom: 20px;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


#myCarousel {
    position: relative;
  
    .item > img {
      width: 100%;
    }
  

    .carousel-indicators {
      bottom: -50px !important;
    }
  
    .carousel-indicators li {
      background: #e9e9e9;
      border: 0;
      width: 8px;
      height: 8px;
    }
  
    .carousel-indicators li.active {
      background: #aeb3bb;
      border: 0;
      width: 8px;
      height: 8px;
      margin: 1px;
    }
  }