<div *ngIf="userProfileLoaded && currentUser" id="index_main" style="background-color:rgb(249,249,249)">
    <div style="max-width: 1400px;" class="row margin-left-right-auto">
        <div id="index_sidepanel" class="col-xs-12 col-md-4 padding-left-60 margin-top-30">

            <div class="col-xs-12 col-md-12 padding-0 text-center color-bg-white div-white-box-shadow padding-top-40">

                <div style="position:relative;" class="text-center">
                    <img [src]="user.profilePic" alt="" style="margin-left:auto; margin-right:auto;border-radius: 50%;" width="120px" height="120px">
                    <img src="assets/images/icons/online@2x.png" style="position:absolute; bottom:-8px; right:46%;" width="18px" height="18px"
                        alt="">
                </div>
                <h3  class="color-text-black font-weight-600 padding-bottom-15 text-center">{{user.firstName}} {{user.lastName}}</h3>


                <div class="d-flex justify-content-center">
                    <ng-container *ngIf="currentUser._id == user.id">
                        <a [routerLink]="['/setting/profile']" class="btn_menu_active padding-7 padding-right-30 padding-left-30 color-gray font-weight-600 margin-right-10"
                            style="border-color:#95989A !important; min-width: 150px">
                            Edit
                        </a>
                    </ng-container>

                    <ng-container *ngIf="currentUser._id != user.id">
                        <a class="btn_menu_active padding-7 padding-right-30 padding-left-30 color-gray font-weight-600 margin-right-10" style="border-color:#95989A !important;min-width: 150px">
                            Follow
                        </a>

                        <a data-toggle="modal" data-target="#" (click)="openChat()" class="btn_menu_active padding-7 padding-right-30 padding-left-30 color-gray font-weight-600"
                            style="border-color:#95989A !important;min-width: 150px">
                            <img src="assets/images/icons/envelope.png" class="margin-right-3" width="16px" height="12px" alt=""> Message
                        </a>
                    </ng-container>
                </div>




                <div class="col-xs-12 col-md-12 padding-0 margin-top-40 padding-bottom-20">
                    <div class="col-xs-12 col-md-12 padding-right-5 padding-left-5">
                        <div class="col-xs-5 col-md-6 padding-right-0 text-left">
                            <div class="col-md-2 padding-0">
                                <i class="fa fa-briefcase color-gray"></i>
                            </div>
                            <div class="col-md-10 padding-0">
                                <p class="font-em-09 display-inlineBlock color-darkgray">Company</p>
                            </div>
                        </div>
                        <div class="col-xs-7 col-md-6 padding-left-0 text-right">
                            <p class="font-em-09 color-gray">{{user.companyName}}</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 padding-right-5 padding-left-5">
                        <div class="col-xs-5 col-md-6 padding-right-0 text-left">
                            <div class="col-md-2 padding-0">
                                <span class="width-20-px">
                                    <i class="fa fa-map-marker color-gray"></i>
                                </span>
                            </div>
                            <div class="col-md-10 padding-0">
                                <p class="font-em-09 display-inlineBlock color-darkgray">Location</p>
                            </div>
                        </div>
                        <div class="col-xs-7 col-md-6 padding-left-0 text-right">
                            <p class="font-em-09 color-gray">{{location}}</p>
                        </div>
                    </div>
                    <div *ngIf="user.phone" class="col-xs-12 col-md-12 padding-right-5 padding-left-5">
                        <div class="col-xs-5 col-md-6 padding-right-0 text-left">
                            <div class="col-md-2 padding-0">
                                <i class="fa fa-phone color-gray"></i>
                            </div>
                            <div class="col-md-10 padding-0">
                                <p class="font-em-09 display-inlineBlock color-darkgray">Phone</p>
                            </div>
                        </div>
                        <div class="col-xs-7 col-md-6 padding-left-0 text-right">
                            <p class="font-em-09 color-gray"> {{ user.phone }} </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 padding-left-20 padding-top-20 padding-bottom-20" style="border-top:1px solid #ccc;">
                    <h4 class="color-darkgray text-left">Description</h4>
                    <p class="text-left margin-top-20" style="line-height:23px;">
                        {{user.description}}
                    </p>
                </div>
                <!--------------------------------------------------- Service Metrics ---------------------------------------------------------------->
                <div class="col-xs-12 col-md-12 padding-left-20 padding-top-20 padding-bottom-20" style="border-top:1px solid #ccc;">
                    <h4 class="color-darkgray text-center">User Metrics</h4>
                    <div class="col-xs-12 col-md-12 padding-0 padding-top-20">
                        <div class="col-xs-4 col-md-4 padding-right-0">
                            <div class="col-xs-12 col-md-12 padding-0">
                                <div class="border-radius-50p pull-left" style="border:1px solid #95989A; width:44px; height:44px;">
                                    <p class="color-darkgray padding-top-13 font-px-12 text-center">{{user.userMetrics.avgOnTime}}%</p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 padding-0 margin-top-5">
                                <p class="color-darkgray font-px-12 text-left">On time</p>
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-4 padding-0">
                            <div class="col-xs-12 col-md-12 padding-0">
                                <div class="border-radius-50p margin-left-right-auto" style="border:1px solid #95989A; width:44px; height:44px;">
                                    <p class="color-darkgray padding-top-13 font-px-12 text-center">{{user.userMetrics.avgQuality}}</p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 padding-0 margin-top-5">
                                <p class="color-darkgray font-px-12 text-center">Quality</p>
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-4 padding-0">
                            <div class="col-xs-12 col-md-12 padding-left-0">
                                <div class="border-radius-50p pull-right" style="border:1px solid #95989A; width:44px; height:44px;">
                                    <p class="color-darkgray padding-top-13 font-px-12 text-center">{{user.userMetrics.avgResponseTime}}hr</p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 padding-0 margin-top-5">
                                <p class="color-darkgray font-px-12 text-center">Avg. response
                                    <br/> time
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 padding-0 padding-top-10">

                        <div class="col-xs-12 col-md-12 padding-0">

                            <div class="col-md-1 col-xs-2 padding-0">
                                <i class="fa fa-briefcase color-mediumgray font-px-16 margin-top-3"></i>
                            </div>

                            <div class="col-md-10 col-xs-10 padding-right-0">
                                <p class="color-gray text-left">
                                    <span class="color-darkgray">{{user.userMetrics.numOrdersCompleted}}</span> service order completed
                                </p>
                            </div>

                        </div>


                        <div class="col-xs-12 col-md-12 padding-0 margin-top-10">

                            <div class="col-md-1 col-xs-2 padding-0">
                                <i class="fa fa-star color-mediumgray font-px-16 margin-top-3"></i>
                            </div>

                            <div class="col-md-10 col-xs-10 padding-right-0">
                                <p class="color-gray text-left">
                                    <span class="color-darkgray">{{user.userMetrics.avgRating}}%</span> avg rating
                                </p>
                            </div>

                        </div>


                        <div class="col-xs-12 col-md-12 padding-0 margin-top-10">

                            <div class="col-md-1 col-xs-2 padding-0">
                                <i class="fa fa-users color-mediumgray font-px-16 margin-top-3"></i>
                            </div>

                            <div class="col-md-10 col-xs-10 padding-right-0">
                                <p class="color-gray text-left">
                                    <span class="color-darkgray">{{user.userMetrics.avgWillingToBuyAgain}}%</span> of customers will buy this service
                                    again
                                </p>
                            </div>

                        </div>

                    </div>

                </div>



                <!--------------------------------------------------- Service Details ---------------------------------------------------------------->



                <div class="col-xs-12 col-md-12 padding-top-20 padding-bottom-40" style="border-top:1px solid #ccc;">

                    <h4 class="color-darkgray text-center">Service Details</h4>

                    <div class="col-xs-4 col-md-4 padding-0 margin-top-10">

                        <div class="col-md-6 col-xs-6 padding-0">
                            <div class="border-radius-50p margin-left-right-auto padding-top-5 margin-top-2" style="border:1px solid #95989A; width:32px; height:32px;">
                                <img src="assets/images/p.png" alt="">
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-6 padding-0 padding-left-2">
                            <p class="color-gray text-left color-darkgray margin-0">234</p>
                            <p class="color-gray text-left color-darkgray margin-0 font-em-07">Points</p>
                        </div>

                    </div>


                    <div class="col-xs-4 col-md-4 padding-0 margin-top-10">

                        <div class="col-md-6 col-xs-6 padding-0">
                            <div class="border-radius-50p margin-left-right-auto padding-top-5 margin-top-2" style="border:1px solid #95989A; width:32px; height:32px;">
                                <i class="fa fa-heart-o color-gray"></i>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-6 padding-0 padding-left-2">
                            <p class="color-gray text-left color-darkgray margin-0">234</p>
                            <p class="color-gray text-left color-darkgray margin-0 font-em-07">Likes</p>
                        </div>

                    </div>


                    <div class="col-xs-4 col-md-4 padding-0 margin-top-10">

                        <div class="col-md-6 col-xs-6 padding-0">
                            <div class="border-radius-50p margin-left-right-auto padding-top-5 margin-top-2" style="border:1px solid #95989A; width:32px; height:32px;">
                                <i class="fa fa-eye color-gray"></i>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-6 padding-0 padding-left-2">
                            <p class="color-gray text-left color-darkgray margin-0">234</p>
                            <p class="color-gray text-left color-darkgray margin-0 font-em-07">Watching</p>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div style="max-width:820px" id="index_contentarea" class="col-xs-12 col-md-8 margin-top-30">


            <!---------------------------------------------------------------------------------------------------------------------------------->

            <div class="" id="banner_area">


                <div *ngIf="user.profileBackgroundMedia && user.profileBackgroundMedia.length <= 0 && currentUser._id != user.id">
                    <div class="d-flex flex-column justify-content-center align-items-center" style="background: #AEB3BB; height: 156px; border-radius:5px;">

                        <img src="assets/images/icons/photo.png">

                        <div class="text-bold" style="color:white; margin-top: 15px;">
                            No Available background image
                        </div>
                    </div>
                </div>

                <div *ngIf="user.profileBackgroundMedia && user.profileBackgroundMedia.length <= 0 && currentUser._id == user.id">
                    <div class="d-flex flex-column justify-content-center align-items-center" style="background: #AEB3BB; height: 156px; border-radius:5px;">

                        <img src="assets/images/icons/photo.png">

                        <div class="text-bold margin-bottom-10" style="color:white; margin-top: 15px;">
                            Add a Cover Photo
                        </div>

                       <div>
                           <label for="mediaIn">
                            <i style="color: white; font-size: 25px" class="fa fa-plus-circle cursor-pointer" aria-hidden="true"></i>
                           </label>

                           <input (change)="onUploadBackground($event)" style="display: none" id="mediaIn" type="file" />
                        </div>
                        </div>
                </div>

                <swiper *ngIf="user.profileBackgroundMedia && user.profileBackgroundMedia.length > 0" [config]="swiperConfig">
                    <div *ngFor="let media of user.profileBackgroundMedia; let i = index;">
                        <div class=" imgstyleFull padding-0" style="height: 156px;background-color:#F0F0F3; display:flex; justify-content:center; align-content:center; align-items:center;">
                            <img width="100%" *ngIf="media.mediaType.startsWith('image')" [src]="media.fileName">
                        </div>
                    </div>
                </swiper>

            </div>


            <div class="user_services col-xs-12 col-md-12 padding-0" id="content_area">

                <div class="col-xs-12 col-md-12 margin-bottom-15 margin-top-30">

                    <h4 class="color-text-black text-left font-weight-600 display-inlineBlock" style="vertical-align:-webkit-baseline-middle;">{{user.firstName + ' ' + user.lastName}}'s Services</h4>

                    <input type="submit" class="pull-right btn btn-default color-blue color-bg-white font-weight-600 padding-left-30 padding-right-30"
                        style="border-radius:20px; border-color:#00B4F1;" value="Get Custom Offer" data-toggle="modal" data-target="#modal_sendCustomOffer"
                        data-dismiss="modal">
                </div>

                <div class="services col-xs-12 col-md-12 padding-0 " id="content_area ">
                    <div *ngIf="userServicesLoaded">
                        <div *ngIf="docs.length > 0" class="d-flex" style="flex-wrap: wrap; justify-content: space-between">
                            <div class="services" *ngFor="let doc of docs; index as i" style="flex-grow: 1;width: 250px; max-width: 250px;" class="height-100-p padding-0 margin-bottom-20  sub_div div-white-box-shadow-7 div-white-box-shadow">
                                <a [routerLink]="['/service/detail/'+doc.service.id]" routerLinkActive="active">
                                    <div class="col-md-12 col-xs-12 sub_div_image" [ngStyle]="{'background': '#fff url(' + doc.service.media.fileName + ') no-repeat 0 0', 'background-size' : '100% 100%'}"></div>
                                </a>

                                <div class="col-md-12 col-xs-12 ">
                                    <h4 class="text-bold">{{doc.service.description}}</h4>
                                    <p *ngIf="doc.service.prices" class="font-em-09 margin-bottom-5">
                                        <!-- ${{doc.service.prices.price}} -->
                                        <span>${{doc.service.prices.price*2}}</span> for {{doc.service.prices.time}} per {{doc.service.prices.timeUnitOfMeasure}}
                                    </p>

                                    <p *ngIf="doc.service.fulfillmentMethod.local || doc.service.fulfillmentMethod.store || doc.service.fulfillmentMethod.shipment"
                                        class="font-em-09 color-mediumgray">
                                        <span class="fa fa-map-marker"></span> {{doc.service.location[0].city}} , {{doc.service.location[0].state}}, {{
                                        user && ( turf(doc.service.location[0].geoJson, currentUser.location.geoJson) | truncateNumber)
                                        }} km
                                    </p>

                                    <p *ngIf="!(doc.service.fulfillmentMethod.local || doc.service.fulfillmentMethod.store || doc.service.fulfillmentMethod.shipment)"
                                        class="font-em-09 color-mediumgray">
                                        Online
                                    </p>

                                </div>
                                <div class="col-xs-12 col-md-12 sub_div_description">
                                    <div class="col-md-4 col-xs-4 padding-0 text-left">
                                        <img src="assets/images/p.png" alt="">
                                        <p class="color-mediumgray" style="font-size:12px;">{{doc.pointValue}}</p>
                                    </div>
                                    <div class="col-md-4 col-xs-4 padding-0 text-center">
                                        <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
                                        <p class="color-mediumgray" style="font-size:12px;">{{doc.numOrders}}</p>
                                    </div>
                                    <div class="col-md-4 col-xs-4 padding-0 text-right">
                                        <i class="fa fa-star color-mediumgray"></i>
                                        <p class="color-mediumgray" style="font-size:12px;">{{doc.avgRating}}%</p>
                                    </div>
                                </div>
                                <div [routerLink]="['/profile/', user.id]" id="service_detail_link" (click)="onSellerProfile(user.id);" class="cursor-pointer col-xs-12 col-md-12 padding-top-6 sub_div_footer"
                                    style="border-top:1px solid #e9e9e9;">
                                    <img [src]="user.profilePic" alt="img" style="border-radius:50%; width:24px; height:24px; margin-right:2px;">
                                    <p class="color-mediumgray font-em-09">{{user.firstName+' '+user.lastName}}</p>
                                    <p *ngIf="doc.service.promoted" class="p2 color-blue font-weight-600 pull-right margin-top-4" style="font-size:12px;">Promoted</p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="docs.length==0">
                            <p>No serivce lists</p>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="margin-top-100 text-bold text-center" style="max-width: 350px" *ngIf="userServicesLoaded && !docs && currentUser._id == user.id">
                            <img style="width: 80px; height: 80px" src="assets/images/icons/business-search.png">
                            <h4 class="text-bold"> You haven’t added any services yet</h4>
                            <button (click)="openAddService()" class="btn btn-default margin-top-30 text-bold" style="border-radius: 30px; border:none; color: white;background: #00B4F1; padding: 10px 20px"> Add Service </button>
                        </div>

                        <div class="margin-top-100 text-bold text-center" style="max-width: 350px" *ngIf="userServicesLoaded && !docs && currentUser._id != user.id">
                                <img style="width: 80px; height: 80px" src="assets/images/icons/business-search.png">
                                <h4 class="text-bold"> This user don't have any services yet.</h4>
                            </div>
                        </div>
                </div>
                <div *ngIf="!userServicesLoaded">
                    <div class="loader-div">
                        <div class="loader"></div>
                    </div>
                </div>

            </div>


        </div>


    </div>


</div>
