<h3 class="font-weight-600 margin-top-10 margin-bottom-60">Payment Methods</h3>



<!-- <form action="" id="form_payment"> -->



<div class="col-xs-12 col-md-12 padding-25 margin-bottom-25" style="border:1px solid #e4e4e4; border-radius:3px;">

    <div class="col-md-2 col-xs-2 padding-0">
        <img src="assets/images/icons/VISA-logoeps.com.png" alt="">
    </div>

    <div class="col-md-5 col-xs-5 padding-top-5">
        <p class="color-text-black margin-bottom-0">Visa •••• 4018</p>
        <p class="color-gray font-em-08 margin-bottom-0">Expires 07/18</p>
    </div>

    <div class="col-md-5 col-xs-5 padding-top-15">
        <p class="color-darkgray margin-top-2 font-px-12 font-weight-600 display-inlineBlock pull-right">Edit</p>
        <p class="color-text-white padding-top-2 padding-bottom-2 padding-left-5 padding-right-5 margin-top-2 font-px-10 font-weight-600 display-inlineBlock pull-right bg-blue margin-right-15">Primary</p>
    </div>


</div>



<div class="col-xs-12 col-md-12 padding-25 margin-bottom-25" style="border:1px solid #e4e4e4; border-radius:3px;">

    <div class="col-md-2 col-xs-2 padding-0">
        <img src="assets/images/icons/mastercard-logo.png" alt="">
    </div>

    <div class="col-md-5 col-xs-5 padding-top-5">
        <p class="color-text-black margin-bottom-0">Mastercard •••• 8003</p>
        <p class="color-gray font-em-08 margin-bottom-0">Expires 07/18</p>
    </div>

    <div class="col-md-5 col-xs-5 padding-top-15">
        <p class="color-darkgray margin-top-2 font-px-12 font-weight-600 display-inlineBlock pull-right">Edit</p>
        <span class="color-mediumgray pull-right">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
        <p class="color-darkgray margin-top-2 font-px-12 font-weight-600 display-inlineBlock pull-right">Make Primary</p>
    </div>


</div>



<div class="col-xs-12 col-md-12 padding-30 margin-bottom-25 text-center" style="border:1px solid #e4e4e4; border-radius:3px;">

    <img src="assets/images/icons/ic_payment_black_24px.png" alt="">
    <p class="color-gray text-center display-inlineBlock">Add Payment Method</p>

</div>


<div class="col-xs-12 col-md-12 padding-30 margin-bottom-25 text-center" style="border:1px solid #e4e4e4; border-radius:3px;">

    <div class="col-xs-12 col-md-12 padding-0 margin-bottom-40">

        <div class="col-md-6 col-xs-12 padding-0 text-left">
            <img src="assets/images/icons/radio_btn.png" class="margin-right-5" alt="">
            <p class="color-dark-gray display-inlineBlock">Credit or Debit Card</p>
        </div>

        <div class="col-md-6 col-xs-12 padding-0 text-right">
            <img src="assets/images/icons/visa_card.png" alt="">
            <img src="assets/images/icons/master_card.png" alt="">
            <img src="assets/images/icons/discover.png" alt="">
            <img src="assets/images/icons/card.png" alt="">
            <img src="assets/images/icons/visa_card.png" alt="">
        </div>

    </div>
    <div class="clearfix"></div>


    <div class="col-xs-12 col-md-12 padding-0">

        <div class="col-xs-12 col-md-12 padding-0 margin-bottom-20">
            <p class="color-gray text-left margin-bottom-5">Name on card</p>
            <input type="text" class="height-45-px form-control color-gray" placeholder="E.g. John Smith">
        </div>
        <div class="clearfix"></div>



        <p class="color-gray text-left margin-bottom-5 margin-top-10">Card Info</p>

        <div class="col-xs-12 col-md-12 padding-0" style="border: 1px solid #e4e4e4;  border-radius:4px;">

            <div class="col-xs-12 col-md-12 padding-0" style="border-bottom: 1px solid #e4e4e4;">
                <input type="text" class="height-45-px form-control color-gray border-none" placeholder="Card Number">
            </div>

            <div class="col-xs-12 col-md-12 padding-0">

                <div class="col-md-6 col-xs-12 padding-0" style="border-right:1px solid #e4e4e4;">
                    <input type="text" class="height-45-px form-control color-gray border-none" placeholder="Expiration">
                </div>

                <div class="col-md-6 col-xs-12 padding-0">
                    <input type="text" class="height-45-px form-control color-gray border-none" placeholder="Security Code">
                </div>

            </div>

        </div>


        <div class="col-xs-12 col-md-12 padding-0 margin-top-20">

            <li id="li_post" onclick="" class="display-inlineBlock padding-top-12 pull-right">
                <a data-toggle="modal" data-target="#" class="text-uppercase margin-top-40 bg-blue color-text-white font-px-14 font-weight-600 padding-6 padding-left-15 padding-right-15" style="border-radius:15px;">Save</a>
            </li>

            <li onclick="newpost_click(this);" id="post_new_update_cancel" class="display-inlineBlock padding-top-12 pull-right margin-right-20">
                <a data-toggle="modal" data-target="#" class="margin-top-40 font-px-14 font-weight-600 color-darkgray text-uppercase">Cancel</a>
            </li>

        </div>

    </div>

</div>


<!-- </form> -->