<div *ngIf="models && user && suggested" id="index_main" class="col-xs-12 col-md-12 padding-0 padding-bottom-60" style="background-color:rgb(249,249,249)">
  <div style="max-width: 1400px;margin-left: auto; margin-right: auto;">
    <div id="index_sidepanel" class="col-md-3 col-sm-5 col-xs-12 padding-left-60 margin-top-30">
      <!-- Upcoming service -->
      <div *ngIf="upcoming" class="col-xs-12 col-md-12 padding-0 margin-bottom-20">
        <h4 class="color-text-black font-weight-600 padding-bottom-15">Upcoming Services</h4>
        <div class="col-xs-11 col-md-12 padding-left-20 padding-right-0 color-bg-white div-white-box-shadow">
          <div *ngFor="let service of upcoming" class="col-xs-12 col-md-12 padding-0 padding-top-20 padding-bottom-20" style="position:relative; border-bottom: 1px solid #e9e9e9;">
            <div class="col-md-10 col-xs-12 padding-0">
              <p class="font-em-11 margin-bottom-3 color-text-black text-bold text-capitalize ">{{service.description | truncateToWord:20}}</p>
              <p class="font-em-09 margin-bottom-5 color-blue text-bold ">{{service.time}}</p>
              <p class="font-em-09 margin-bottom-0 color-mediumgray" *ngIf="service && service.location && service.location[0]">
                <span class="fa fa-map-marker padding-right-3"></span>{{service.location[0].city}} , {{service.location[0].country}}, {{ user && ( turf(service.location[0].geoJson,
                user.location.geoJson) | truncateNumber) }} km
              </p>
            </div>
            <i class="fa fa-angle-right fa-2x color-mediumgray" style="position:absolute; right:25px; top:25%;"></i>
          </div>

          <div class="col-xs-12 col-md-12 padding-0 padding-top-6 padding-bottom-6">
            <a [routerLink]="['/buy/orders']" class="margin-bottom-2">View more</a>
          </div>
        </div>
      </div>

      <div *ngIf="!upcoming" class="col-xs-12 col-md-12 padding-0 margin-bottom-20">
        <h4 class="color-text-black font-weight-600 padding-bottom-15">Upcoming Services</h4>
        <div class="col-xs-11 col-md-12 padding-left-0 padding-right-0 color-bg-white div-white-box-shadow">
          <div class="d-flex flex-column align-items-center justify-content-center col-xs-12 col-md-12 padding-0 padding-top-30 padding-bottom-30"
           style="relative; border-bottom: 1px solid #e9e9e9;">
            <p class="text-bold text-center margin-left-20 margin-right-20" style="font-size: 20px"> You haven't ordered any services yet</p>
            <img style="margin-top: 15px; width: 52px; height: 52px" src="assets/images/icons/bag-business.png">

            <button [routerLink]="['/home']" class="btn btn-default margin-top-30 text-bold" style="border-radius: 30px; border:none; color: white;background: #00B4F1; padding: 10px 20px"> Explore Services Now</button>
          </div>
        </div>
      </div>

      <!-- My Dashboard -->
      <div class="col-xs-12 col-md-12 padding-0">
        <h4 class="color-text-black font-weight-600 padding-bottom-15">My Dashboard</h4>
        <div *ngIf="dashboard" class="col-xs-11 col-md-12 padding-left-20 padding-right-0 color-bg-white div-white-box-shadow padding-top-25 padding-bottom-25">
          <div class="col-xs-12 col-md-12 padding-0">
            <div class="col-md-2 col-xs-3 padding-0">
              <p class="dashboard_sub_left">{{ dashboard.numOrdersThisWeek }}</p>
            </div>
            <div class="col-md-10 col-xs-9">
              <p class="margin-top-2 text-bold ">Orders this week</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-12 padding-0">
            <div class="col-md-2 col-xs-3 padding-0">
              <p class="dashboard_sub_left">{{ dashboard.numOffersSentThisWeek }}</p>
            </div>
            <div class="col-md-10 col-xs-9">
              <p class="margin-top-2 text-bold">Offers Sent this week</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-12 padding-0">
            <div class="col-md-2 col-xs-3 padding-0">
              <p class="dashboard_sub_left">{{ dashboard.numJobs }}</p>
            </div>
            <div class="col-md-10 col-xs-9">
              <p class="margin-top-2 text-bold">Jobs Suggested</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-12 padding-0">
            <div class="col-md-2 col-xs-3 padding-0">
              <p class="dashboard_sub_left">{{ dashboard.currencySymbol }}{{ dashboard.salesThisMonth }}</p>
            </div>
            <div class="col-md-10 col-xs-9">
              <p class="margin-top-2 text-bold">Sales this month</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="index_contentarea" class="col-md-8 col-sm-7 col-xs-12 margin-top-30">


      <div class="col-md-8 col-xs-12 padding-left-0">
        <h4 class="color-text-black font-weight-600 padding-bottom-15">Current Update</h4>
        <app-posting-new-update (onPostE)="onPost($event)"></app-posting-new-update>

        <!-- service item  -->
        <ng-container *ngFor="let model of models; let i = index">

          <div *ngIf="model.post.type == 'service'" id="previous_updates" class="col-xs-12 col-md-12 div-white-box-shadow color-bg-white padding-15 margin-bottom-30"
            style="border-radius:12px;">
            <div class="col-xs-12 col-md-12 padding-0">
              <div class="col-md-1 col-xs-2 padding-0">
                <img src="{{model.user.profilePic}}" class="border-radius-50-p" width="44px" height="44px" alt="">
              </div>
              <div class="col-md-10 col-xs-8 margin-top-5 padding-left-5">
                <p class="color-darkgray font-weight-300 font-px-14 display-inlineBlock margin-bottom-0 margin-right-5">{{model.user.firstName}} {{model.user.lastName}}</p>
                <img src="assets/images/icons/online.png" alt="" class="display-inlineBlock">
                <p class="color-gray font-weight-300 font-px-14 display-inlineBlock margin-bottom-0 margin-left-5">Added a Service</p>
                <p class="color-gray font-weight-300 font-px-12 margin-top-2">{{model.post.timeago}}</p>
              </div>
              <div class="col-md-1 col-xs-2 padding-0">
                <i src="fa fa-heart" class="border-radius-50-p pull-right margin-top-6" width="24px" height="24px" alt=""> </i>
              </div>
            </div>

            <div class="col-xs-12 col-md-12 padding-0" [ngStyle]="{ 'background-image': 'url(' + model.service.media.fileName + ')' }"
              style="height:300px; background-repeat:no-repeat; background-size:cover;">

            </div>

            <div class="col-xs-12 col-md-12 padding-0 padding-top-15">
              <p>{{model.service.description}}</p>
              <p style="font-weight: bold;" *ngFor="let price of model.service.prices">Starting at {{price.currencySymbol}}{{price.price}}
                <span *ngIf="price.priceWithoutDiscount" class="color-gray" style="text-decoration:line-through;">{{price.currencySymbol}}{{price.priceWithoutDiscount}}</span> For {{price.time}} {{price.timeUnitOfMeasure}}
                of {{price.description}}</p>
            </div>
            <div class="col-xs-12 col-md-12 padding-0 padding-bottom-10 d-flex margin-top-10">
              <div class="d-flex">
                <div class="margin-right-10 d-flex">
                  <img src="assets/images/p.png" alt="">
                  <p class="margin-left-5 color-gray margin-bottom-0 font-px-12">{{model.service.pointValue}}</p>
                </div>
                <div class="margin-right-10 d-flex">
                  <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
                  <p class="margin-left-5 color-gray margin-bottom-0 font-px-12">{{model.service.numOrders}}</p>
                </div>
                <div class="d-flex">
                  <i class="fa fa-star color-mediumgray"></i>
                  <p class="margin-left-5 color-gray margin-bottom-0 font-px-12">{{model.service.avgRating}}%</p>
                </div>
              </div>
              <div class="margin-right-10 d-flex margin-right-10" style="margin-left: auto;">
                <div class="col-md-12 col-xs-12 padding-0 text-right">
                  <i class="fa fa-map-marker display-inlineBlock color-gray"></i>
                  <p
                    class="color-gray margin-bottom-0 font-px-12 display-inlineBlock"
                    *ngIf="model && model.service && model.service.location && model.service.location[0]"
                  >{{ (""|calcDistance:model.service.location[0].geoJson:user.location.geoJson) | truncateNumber }} km @ {{model.service.location[0].province}},
                    {{model.service.location[0].city}}, {{model.service.location[0].state}}</p>
                </div>
              </div>
            </div>
            <div id="comments" class="col-xs-12 col-md-12 padding-0 padding-top-15" style="border-top:1px solid #ccc; border-bottom:1px solid #ccc;">
              <div *ngFor="let comment of model.comments" class="col-xs-12 col-md-12 padding-0 padding-top-10 padding-bottom-15">
                <div class="col-md-1 col-xs-2 padding-0">
                  <img style="border-radius: 50%; width: 40px; height:40px;" src="{{comment.user.profilePic}}" alt="">
                </div>
                <div class="col-md-11 col-xs-10 padding-0">
                  <p class="margin-0 font-px-12">{{comment.user.firstName}} {{comment.user.lastName}} {{comment.timeago}}</p>
                  <p class="margin-0 font-px-12">{{comment.comment}}</p>
                </div>
              </div>


              <div class="col-xs-12 col-md-12 padding-0">
                <p class="font-px-12 color-gray display-inlineBlock margin-right-5">View &nbsp; {{model.post.countComments}} Comments &nbsp; {{model.post.countShares}} Shares &nbsp; {{model.post.countLikes}}
                  Likes</p>
                <i class="fa fa-angle-right color-gray display-inlineBlock" style="font-size:20px; vertical-align:top;"></i>
              </div>
            </div>


            <div id="write_comment" class="col-xs-12 col-md-12 padding-0 padding-top-10">
              <div class="col-md-1 col-xs-2 padding-0">
                <img src="{{user.profilePic}}" class="border-radius-50-p" width="44px" height="44px" alt="">
              </div>
              <div class="col-md-10 col-xs-8 margin-top-10">
                <input [(ngModel)]="comment" style="border: none; width:100%" class="comment-input color-gray font-weight-300 font-px-14 display-inlineBlock margin-bottom-0 margin-right-5"
                  placeholder="Write a comment">
              </div>
              <div class="col-md-1 col-xs-2 padding-0 margin-top-10">
                <li id="li_send" class="display-inlineBlock pull-right">
                  <a (click)="sendComment(model.post.id, i)" class="text-uppercase margin-top-40 bg-blue color-text-white font-px-14 font-weight-600 padding-8 padding-left-12 padding-right-12 text-uppercase"
                    style="border-radius:15px;">Send</a>
                </li>
              </div>
            </div>
          </div>


          <!-- ---------- -->

          <div *ngIf="model.post.type == 'post'" id="previous_updates" class="col-xs-12 col-md-12 div-white-box-shadow color-bg-white padding-15 margin-bottom-30"
            style="border-radius:12px;">
            <div class="col-xs-12 col-md-12 padding-0">
              <div class="col-md-1 col-xs-2 padding-0">
                <a [routerLink]="['/profile', model.user.id]"> <img src="{{model.user.profilePic}}" class="border-radius-50-p" width="44px" height="44px" alt=""> </a>
              </div>
              <div class="col-md-10 col-xs-8 margin-top-5 padding-left-5">
                <p class="color-darkgray font-weight-300 font-px-14 display-inlineBlock margin-bottom-0 margin-right-5"> <a [routerLink]="['/profile', model.user.id]"> {{model.user.firstName}} {{model.user.lastName}} </a></p>
                <img src="assets/images/icons/online.png" alt="" class="display-inlineBlock">
                <p class="color-gray font-weight-300 font-px-14 display-inlineBlock margin-bottom-0 margin-left-5">Posted an Update</p>
                <p class="color-gray font-weight-300 font-px-12 margin-top-2">{{model.post.timeago}}</p>
              </div>


              <div class="col-md-1 col-xs-2 padding-0">
                <a (click)="onLikePost(model.post.id, i)" [ngStyle]="{'color': model.liked ? '#FF2D34' : '#95989A'}" class="fa fa-heart  pull-right margin-top-6"
                  width="24px" height="24px" alt=""> </a>
              </div>
            </div>

            <div class="col-xs-12 col-md-12 padding-0 padding-top-15">
              <p>{{model.post.message}}</p>
            </div>

            <swiper>
              <div *ngFor="let media of model.post.media" class="col-xs-12 col-md-12 padding-0" [ngStyle]="{ 'background-image': 'url(' + media.fileName + ')' }"
                style="height:300px; background-repeat:no-repeat; background-size:cover;">
              </div>
            </swiper>
            <div *ngFor="let tag of model.post.tags" class="post-tags">

              <!-- TODO: fix this shit -->
              <div  [routerLink]="['/service/detail', tag.serviceId]" *ngIf="tag.type == 'service'" class="d-flex width-100-p cursor-pointer">
                <img style="width:35px; height:35px;margin-right:15px;" src="assets/images/icons/tag@2x.png">
                <img style="width:35px; height:35px; border-radius: 50%;margin-right:10px;" src="{{tag.media.fileName}}" />

                <div>
                  <div style="font-size:12px;"> {{tag.description}} </div>
                </div>


                <div *ngIf="tag.location && tag.location[0]" style="margin-left: auto; font-size: 12px; margin-right: 10px;">
                  <i class="fa fa-map-marker"></i> {{tag.location[0].city}} {{tag.location[0].country}}
                </div>

                <div *ngIf="!tag.location || !tag.location[0]" style="margin-left: auto; font-size: 12px; margin-right: 10px;">
                  Online
                </div>

              </div>

              <div  [routerLink]="['/profile/', tag.userId]" *ngIf="tag.type == 'user'" class="d-flex width-100-p cursor-pointer">
                <img style="width:35px; height:35px;margin-right:15px;" src="assets/images/icons/tag@2x.png">
                <img style="width:35px; height:35px; border-radius: 50%;margin-right:10px;" src="{{tag.profilePic}}" />

                <div>
                  <div style="font-size:12px;"> {{tag.firstName}} {{tag.lastName}} </div>
                </div>

              </div>

            </div>



            <div id="comments" class="col-xs-12 col-md-12 padding-0 padding-top-15" style="border-top:1px solid #ccc; border-bottom:1px solid #ccc;">
              <div *ngFor="let comment of model.comments" class="col-xs-12 col-md-12 padding-0 padding-top-10 padding-bottom-15">
                <div class="col-md-1 col-xs-2 padding-0">
                    <a [routerLink]="['/profile', comment.user.userId]"><img style="border-radius: 50%; width: 40px; height:40px;" src="{{comment.user.profilePic}}" alt=""></a>
                </div>
                <div class="col-md-11 col-xs-10 padding-0">
                    <a [routerLink]="['/profile', comment.user.userId]"> <p class="margin-0 font-px-12">{{comment.user.firstName}} {{comment.user.lastName}} </p> </a>
                    <span class="color-gray"> {{comment.timeago}} </span>

                  <p class="margin-0 font-px-12">{{comment.comment}}</p>
                </div>
              </div>


              <div class="col-xs-12 col-md-12 padding-0">
                <p class="font-px-12 color-gray display-inlineBlock margin-right-5"> <span class="cursor-pointer" (click)="openClsModal('comment', model.post.id)"> {{model.post.countComments}} Comments </span> <span class="cursor-pointer" (click)="openClsModal('share', model.post.id)"> {{model.post.countShares}} Shares </span> <span class="cursor-pointer" (click)="openClsModal('like', model.post.id)"> {{model.post.countLikes}} Likes </span>
                  </p>
                <i class="fa fa-angle-right color-gray display-inlineBlock" style="font-size:20px; vertical-align:top;"></i>
              </div>
            </div>


            <div id="write_comment" class="col-xs-12 col-md-12 padding-0 padding-top-10">
              <div class="col-md-1 col-xs-2 padding-0">
                  <img src="{{user.profilePic}}" class="border-radius-50-p" width="44px" height="44px" alt="">
              </div>
              <div class="col-md-10 col-xs-8 margin-top-10">
                <input [(ngModel)]="comment" style="border: none; width:100%" class="comment-input color-gray font-weight-300 font-px-14 display-inlineBlock margin-bottom-0 margin-right-5"
                  placeholder="Write a comment">
              </div>
              <div class="col-md-1 col-xs-2 padding-0 margin-top-10">
                <li id="li_send" class="display-inlineBlock pull-right">
                  <a (click)="sendComment(model.post.id, i)" class="text-uppercase margin-top-40 bg-blue color-text-white font-px-14 font-weight-600 padding-8 padding-left-12 padding-right-12 text-uppercase"
                    style="border-radius:15px;">Send</a>
                </li>
              </div>
            </div>
          </div>


        </ng-container>

        <ng-container *ngIf="!end">
          <div style="max-width: 550px; position: relative">
            <sk-three-bounce *ngIf="fetching"></sk-three-bounce>
          </div>

          <div #scroll class="col-md-12 col-sm-12 sub_div col-xs-12 div-white-box-shadow margin-bottom-30 padding-0" style="border:none !important;"></div>
        </ng-container>




      </div>
      <div  class="col-md-4 col-xs-12">
        <h4 class="color-text-black font-weight-600 padding-bottom-15">Suggested</h4>

        <div  class="col-xs-11 col-md-12 padding-0 color-bg-white div-white-box-shadow">

          <div *ngIf="suggested.length <= 0" class="col-xs-12 col-md-12 padding-15 padding-left-20">
            <div class="d-flex flex-column align-items-center justify-content-center col-xs-12 col-md-12 padding-0 padding-top-30 padding-bottom-30"
            style="relative; border-bottom: 1px solid #e9e9e9;">
             <p class="text-bold text-center margin-left-20 margin-right-20" style="font-size: 20px"> Find people you may know </p>

             <button class="btn btn-default  text-bold margin-top-20" style="border-radius: 0;color: white;background: #3A5A97; padding: 15px; width: 200px"> <i class="fa fa-facebook"></i> Facebook</button>
             <button class="btn btn-default  text-bold margin-top-10" style="border-radius: 0;color: black;background: #F5F5F5; padding: 15px; width: 200px"> <i class="fa fa-google-plus"></i> Google</button>

            </div>
          </div>

          <div [routerLink]="['/profile', user.userId]" *ngFor="let user of suggested; let i = index" class="col-xs-12 col-md-12 padding-20 cursor-pointer" style="position:relative; border-bottom: 1px solid #e9e9e9;">

            <div class="col-md-2 col-xs-3 padding-0" style="position:relative;">
              <img src="{{user.profilePic}}" class="border-radius-50p" width="38px" height="32px" alt="">
              <!--<span style="position:absolute; bottom:-8px; left:38%;">-->
                <!--<img src="assets/images/icons/online.png" alt="">-->
              <!--</span>-->
            </div>

            <div class="col-md-10 col-xs-9 padding-right-0">
              <p class="font-em-11 margin-bottom-3 color-text-black">{{user.firstName}} {{user.lastName}}</p>
              <p class="margin-bottom-3 color-gray font-px-12"><span *ngFor="let cat of user.categories">{{cat}} </span></p>
              <p *ngIf="user.location" class="font-px-12 margin-bottom-0 color-gray">
                <span class="fa fa-map-marker padding-right-2"></span>
                {{user.location.city}}, {{user.location.province}}
              </p>
              <a (click)="followUser(i, $event)" class="color-blue text-uppercase font-weight-600 margin-top-5" style="font-size:22px; position:absolute; right:0px; top:0px; z-index: 99"><i class="fa fa- fa-user-plus"></i></a>
              <div class="col-xs-9 d-flex col-md-8 sub_div_description padding-0 margin-top-5">
                <div class="padding-0 padding-right-8 text-left d-flex">
                  <img class="padding-right-5" src="assets/images/p.png" alt="">
                  <p class="display-inlineBlock color-mediumgray margin-bottom-0 font-px-12">{{user.pointValue}}</p>
                </div>
                <div class="padding-0 padding-right-8 text-center d-flex">
                  <img class="padding-right-5" src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
                  <p class="display-inlineBlock color-mediumgray margin-bottom-0 font-px-12">{{user.numOrdersCompleted}}</p>
                </div>
                <div class="padding-0 padding-right-8 text-right d-flex">
                  <i class="fa fa-star color-mediumgray padding-right-5"></i>
                  <p class="display-inlineBlock color-mediumgray margin-bottom-0 font-px-12">{{user.avgRating}}%</p>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-xs-12 col-md-12 padding-20" style="position:relative; border-bottom: 1px solid #e9e9e9;">
            <div class="col-md-2 col-xs-3 padding-0" style="position:relative;">
              <img src="assets/images/services/1.png" class="border-radius-50p" width="44px" height="44px" alt="">
              <span style="position:absolute; bottom:-8px; left:38%;">
                <img src="assets/images/icons/online.png" alt="">
              </span>
            </div>
            <div class="col-md-10 col-xs-9 padding-right-0">
              <p class="font-em-11 margin-bottom-3 color-text-black">Emilia Handerson</p>
              <p class="margin-bottom-3 color-gray font-px-12">Walk dogs - Dog care</p>
              <p class="font-px-12 margin-bottom-0 color-gray">
                <span class="glyphicon glyphicon-map-marker padding-right-2"></span>
                Chicago, downtown
              </p>
              <p class="color-blue text-uppercase font-weight-600 margin-top-5" style="font-size:11px; position:absolute; right:0px; top:0px;">Follow</p>
              <div class="col-xs-9 col-md-8 sub_div_description padding-0 margin-top-5">
                <div class="col-md-4 col-xs-4 padding-0 text-left">
                  <img src="assets/images/p.png" alt="">
                  <p class="display-inlineBlock color-mediumgray margin-bottom-0 font-px-12">234</p>
                </div>
                <div class="col-md-4 col-xs-4 padding-0 text-center">
                  <img src="assets/images/icons/brief2.png" style="vertical-align:text-bottom;" alt="">
                  <p class="display-inlineBlock color-mediumgray margin-bottom-0 font-px-12">23</p>
                </div>
                <div class="col-md-4 col-xs-4 padding-0 text-right">
                  <i class="fa fa-star color-mediumgray"></i>
                  <p class="display-inlineBlock color-mediumgray margin-bottom-0 font-px-12">96%</p>
                </div>
              </div>
            </div>
          </div> -->


          <a class="col-xs-12 col-md-12 padding-15 padding-left-20">
            <p class="font-px-12 margin-bottom-0 text-center text-bold">Find Connections</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
