<div id="index_contentarea" class="col-md-9 col-sm-7 col-xs-12 margin-top-30 padding-bottom-200">

    <div id="background_check" class="col-xs-12 col-md-7 padding-0 color-bg-white padding-bottom-60" style="border-left:1px solid #efefef; border-right:1px solid #efefef; border-radius:5px;">

        <div class="col-xs-12 col-md-12 padding-20 padding-left-30">
            <h3 class="color-text-black font-weight-600 font-em-15">Background Check for Local Services</h3>
            <p class="font-weight-600">
                <span class="color-gray">Status:</span>
                <span class="color-blue">Not Started</span>
            </p>

            <div class="col-xs-12 col-md-12 margin-top-20 bg-blue padding-20 padding-top-25 padding-bottom-25" style="border-radius:5px;">
                <p class="color-text-white font-weight-600 margin-bottom-30 ">
                    Background Check is recommended for local service providers, In Usa. Background check will be done via checkr for $25
                </p>
                <a
                  style="border-radius:15px;" class="color-bg-white color-text-black font-weight-600 padding-8 padding-left-20 padding-right-20"
                  [routerLink]="['../check-form']"
                >
                Get Started
               </a>
            </div>

            <div class="col-xs-12 col-md-12 padding-0 margin-top-30">
                <h4 class="color-text-black font-weight-600">Background Check Process</h4>

                <ol class="margin-top-30 padding-left-20" style="">
                    <li style="list-style-type: decimal !important;" class="padding-left-10">
                        <p>Fill out application</p>
                    </li>
                    <li style="list-style-type: decimal !important;" class="padding-left-10 padding-bottom-15">
                        <p>Wait for background and check report</p>
                        <div class="width-300-px padding-10 padding-left-15 bg-F0F0F3" style="border-radius:10px;">
                            <p class="margin-0">Status from Check:</p>
                            <p class="margin-0">Your application has been submitted</p>
                        </div>
                    </li>
                    <li style="list-style-type: decimal !important;" class="padding-left-10">
                        <p> If your background passed, then buyer will see that you have passed background check.</p>
                        <div class="width-200-px padding-10 padding-left-15 bg-F0F0F3" style="border-radius:10px;">
                            <img src="assets/images/imagessss.png" class="width-40-px height-40-px margin-right-10" alt="">
                            <p class="margin-0 display-inlineBlock margin-right-10">Peter Holms</p>
                            <img src="assets/images/icons/online2.png" alt="">
                        </div>
                        <p class="margin-top-10">Otherwise buyers will see a warning message on order checkout </p>
                        <p class="margin-top-10" style="color:#CF102D;">“Please not that local seller has not completed <br> the background check”</p>
                    </li>
                </ol>

            </div>

        </div>


    </div>

</div>
