<div id="index_main" class="col-xs-12 col-md-12 padding-0 padding-bottom-60" style="background-color:rgb(249,249,249)">
    <div class="col-md-offset-1 col-xs-12 col-md-11 padding-0 padding-top-40 padding-bottom-200">
        <app-follow-sidebar [selectedTab]="tab"></app-follow-sidebar>
        <div id="contentarea_editprofile" class="col-md-6 col-sm-9 col-xs-12">
            <div class="col-xs-12 col-md-12 padding-left-40 padding-top-20 padding-bottom-100 color-bg-white">

                <app-edit-profile *ngIf="tab=='profile'"></app-edit-profile>
                <app-edit-account *ngIf="tab=='account'"></app-edit-account>
                <app-edit-password *ngIf="tab=='password'"></app-edit-password>
                <app-edit-privacy *ngIf="tab=='privacy'"></app-edit-privacy>
                <app-edit-payment *ngIf="tab=='payment'"></app-edit-payment>
                <app-edit-notification *ngIf="tab=='notification'"></app-edit-notification>


            </div>
        </div>
    </div>
</div>