<h3 class="font-weight-600 margin-top-10">Account Settings</h3>


<!-- <form action="" id="form_accountsetting"> -->


<div class="col-xs-12 col-md-12 padding-left-0 margin-top-40">

    <p class="color-gray">Email <span class="color-blue font-em-09 font-weight-500 margin-left-10">(Private)</span> </p>
    <input type="email" class="form-control color-darkgray" placeholder="peter.holms@gmail.com">

</div>


<div class="col-xs-12 col-md-12 padding-left-0 margin-top-40">

    <p class="color-gray">Birth Day</p>

    <div class="col-xs-4 col-md-4 padding-left-0">
        <div class="col-xs-12 col-md-12 padding-0">

            <a class="form-control-custom text-left dropdown-toggle padding-0 padding-top-5 padding-left-10" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="border-color:#e4e4e4;">December</a>

            <div id="addMonth" class="dropdown-menu boxshadow-none color-bg-white padding-0" style="position:absolute; border-radius:5px; width:100%; top:29px; left:0px; border-top-right-radius: 0px; border-top-left-radius: 0px;  border-color:#e4e4e4;">

                <ul class="padding-top-8 padding-left-15">
                    <li class="color-darkgray">November</li>
                    <li class="color-darkgray">October</li>
                    <li class="color-darkgray">September</li>
                    <li class="color-darkgray">August</li>
                    <li class="color-darkgray">July</li>
                    <li class="color-darkgray">June</li>
                    <li class="color-darkgray">May</li>
                    <li class="color-darkgray">April</li>
                    <li class="color-darkgray">March</li>
                    <li class="color-darkgray">Febuary</li>
                    <li class="color-darkgray">January</li>
                </ul>

            </div>

            <i class="fa fa-caret-down pull-right color-mediumgray padding-4 padding-right-10 color-bg-white" style="position:absolute; right:3px; top: 4px; font-size: 18px;"></i>

        </div>
    </div>

    <div class="col-xs-4 col-md-4 padding-right-9">
        <div class="col-xs-12 col-md-12 padding-0">
            <a class="form-control-custom text-left dropdown-toggle padding-0 padding-top-5 padding-left-10" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="border-color:#e4e4e4;">1</a>

            <div id="addMonth" class="dropdown-menu boxshadow-none color-bg-white padding-0" style="position:absolute; border-radius:5px; width:90% !important; top:29px; left:0px; border-top-right-radius: 0px; border-top-left-radius: 0px; border-color:#e4e4e4;">

                <ul class="padding-top-8 padding-left-15">
                    <li class="color-darkgray">2</li>
                    <li class="color-darkgray">3</li>
                    <li class="color-darkgray">4</li>
                    <li class="color-darkgray">5</li>
                    <li class="color-darkgray">6</li>
                    <li class="color-darkgray">7</li>
                    <li class="color-darkgray">8</li>
                    <li class="color-darkgray">9</li>
                    <li class="color-darkgray">10</li>
                    <li class="color-darkgray">11</li>
                    <li class="color-darkgray">12</li>
                </ul>

            </div>

            <i class="fa fa-caret-down pull-right color-mediumgray padding-4 padding-right-10 color-bg-white" style="position:absolute; right:3px; top: 4px; font-size: 18px;"></i>

        </div>
    </div>

    <div class="col-xs-4 col-md-4 padding-right-0">
        <div class="col-xs-12 col-md-12 padding-0"> <a class="form-control-custom text-left dropdown-toggle padding-0 padding-top-5 padding-left-10" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="border-color:#e4e4e4;">1986</a>
            <div id="addMonth" class="dropdown-menu boxshadow-none color-bg-white padding-0" style="position:absolute; border-radius:5px; width:100%; top:29px; left:0px; border-top-right-radius: 0px; border-top-left-radius: 0px; border-color:#e4e4e4;">
                <ul class="padding-top-8 padding-left-15">
                    <li class="color-darkgray">1987</li>
                    <li class="color-darkgray">1988</li>
                    <li class="color-darkgray">1989</li>
                    <li class="color-darkgray">1990</li>
                    <li class="color-darkgray">1991</li>
                    <li class="color-darkgray">1992</li>
                    <li class="color-darkgray">1993</li>
                    <li class="color-darkgray">1994</li>
                    <li class="color-darkgray">1995</li>
                    <li class="color-darkgray">1996</li>
                    <li class="color-darkgray">1997</li>
                    <li class="color-darkgray">1998</li>
                    <li class="color-darkgray">1999</li>
                    <li class="color-darkgray">2000</li>
                </ul>
            </div> <i class="fa fa-caret-down pull-right color-mediumgray padding-4 padding-right-10 color-bg-white" style="position:absolute; right:3px; top: 4px; font-size: 18px;"></i> </div>
    </div>

</div>



<!-- </form> -->

<div class="clearfix"></div>