<nav id="navbar2" class=" hidden-xs hidden-sm navbar navbar-default margin-bottom-0 border-none color-bg-white">
    <div class="col-xs-12 col-md-12 padding-right-0" style="border-bottom: 1px solid #E4E4E4;">
        <div style="max-width: 1600px" class="margin-left-right-auto">
            <div class="col-md-11 col-xs-12 col-md-offset-1 padding-left-40 padding-right-0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="navbar2_brand" class="navbar-brand color-gray text-uppercase padding-top-20" style="font-size: 12px;" href="#">Categories</a>
                </div>
                <div class="collapse navbar-collapse" id="collapse2">
                    <ul class="nav navbar-nav" style="">
                        <li>
                            <a style="padding-bottom:0px !important;" href="">all</a>
                        </li>
                        <li>
                            <a style="padding-bottom:0px !important;" href="/home">home</a>
                        </li>
                        <li>
                            <a style="padding-bottom:0px !important;" href="">living</a>
                        </li>
                        <li>
                            <a style="padding-bottom:0px !important;" href="">auto</a>
                        </li>
                        <li>
                            <a style="padding-bottom:0px !important;" href="">business</a>
                        </li>
                        <li>
                            <a style="padding-bottom:0px !important;" href="">event</a>
                        </li>
                        <li>
                            <a style="padding-bottom:0px !important;" href="">carpenter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>