<div id="contentarea_inviteFriends padding-0" class="col-md-7 col-sm-9 col-xs-12">

    <div class="col-xs-12 col-md-12 padding-0 padding-bottom-100 color-bg-white" style="border:1px solid #efefef;">

        <div class="col-xs-12 col-md-11 padding-0 padding-left-40 padding-right-10">

            <h3 class="font-weight-600 margin-0 margin-bottom-20 margin-top-30">Invite Friends</h3>

            <div class="col-xs-12 col-md-12 padding-0" style="border:1px solid #e4e4e4; border-radius:5px;">
                <input type="text" class="form-control border-none boxshadow-none height-40-px" placeholder="Enter email addresses ( Seperate by comma )">
                <textarea name="" class="form-control border-none boxshadow-none color-darkgray" style="border-top:1px solid #e4e4e4 !important;" id="" cols="30" rows="6" placeholder="Add a personal invite message">Add a personal invite message</textarea>
                <div class="col-xs-12 col-md-12 padding-top-20 padding-bottom-20">
                    <li id="li_addService" onclick="" class="display-inlineBlock pull-right">
                        <a class="text-uppercase margin-top-40 bg-blue color-text-white font-px-14 font-weight-600 padding-6 padding-left-20 padding-right-20" style="border-radius:15px;">Send Invites</a>
                    </li>

                    <li onclick="btn_menu_f(this);" id="li_cancel" class="display-inlineBlock pull-right margin-right-20">
                        <a class="margin-top-40 font-px-14 font-weight-600 color-darkgray text-uppercase">Cancel</a>
                    </li>
                </div>
            </div>

            <div class="col-xs-12 col-md-12 margin-top-30 text-center" style="border-top:1px solid #e4e4e4; position:relative;">
                <span class="padding-10 color-bg-white color-text-black font-weight-600 font-px-18" style="position:absolute; top:-22px; right:45%;">or</span>
            </div>

            <div class="clearfix"></div>

            <div class="col-xs-12 col-md-12 margin-top-30 padding-0">
                <div class="col-xs-2 col-md-2 padding-0">
                    <p class="color-gray text-left">Invite with:</p>
                </div>
                <div class="col-xs-10 col-md-10 padding-0">
                    <div class="col-xs-4 col-md-4 padding-0">
                        <a id="invitefriends_facebook" href="" class="font-px-14 color-text-white font-weight-600 facebook-bg-color padding-8 padding-left-15 padding-right-35 width-120-px text-center" style="border-radius:20px;">
                            <i class="fa fa-facebook-f margin-right-20"></i> Facebook
                        </a>
                    </div>
                    <div class="col-xs-4 col-md-4 padding-0">
                        <a id="invitefriends_twitter" href="" class="margin-right-2 font-px-14 color-text-white font-weight-600 twitter-bg-color padding-8 padding-left-15 padding-right-45 width-100-px text-center" style="border-radius:20px;">
                            <i class="fa fa-twitter margin-right-25"></i> Twitter
                        </a>
                    </div>
                    <div class="col-xs-4 col-md-4 padding-0">
                        <a id="invitefriends_google" href="" class="font-px-14 color-text-white font-weight-600 googleplus-bg-color padding-8 padding-left-15 padding-right-30 width-100-px text-center" style="border-radius:20px;">
                            <i class="fa fa-google-plus margin-right-25"></i> Google
                        </a>
                    </div>
                </div>
            </div>
        </div>






        <div class="col-xs-12 col-md-12  padding-0 padding-left-40 padding-right-40 margin-top-60 padding-bottom-60 bg-F3F3F3" style="border:1px solid #efefef;">

            <h4 class="color-text-black font-weight-600 font-em-12 margin-top-30 margin-bottom-10">Follow your Facebook friends who are on Pointters</h4>

            <div class="col-xs-12 col-md-12 padding-0">

                <div class="col-xs-12 col-md-12 padding-0 margin-top-20">

                    <div class="col-xs-12 col-md-4 padding-left-0 padding-right-30">
                        <div class="col-xs-12 col-md-12 color-bg-white padding-0 padding-top-20 div-white-box-shadow-10" style="height:226px; border-radius:4px;">

                            <div class="col-xs-12 col-md-12 text-center">
                                <img src="assets/images/follower1.png" class="width-100-px height-100-px border-radius-50p" alt="">
                            </div>
                            <div class="col-xs-12 col-md-12 text-center">
                                <p class="color-text-black font-weight-600 margin-bottom-3 margin-top-8">Jose Manuel Sea</p>
                                <p class="font-px-12 color-gray">Walk Dog, Dog Care...</p>
                            </div>
                            <div class="col-xs-12 col-md-12 text-center margin-top-3">
                                <a data-toggle="modal" data-target="#" class="btn_menu btn_menu_active margin-top-40 text-uppercase" style="font-size: 14px !important;">Follow</a>
                            </div>

                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4 padding-left-0 padding-right-30">
                        <div class="col-xs-12 col-md-12 color-bg-white padding-0 padding-top-20 div-white-box-shadow-10" style="height:226px; border-radius:4px;">

                            <div class="col-xs-12 col-md-12 text-center">
                                <img src="assets/images/follower2.png" class="width-100-px height-100-px border-radius-50p" alt="">
                            </div>
                            <div class="col-xs-12 col-md-12 text-center">
                                <p class="color-text-black font-weight-600 margin-bottom-3 margin-top-8">Jose Manuel Sea</p>
                                <p class="font-px-12 color-gray">Walk Dog, Dog Care...</p>
                            </div>
                            <div class="col-xs-12 col-md-12 text-center margin-top-3">
                                <a data-toggle="modal" data-target="#" class="btn_menu btn_menu_active margin-top-40 text-uppercase" style="font-size: 14px !important;">Follow</a>
                            </div>

                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4 padding-left-0  padding-right-30">
                        <div class="col-xs-12 col-md-12 color-bg-white padding-0 padding-top-20 div-white-box-shadow-10" style="height:226px; border-radius:4px;">

                            <div class="col-xs-12 col-md-12 text-center">
                                <img src="assets/images/follower3.png" class="width-100-px height-100-px border-radius-50p" alt="">
                            </div>
                            <div class="col-xs-12 col-md-12 text-center">
                                <p class="color-text-black font-weight-600 margin-bottom-3 margin-top-8">Jose Manuel Sea</p>
                                <p class="font-px-12 color-gray">Walk Dog, Dog Care...</p>
                            </div>
                            <div class="col-xs-12 col-md-12 text-center margin-top-3">
                                <a data-toggle="modal" data-target="#" class="btn_menu btn_menu_active margin-top-40 text-uppercase" style="font-size: 14px !important;">Follow</a>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>





        <div class="col-xs-12 col-md-12 padding-0 padding-left-40 padding-right-40 margin-top-60 padding-bottom-60 bg-F3F3F3" style="border:1px solid #efefef; position:relative;">

            <h4 class="color-text-black font-weight-600 font-em-12 margin-top-30 margin-bottom-10">Follow some suggested users</h4>

            <span style="position:absolute; top:45%; left:4px; z-index:1;"><img src="assets/images/icons/slide_previous.png" alt=""></span>
            <span style="position:absolute; top:45%; right:30px; z-index:1;"><img src="assets/images/icons/slide_next.png" alt=""></span>

            <div class="col-xs-12 col-md-12 padding-0">

                <div class="col-xs-12 col-md-12 padding-0 margin-top-20">

                    <div class="col-xs-12 col-md-4 padding-left-0 padding-right-30">
                        <div class="col-xs-12 col-md-12 color-bg-white padding-0 padding-top-20 div-white-box-shadow-10" style="height:226px; border-radius:4px;">

                            <div class="col-xs-12 col-md-12 text-center">
                                <img src="assets/images/follower1.png" class="width-100-px height-100-px border-radius-50p" alt="">
                            </div>
                            <div class="col-xs-12 col-md-12 text-center">
                                <p class="color-text-black font-weight-600 margin-bottom-3 margin-top-8">Jose Manuel Sea</p>
                                <p class="font-px-12 color-gray">Walk Dog, Dog Care...</p>
                            </div>
                            <div class="col-xs-12 col-md-12 text-center margin-top-3">
                                <a data-toggle="modal" data-target="#" class="btn_menu btn_menu_active margin-top-40 text-uppercase" style="font-size: 14px !important;">Follow</a>
                            </div>

                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4 padding-left-0 padding-right-30">
                        <div class="col-xs-12 col-md-12 color-bg-white padding-0 padding-top-20 div-white-box-shadow-10" style="height:226px; border-radius:4px;">

                            <div class="col-xs-12 col-md-12 text-center">
                                <img src="assets/images/follower2.png" class="width-100-px height-100-px border-radius-50p" alt="">
                            </div>
                            <div class="col-xs-12 col-md-12 text-center">
                                <p class="color-text-black font-weight-600 margin-bottom-3 margin-top-8">Jose Manuel Sea</p>
                                <p class="font-px-12 color-gray">Walk Dog, Dog Care...</p>
                            </div>
                            <div class="col-xs-12 col-md-12 text-center margin-top-3">
                                <a data-toggle="modal" data-target="#" class="btn_menu btn_menu_active margin-top-40 text-uppercase" style="font-size: 14px !important;">Follow</a>
                            </div>

                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4 padding-left-0 padding-right-30">
                        <div class="col-xs-12 col-md-12 color-bg-white padding-0 padding-top-20 div-white-box-shadow-10" style="height:226px; border-radius:4px;">

                            <div class="col-xs-12 col-md-12 text-center">
                                <img src="assets/images/follower3.png" class="width-100-px height-100-px border-radius-50p" alt="">
                            </div>
                            <div class="col-xs-12 col-md-12 text-center">
                                <p class="color-text-black font-weight-600 margin-bottom-3 margin-top-8">Jose Manuel Sea</p>
                                <p class="font-px-12 color-gray">Walk Dog, Dog Care...</p>
                            </div>
                            <div class="col-xs-12 col-md-12 text-center margin-top-3">
                                <a data-toggle="modal" data-target="#" class="btn_menu btn_menu_active margin-top-40 text-uppercase" style="font-size: 14px !important;">Follow</a>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>


</div>