.notifications {
  position: relative;
  max-height: 590px;
  overflow: scroll;
  min-height: 0px;
}
.notifications-wrapper {
  position: relative;
}
.vertical-scroll-hide {
  width: 15px;
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  background: #fff;
}
.horizontal-scroll-hide {
  margin-top: -15px;
  position: relative;
  z-index: 100;
  background: white;
}
.new-notification {
  background: #00B4F1;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
}
