<div
  id="menu_notifications"
  class="col-xs-12 col-md-12 padding-0 notifications-wrapper"
>
  <div
  class="notifications"
  infiniteScroll
  [scrollWindow]="false"
  >
  <div
    class="col-xs-12 col-md-12 padding-right-0"
    *ngFor="let item of notifications.docs"
    (click)="clickNotification(item)"
  >

    <div class="col-xs-12 col-md-12 padding-15 padding-left-0 padding-right-0" style="border-bottom:1px solid #e4e4e4;">

      <div class="col-md-2 col-xs-2 padding-0 padding-top-3 text-left">
        <div class="border-radius-50-p new-notification margin-right-5" [ngStyle]="{ 'opacity': item.markedRead ? 0 : 1 }"></div>
        <!-- <img src="assets/images/myprofile.png" width="32px" height="32px" class="border-radius-50p" alt=""> -->
        <img src="{{item.profilePic || 'assets/images/icons/oval.png'}}" class="border-radius-50p" width="32px" height="32px" alt="">
      </div>

      <div class="col-md-8 col-xs-8 padding-0">
        <p class="color-blue font-weight-600 margin-bottom-0" [ngClass]="{'color-darkgray': item.markedRead, 'color-blue': !item.markedRead }">Peter Holms
          <span class="color-gray font-weight-500">{{item.activity}}</span>
        </p>

        <p class="color-gray margin-top-5 margin-bottom-0 font-em-09">{{item.time ? moment(item.time).fromNow() : ''}}</p>

      </div>

      <div class="col-md-2 col-xs-2 padding-right-0">

        <img
          *ngIf="item.media && item.media.fileName"
          src="{{item.media.fileName}}" height="40px" class="width-100-p" style="border-radius: 3px;" alt="service"
        >

      </div>

    </div>

  </div>

</div>
<div class="vertical-scroll-hide" [ngStyle]="verticalScrollOverlayStyle"></div>
<div
  [ngStyle]="horizontalScrollOverlayStyle"
  class="col-xs-12 col-md-12 padding-top-15 padding-bottom-15 horizontal-scroll-hide"
  (click)="loadOlderNotifications()"
>
  <p class="color-darkgray font-em-09 margin-0">Older notifications</p>
</div>
</div>
