<ngb-tabset #t="ngbTabset">
    <ngb-tab title="{{likes_total}} Likes" id="like">
        <ng-template ngbTabContent>

            <div *ngFor="let like of likes; let i = index" class="like">
                <div class=" margin-20 d-flex align-items-center">
                    <div (click)="redirectToUser(like.user.id)" class="d-flex align-items-center position-relative margin-right-10">
                        <img class="like__image" src="{{like.user.profilePic}}" />
                        <img class="like__valid" src="assets/images/icons/online.png" />
                    </div>

                    <div class="">
                        <strong class="display-block"> {{like.user.firstName}} {{like.user.lastName}} </strong>
                        <div class="color-gray">
                            <i class="fa fa-map-marker"></i>
                            {{like.user.location.city}}, {{like.user.location.province}}
                        </div>
                    </div>

                    <div (click)="followUser(i)" *ngIf="!like.followed" class="display-flex align-items-center" style="margin-left: auto; margin-right: 20px;">
                        <a class="like__follow padding-5 padding-left-20 padding-right-20"> Follow </a>
                    </div>
                </div>

                <div class="like__separator"></div>

            </div>

            <div class="padding-20" *ngIf="likes.length <= 0 && like_end">
                No likes
            </div>

            <div class="margin-left-right-auto">
                <sk-three-bounce *ngIf="fetchingLikes"></sk-three-bounce>
            </div>

            <div *ngIf="!fetchingLikes && !like_end" class="d-flex justify-content-center margin-bottom-10 padding-bottom-10">
                <a class="btn get-more padding-5 padding-left-20 padding-right-20" (click)="onGetMoreLikes()"> Get More </a>
            </div>

        </ng-template>
    </ngb-tab>

    <ngb-tab title="{{comment_total}} Comments" id="comment">
        <ng-template ngbTabContent>

            <div *ngFor="let comment of comments; let i = index" class="like">
                <div class=" margin-20 d-flex align-items-center">
                    <div (click)="redirectToUser(comment.user.id)" class="d-flex align-items-center position-relative margin-right-10">
                        <img class="like__image" src="{{comment.user.profilePic}}" />
                    </div>

                    <div class="">
                        <div>
                            <strong class="display-block"> {{comment.user.firstName}} {{comment.user.lastName}} </strong>
                            <span class="color-gray"> {{comment.user.timeago}} </span>
                        </div>
                        <div class="color-gray">
                            {{comment.comment.comment}}
                        </div>
                    </div>

                </div>

                <div class="like__separator"></div>
            </div>


            <div class="padding-20" *ngIf="comments.length <= 0 && comment_end">
                No Comments
            </div>

            <div class="margin-left-right-auto">
                <sk-three-bounce *ngIf="fetchingComments"></sk-three-bounce>
            </div>


            <div *ngIf="!fetchingComments && !comment_end" class="d-flex justify-content-center margin-bottom-10 padding-bottom-10">
                <a class="btn get-more padding-5 padding-left-20 padding-right-20" (click)="onGetMoreComment()"> Get More </a>
            </div>

        </ng-template>
    </ngb-tab>

    <ngb-tab title="{{shares_total}} Shares" id="share">
        <ng-template ngbTabContent>
           
                <div *ngFor="let share of shares; let i = index" class="like">
                        <div class=" margin-20 d-flex align-items-center">
                            <div (click)="redirectToUser(share.user.id)" class="d-flex align-items-center position-relative margin-right-10">
                                <img class="like__image" src="{{like.user.profilePic}}" />
                                <img class="like__valid" src="assets/images/icons/online.png" />
                            </div>
        
                            <div class="">
                                <strong class="display-block"> {{share.user.firstName}} {{share.user.lastName}} </strong>
                                <div class="color-gray">
                                    <i class="fa fa-map-marker"></i>
                                    {{share.user.location.city}}, {{share.user.location.province}}
                                </div>
                            </div>
        
                            <div (click)="followUser(i)" *ngIf="!share.followed" class="display-flex align-items-center" style="margin-left: auto; margin-right: 20px;">
                                <a class="like__follow padding-5 padding-left-20 padding-right-20"> Follow </a>
                            </div>
                        </div>
        
                        <div class="like__separator"></div>
        
                    </div>
        
                    <div class="padding-20" *ngIf="shares.length <= 0 && shares_end">
                        No Shares
                    </div>
        
                    <div class="margin-left-right-auto">
                        <sk-three-bounce *ngIf="fetchingShares"></sk-three-bounce>
                    </div>
        
                    <div *ngIf="!fetchingShares && !shares_end" class="d-flex justify-content-center margin-bottom-10 padding-bottom-10">
                        <a class="btn get-more padding-5 padding-left-20 padding-right-20" (click)="onGetMoreShares()"> Get More </a>
                    </div>
        </ng-template>
    </ngb-tab>

</ngb-tabset>
