<div class="modal-body modal-content text-center padding-0 width-600-px margin-left-right-auto color-bg-white border-none">
  <div *ngIf="!model" style="display: flex; justify-content: center">
    <sk-circle></sk-circle>
  </div>

 <div class="col-xs-12 col-md-12 padding-0 color-bg-white" style="border-radius:10px; overflow:hidden;" *ngIf="model">
    <div class="col-xs-12 col-md-12 bg-F0F0F3" style="border-bottom:1px solid #e4e4e4;">
         <h3 class="text-left color-text-black font-em-11 margin-bottom-15 font-weight-600 margin-left-10 display-inlineBlock pull-left">Live Offer Request</h3>
         <span class="pull-right margin-top-15 margin-right-10 cursor-pointer" data-toggle="modal" (click)="closeModal()" data-target="#modal_liveOfferRequested">
             <img src="assets/images/icons/icon_close2.png" alt="">
         </span>
    </div>
     <div
      class="col-xs-12 col-md-12 color-bg-white text-left"
      style="border-bottom:1px solid #e4e4e4;"
      *ngIf="model.category"
     >
         <div class="col-xs-3 col-md-2 padding-top-10">
            <p class="color-gray">Category:</p>
         </div>
         <div class="col-xs-9 col-md-10 padding-0">
            <span *ngIf="!editable" class="padding-top-10 form-control color-text-black border-none boxshadow-none">{{model.category.name}}</span>
            <input
              *ngIf="editable"
              type="text"
              class="padding-top-10 form-control color-text-black border-none boxshadow-none"
              [(ngModel)]="model.category.name"
            >
         </div>
     </div>

     <div class="col-xs-12 col-md-12">
        <div class="col-xs-12 col-md-12 padding-top-15">
            <p class="color-gray text-left margin-0">Request Description:</p>
        </div>
        <div class="col-xs-12 col-md-12">
           <textarea disabled *ngIf="!editable" class="form-control disabled-textarea padding-left-0 border-none boxshadow-none color-text-black">{{model.description}}</textarea>
           <textarea
            *ngIf="editable"
            name=""
            id=""
            cols="30"
            rows="3"
            class="form-control padding-left-0 border-none boxshadow-none color-text-black"
            [(ngModel)]="model.description"
            >
           </textarea>
        </div>
     </div>

       <div class="col-xs-12 col-md-12 modal-datepicker" style="border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4;">
         <div class="col-xs-3 col-md-2 padding-top-10">
            <p class="color-gray">Schedule:</p>
         </div>
         <div class="col-xs-9 col-md-10 padding-0">
            <span *ngIf="!editable" class="padding-top-10 form-control color-text-black border-none boxshadow-none">{{displayDate}}</span>
           <ng-datepicker *ngIf="editable" [(ngModel)]="scheduleDate" [headless]="false" [position]="'bottom-right'"></ng-datepicker>
         </div>
       </div>

        <div class="clearfix"></div>

       <div class="col-xs-12 col-md-12 padding-left-20 padding-right-20 color-bg-white margin-top-25" *ngIf="model.media">
         <div class="col-xs-12 col-md-12">
             <p class="color-gray text-left">Media:</p>
         </div>
         <div class="col-xs-12 col-md-12">
             <div class="col-xs-4 col-md-4 padding-left-0 align-left" style="overflow:hidden;" *ngIf="model.media[0]">
                <img src="{{model.media[0].fileName}}" class="height-150-px" style="border-radius:2px;" alt="">
             </div>
             <div class="col-xs-4 col-md-4 padding-0 align-left" style="overflow:hidden;" *ngIf="model.media[1]">>
                <img src="{{model.media[1].fileName}}" class="height-150-px" style="border-radius:2px;" alt="">
             </div>
             <div class="col-xs-4 col-md-4 padding-right-0 align-left" style="overflow:hidden;" *ngIf="model.media[2]">>
                <img src="{{model.media[2].fileName}}" class="height-150-px" style="border-radius:2px;" alt="">
             </div>
         </div>
       </div>

       <div class="col-xs-12 col-md-12 padding-left-20 padding-right-20 color-bg-white margin-top-25">

        <div class="col-xs-12 col-md-12 modal-datepicker" *ngIf="!editable">
             <div class="col-xs-3 col-md-2 padding-0 padding-top-10">
                <p class="color-gray text-left">Price Range:</p>
             </div>
             <div class="col-xs-9 col-md-10 padding-0">
                <span class="padding-top-10 form-control color-text-black border-none boxshadow-none">{{priceRange}}</span>
             </div>
        </div>
        <div class="col-xs-12 col-md-12 modal-datepicker" *ngIf="editable">
             <div class="col-xs-3 col-md-2 padding-0 padding-top-10">
                <p class="color-gray text-left">Min Price:</p>
             </div>
             <div class="col-xs-9 col-md-10 padding-0">
               <input
                 *ngIf="editable"
                 type="text"
                 class="price-input padding-top-10 form-control color-text-black border-none boxshadow-none"
                 [(ngModel)]="model.minPrice"
                 [textMask]="{mask: priceMask}"
               >

             </div>
       </div>
       <div class="col-xs-12 col-md-12 modal-datepicker" *ngIf="editable">
            <div class="col-xs-3 col-md-2 padding-0 padding-top-10">
               <p class="color-gray text-left">Max Price:</p>
            </div>
            <div class="col-xs-9 col-md-10 padding-0">
              <input
                *ngIf="editable"
                type="text"
                class="price-input padding-top-10 form-control color-text-black border-none boxshadow-none"
                [(ngModel)]="model.maxPrice"
                [textMask]="{mask: priceMask}"
              >
            </div>
      </div>
        <div class="col-xs-12 col-md-12 modal-datepicker" *ngIf="model.location">
           <div class="col-xs-3 col-md-2 padding-0 padding-top-10">
             <p class="color-gray text-left">Location:</p>
           </div>
           <div class="col-xs-9 col-md-10 padding-0">
             <span
                class="padding-top-10 form-control color-text-black border-none boxshadow-none"
              >
              {{model.location.city}}, {{model.location.province ? model.location.province + ', ' : ''}}{{model.location.state}}
              </span>
           </div>
        </div>

        <div class="col-xs-12 col-md-12 modal-datepicker">
            <div class="col-xs-3 col-md-2 padding-0 padding-top-10">
              <p class="color-gray text-left">Expires On</p>
            </div>
            <div class="col-xs-9 col-md-10 padding-0">
             <span *ngIf="!editable" class=" padding-top-10 form-control color-text-black border-none boxshadow-none">{{model.expiresOn || 'n/a'}}</span>
             <ng-datepicker *ngIf="editable" [(ngModel)]="expiresOn" [headless]="false" [position]="'top-right'"></ng-datepicker>
            </div>
        </div>

       </div>


        <div class="col-xs-12 col-md-12 padding-20 padding-left-40 padding-right-40 bg-F0F0F3 margin-top-25">

            <li class="pull-left">
                <p *ngIf="!editable" class="color-blue font-weight-600 font-em-11 margin-0 clickable" (click)="goToChat()">Chat</p>
            </li>

            <li class="pull-right">
                <p *ngIf="editable" class="del-btn color-text-black font-weight-600 font-em-11 margin-0 clickable" (click)="deleteJob()">DELETE</p>
                <a
                *ngIf="editable"
                class="text-uppercase margin-top-40 bg-blue color-text-white font-px-14 font-weight-600 padding-6 padding-left-30 padding-right-30"
                style="border-radius:15px;"
                (click)="saveJob()"
                >
                  SAVE
                </a>
                <a
                *ngIf="!editable"
                class="text-uppercase margin-top-40 bg-blue color-text-white font-px-14 font-weight-600 padding-6 padding-left-30 padding-right-30"
                style="border-radius:15px;"
                (click)="sendOffer()">
                  SEND OFFER
                </a>
            </li>

        </div>

 </div>

</div>
