.align-left {
  text-align: left;
}
.clickable {
  cursor: pointer;
}
.modal-datepicker span {
  text-align: left;
}
.disabled-textarea {
  cursor: default;
  background-color: #fff;
}
.flex-aligner {
  width: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.del-btn {
  position: absolute;
  right: 155px;
}
