.btn-fileupload {
  width: 32px;
  position: absolute;
  top: 7px;
  right: 0;
  opacity: 0;
}

.btn-fileupload input {
  width: 30px;
  height: 30px;
}

.post-addtext input {
  border: none;
  font-size: 16px;
  line-height: 16px;
  width: 100%;
}

.post-addtext input:focus {
  outline: none;
}

.bannerStyle h1 {
  background-color: #ccc;
  min-height: 300px;
  text-align: center;
  line-height: 300px;
}
.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  background: none;
  border: none;
  height: 30px;
}

.leftRs:focus {
  outline: none;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background: none;
  right: 0;
  border: none;
  height: 30px;
}

.rightRs:focus {
  outline: none;
}

.tags-wrapper > .tag:not(:last-child) {
  border-bottom: 1px solid #e4e4e4;
}

.media-container {
  position: relative;
}

.media-element {
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px rgba(214, 214, 214, 0.9);
}

.media-element-close {
  z-index: 99;
  position: absolute;
  right: 5%;
  top: 5%;
  background: white;
  border-radius: 50%;
  padding: 2px;
  padding-top: 1px;
  padding-bottom: 2px;
  font-size: 10px;
  color: #b2adb1;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.ng-select.custom  {
  border: 0px;
  min-height: 0px;
  border-radius: 0;
  margin-top: 60px;

  .ng-control .ng-value-container .ng-placeholder {
    margin-left: 80px;
  }

  .ng-control {
    min-height: 0px;
    border-radius: 0;
    height: 60px;
    background: #F6F7F9;
    position: relative;
    border:  1px solid #e4e4e4;
    border-bottom: none;
  }

  .ng-control::after {
    position: absolute;
    left: 10px;
    top: calc(50% - 18px);
    content: "";
    background-image: url('assets/images/icons/tag@2x.png');
    width: 32px;
    height: 32px;
    background-size: cover;
  }
  .ng-control .ng-value-container .ng-input {
    height: 60px;
    display: flex;
    top: 0;
    align-items: center;
    margin-left: 80px;
  }
  .ng-control .ng-value-container .ng-input > input {

  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background: #F6F7F9;
    border-top: 1px solid #e4e4e4;

  }
}


