<div id="index_contentarea" class="col-md-9 col-sm-7 col-xs-12 margin-top-30 padding-bottom-200">

  <div id="buy_sell" class="col-xs-12 col-md-9 padding-0">

    <div class="d-flex justify-content-center">
        <div class="margin-top-100 text-bold text-center" style="max-width: 350px" *ngIf="offers && offers.length <= 0">
                <img style="width: 80px; height: 80px" src="assets/images/icons/mail-sent.png">
                <h4 class="text-bold"> You haven't seen any live offers yet</h4>
                <button [routerLink]="['/buy/offers']" class="btn btn-default margin-top-30 text-bold" style="border-radius: 30px; border:none; color: white;background: #00B4F1; padding: 10px 20px"> Live Offer Request </button>
            </div>
    </div>

    <div class="col-md-12 col-sm-12 sub_div col-xs-12 div-white-box-shadow margin-bottom-30 padding-0"
    style="border-bottom:2px solid #e4e4e4 !important; max-width:550px"
      *ngFor="let offer of offers; let i = index">

      <div class="col-md-12 col-xs-12 padding-30 padding-bottom-15" style="position:relative; border-bottom:1px solid #e4e4e4;">

        <div class="col-md-2 col-xs-3 sub_div_image">
          <img src="{{offer.media.fileName}}" alt="" height="85px">
        </div>

        <div class="col-md-10 col-xs-9 padding-right-0">
          <h4 class="margin-top-0 color-text-black font-weight-600">{{ offer.description}}</h4>
          <p class="font-em-09 margin-bottom-5">
            ${{offer.price}}  for {{offer.workDuration}} {{offer.workDurationUom}}
          </p>
          <p class="font-em-09 color-mediumgray margin-bottom-5">
            <span class="fa fa-map-marker"></span> {{offer.location.city}} , {{offer.location.country}},
            {{ user && ( turf(offer.location.geoJson,  user.location.geoJson) | truncateNumber) }} km
            km
          </p>

          <p class="font-em-09 color-mediumgray margin-bottom-5">
            Posted on {{offer.createdAt.toLocaleString(DateTime.DATETIME_SHORT)}}
          </p>

        </div>

        <ul class="padding-0 margin-0" style="position:absolute; top:30px; right:35px;">
          <li *ngIf="offer.seller.phone" class="display-inlineBlock margin-right-15">
            <img data-toggle="tooltip" data-placement="top" title="{{ offer.seller.phone }}"
             src="assets/images/icons/icon_phone.png" alt="">
          </li>
          <li class="display-inlineBlock cursor-pointer"
          [routerLink]="['../../chat/' + offer.seller.sellerId]"
          >
            <a>
              <img src="assets/images/icons/icon_email.png" alt="">
            </a>
          </li>
        </ul>


      </div>

      <div class="col-xs-12 col-md-12 sub_div_description padding-15 padding-left-30" style="background-color:#F6F7F9;">

        <div class="sub_div_footer col-md-4 col-sm-4 col-xs-5 padding-0 cursor-pointer"
        [routerLink]="['../../profile/' + offer.seller.sellerId]"
        >
          <ul class="margin-0 padding-0">
            <li class="display-inlineBlock">
              <img src="{{offer.seller.profilePic}}" width="32px" height="32px" class="border-radius-50p margin-right-5" alt="">
            </li>
            <li class="display-inlineBlock">
              <p class="color-darkgray">By {{offer.seller.firstName}} {{offer.seller.lastName}}</p>
            </li>
          </ul>
        </div>

        <div class="col-md-8 col-sm-8 col-xs-7 padding-top-10">
          <ul class="margin-0 padding-0 pull-right">
            <li id="li_addService" onclick="" class="display-inlineBlock pull-right">
              <a class="text-uppercase margin-top-40 bg-blue color-text-white font-px-14 font-weight-600 padding-8 padding-left-30 padding-right-30"
                style="border-radius:15px;" (click)="open(i)">Accept</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div style="max-width: 550px; position: relative">
      <sk-three-bounce *ngIf="fetching"></sk-three-bounce>
    </div>

    <div *ngIf="page < maxPage" #scroll class="col-md-12 col-sm-12 sub_div col-xs-12 div-white-box-shadow margin-bottom-30 padding-0" style="border:none !important;"></div>
  </div>


</div>
