<div class="col-xs-12 col-md-12 width-500-px chat_message margin-top-40 clickable"
  [ngClass]="{'right': (item.result && item.result.user && item.result.user.userId !== userId)}"
  [ngStyle]="{'margin-bottom': last ? '100px' : 'unset'}"
  (click)="showOffer(item.result.message.offer.offerId)"
>

  <div class="col-xs-4 col-md-3 text-left padding-top-3 display-inleBlock right-text"
  *ngIf="item.result && item.result.user && item.result.user.userId === userId"
  >
  <div
    [ngStyle]="{ 'width': '44px', 'height': '44px', 'background-image': 'url(' + ((chatPartner && chatPartner.profilePic) || 'assets/images/icons/oval.png') + ')' }"
    *ngIf="(item.result && item.result.user && item.result.user.userId === userId)"
    class="display-inlineBlock border-radius-50-p bg-img"
  ></div>

  </div>

  <div
    class="col-md-8 col-xs-8 text-left width-350-px div-white-box-shadow-3 padding-15 display-inleBlock rounded"
    style="position:relative; min-height:140px;"
    [ngClass]="{'others-message': item.result && item.result.user && item.result.user.userId === userId}"
  >

    <div class="width-110-px text-left display-inlineBlock" style="position:absolute; top:15px;">
        <div class="display-inlineBlock service-image" [ngStyle]="{'background-image': 'url(' + ((item.result.message.offer && item.result.message.offer.media && item.result.message.offer.media['fileName']) || 'assets/images/placeholder-img.png') + ')'}"></div>
    </div>

    <div class="padding-6 display-inlineBlock float-left text-center" style="position:absolute; top:15px; left:130px;">
      <p class="color-darkgray font-weight-300 font-px-14 margin-bottom-0 text-left description-text">{{item.result.message.offer.description && (item.result.message.offer.description.substr(0, 30) + '...')}}</p>
      <p class="color-gray font-weight-300 font-px-10 margin-0 margin-top-5 font-px-12 margin-bottom-5">San Jose, CA, 22km by Jhone deo</p>

      <p class="color-gray display-inlineBlock pull-left font-px-14">
        <img src="assets/images/p.png" alt="">
        234
      </p>

      <p class="color-gray display-inlineBlock text-center font-px-14">
        <i class="fa fa-briefcase color-mediumgray"></i>
        23
      </p>

      <p class="color-gray display-inlineBlock pull-right font-px-14">
        <i class="fa fa-star color-mediumgray"></i>
        96%
      </p>

      <p class="text-left">
        <a *ngIf="item.result.message.offer && item.result.message.offer.service && item.result.message.offer.service.price" class="display-inline padding-6 padding-left-15 padding-right-15 bg-blue color-text-white font-px-12" style="border-radius: 12px;">
        ${{item.result.message.offer.service.price.price}}/{{item.result.message.offer.service.price.timeUnitOfMeasure}} - BUY NOW
        </a>
      </p>


    </div>

  </div>


  <div class="col-xs-4 col-md-3 text-left padding-top-3 display-inleBlock"
  *ngIf="item.result && item.result.user && item.result.user.userId !== userId"
  >
    <div
      [ngStyle]="{ 'width': '34px', 'height': '34px', 'background-image': 'url(' + (chatUser.profilePic || 'assets/images/icons/oval.png') + ')' }"
      *ngIf="(item.result && item.result.user && item.result.user.userId !== userId)"
      class="display-inlineBlock border-radius-50-p bg-img"
    ></div>

  </div>


  <div class="col-xs-12 col-md-12 padding-0 text-left"
  [ngClass]="{
      'col-xs-offset-3 col-md-offset-3': (item.result && item.result.user && item.result.user.userId === userId),
      'right-footnote': (item.result && item.result.user && item.result.user.userId !== userId)
    }"
  >
    <img src="assets/images/icons/message_seen.png" alt="" *ngIf="item.result && item.result.user && item.result.user.userId !== userId">
    <p class="color-gray font-weight-300 font-px-10 margin-0 margin-top-5 display-inlineBlock">{{moment(item.result.message.createdAt).format('MMMM Do YYYY, LT')}}</p>
  </div>

</div>
