<div class="col-xs-12 col-md-4 padding-left-0">
  <div class="col-xs-12 col-md-12 color-bg-white div-white-box-shadow" style="padding: 30px 0; margin-bottom: 30px;">
    <div class="col-xs-12 col-md-12 text-center">
      <img src="{{data.followTo.profilePic}}" class="width-100-px height-100-px border-radius-50p" alt="">
    </div>
    <div class="col-xs-12 col-md-12 text-center" style="height: 58px;">
      <p class="color-text-black font-weight-600 margin-bottom-3 margin-top-8">{{data.followTo.firstName}} {{data.followTo.lastName}}</p>
      <p class="font-px-12 color-gray">{{categories}}</p>
    </div>
    <div class="col-xs-12 col-md-12 text-center margin-top-3">
      <a data-toggle="modal" data-target="#" class="btn_menu btn_menu_active margin-top-40 text-uppercase" style="font-size: 14px !important;">Following</a>
    </div>
  </div>
</div>