.btn-gsignup {
    display: none;
}

.input-email.has-errors,
.input-pass.has-errors,
.input-fname.has-errors,
.input-lname.has-errors,
.input-email.has-fberrors,
.input-pass.has-fberrors,
.input-fname.has-fberrors,
.input-lname.has-fberrors {
    background-color: pink;
}

.demo #search_places {
    height: 100px;
}

.location {
    text-align: left;
    display: block;
    margin-bottom: 20px;
    height: 50px;
}

.avatar-upload {
    position: relative;
    width: 106px;
    margin: 0 auto;
}

.btn-fileupload {
    position: absolute;
    top: 0;
    height: 106px;
    width: 106px;
    opacity: 0;
}

.btn-fileupload input {
    width: 106px;
    height: 106px;
}

.btn-search {
    float: right;
    margin-left: -61px;
    height: 39px;
    width: 55px;
    background-color: white;
    border: 1px solid #cccccc;
    border-left: none;
    border-bottom: none;
}