<div id="index_contentarea" class="col-md-9 col-sm-7 col-xs-12 margin-top-30 padding-bottom-200">

    <div id="buy_sell" class="col-xs-12 col-md-9 padding-0">

        <h2 class="text-bold margin-bottom-10"> Job Opportunities </h2>
        
        <div class="d-flex justify-content-center">
                <div class="margin-top-100 text-bold text-center" style="max-width: 350px" *ngIf="models && models.length <= 0">
                        <img style="width: 80px; height: 80px" src="assets/images/icons/male-job-search-symbol@2x.png">
                        <h4 class="text-bold"> There aren't any Job Opportunities for you at the momment</h4>
                        <button [routerLink]="['/buy/request']" class="btn btn-default margin-top-30 text-bold" style="border-radius: 30px; border:none; color: white;background: #00B4F1; padding: 10px 20px"> Explore Jobs</button>
                    </div>            
        </div>
        <div *ngFor="let model of models;let i = index"
        class="col-md-12 col-sm-12 sub_div col-xs-12 div-white-box-shadow margin-bottom-30 padding-0" 
        style="border-bottom:2px solid #e4e4e4 !important; max-width:550px;">

            <div class="col-md-12 col-xs-12 padding-15" style="position:relative; border-bottom:1px solid #e4e4e4;">

                <div class="col-xs-12 col-md-12 padding-0">
                    <div class="col-xs-9 col-md-9 padding-bottom-10 padding-top-10">
                        <div class="col-xs-12 col-md-12 padding-0">
                            <div style="position:relative; vertical-align:top;" class="col-md-2 col-xs-3 padding-0 float-left-custom display-inlineBlock text-center margin-right-10">
                                <img src="{{ model.request.media[0].fileName }}" alt="" style="margin-left:auto; margin-right:auto;" width="44px" height="44px">
                            </div>
                            <div class="col-md-9 col-xs-8 padding-0 float-left-custom display-inlineBlock padding-left-3" style="vertical-align:middle;">
                                <span>
                                    <p class="color-text-black font-weight-600 font-px-14 margin-0"> {{ model.request.description }} </p>
                                    <p class="color-darkgray font-px-12 margin-0 margin-top-5">Price range: {{model.request.currencyCode}}{{ model.requester.low }} - {{model.request.currencyCode}}{{ model.requester.high }}</p>
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-md-3 padding-left-0 padding-right-15">
                        <p class="color-gray margin-top-12 pull-right">Edit Offer</p>
                    </div>
                </div>

                <div class="col-xs-9 col-md-9 col-xs-offset-3 col-md-offset-2 padding-0">
                    <p id="mleft" class="display-inlineBlock font-weight-600 margin-0 margin-top-10 color-blue margin-right-10">
                        Offer sent {{ model.sendDaysAgo }} days ago
                    </p>
                    <p class="display-inlineBlock color-gray font-weight-600">
                        {{model.numOffers}} Other sellers sent offers
                    </p>
                </div>

            </div>


            <div class="col-xs-12 col-md-12 sub_div_description padding-15 padding-left-30" style="background-color:#F6F7F9;">

                <div class="sub_div_footer col-md-7 col-xs-7 padding-0">
                    <ul class="margin-0 padding-0">
                        <li class="display-block">
                            <p class="color-gray font-em-09 margin-0">Posted on {{ model.request.createdAt }}</p>
                        </li>
                        <li class="display-block">
                            <p class="color-blue font-em-09 margin-0">Expires in {{ model.expiresIn}} days</p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-5 col-xs-5 padding-top-10">
                    <a (click)="open(i)" 
                        class="display-inlineBlock bg-blue font-weight-600 text-uppercase color-text-white btn form-control font-px-14 padding-right-10 padding-left-10"
                        style="border-radius:25px; margin-top:-10px;"> View Job </a>
                </div>

            </div>
    </div>


    <div style="max-width: 550px; position: relative">
        <sk-three-bounce *ngIf="fetching"></sk-three-bounce>
      </div>
    <div *ngIf="page < maxPage" #scroll class="col-md-12 col-sm-12 sub_div col-xs-12 div-white-box-shadow margin-bottom-30 padding-0"
        style="border:none !important;"></div>

</div>