<div id="index_main" class="col-xs-12 col-md-12 padding-0 padding-bottom-60" style="background-color:rgb(249,249,249)">
  <div class="container">
    <div id="index_sidepanel" class="col-md-7 col-sm-7 col-xs-12 padding-left-60 margin-top-30">
      <!-- <h3 class="color-text-black font-weight-600">Dog Walking Service</h3> -->
      <p class="service-description color-darkgray font-em-12 margin-top-20">{{detail.result.service.description}}</p>
      <div class="col-xs-12 col-md-12 padding-0" style="border-radius:3px; background-position:center; background-size:cover; height:400px;" [ngStyle]="{'background-image':'url(' + detail.result.service.media[0].fileName + ')'}">
        
      </div>
      <div class="col-xs-12 col-md-12 padding-0 margin-top-40">
        <h4 class="color-text-black font-weight-600">Delivery Method</h4>
        <p class="color-darkgray font-em-12 margin-top-20">Service locally  within 20 Miles of Chicago downtown</p>
      </div>
      <div class="col-xs-12 col-md-12 padding-0 margin-top-10" style="border-radius:3px; background-image:url(assets/images/service_map@2x.png); background-position:center; background-size:cover; height:350px;"></div>

      <div class="col-xs-12 col-md-12 padding-0 margin-top-40">
        <h4 class="color-text-black font-weight-600 margin-bottom-20">Customer Reviews</h4>
        <app-service-reviews *ngFor="let review of reviews.reviews" [data]="review"></app-service-reviews>
      </div>
    </div>
    
    <div id="index_contentarea" class="col-md-5 col-sm-5 col-xs-12 margin-top-45">
      <div class="col-xs-12 col-md-12">
        <div class="col-xs-4 col-md-4 padding-right-0">
          <li class="padding-8 padding-left-15 padding-right-15 width-110-px text-center" style="border:1px solid #AEB3BB; border-radius:20px;">
            <img src="assets/images/icons/share.png" alt="">
            <p class="display-inlineBlock color-gray margin-left-3 font-weight-600 margin-bottom-0">Share</p>
          </li>
        </div>
        <div class="col-xs-4 col-md-4 padding-0 text-center">
          <li class="padding-8 padding-left-15 padding-right-15 width-110-px text-center margin-left-right-auto" style="border:1px solid #AEB3BB; border-radius:20px;">
            <img src="assets/images/icons/heart_gray.png" alt="">
            <p class="display-inlineBlock color-gray margin-left-3 font-weight-600 margin-bottom-0">Like</p>
          </li>
        </div>
        <div class="col-xs-4 col-md-4 padding-left-0">
          <li class="padding-8 padding-left-15 padding-right-15 width-110-px text-center pull-right" style="border:1px solid #AEB3BB; border-radius:20px;">
            <img src="assets/images/icons/visibility.png" alt="">
            <p class="display-inlineBlock color-gray margin-left-3 font-weight-600 margin-bottom-0">Watch</p>
          </li>
        </div>
      </div>
      <div class="col-xs-12 col-md-12 margin-top-10">
        <div class="col-xs-12 col-md-12 padding-top-15">
          <div class="col-xs-12 col-md-12 color-bg-white div-white-box-shadow padding-25">
            <div class="col-xs-12 col-md-12 padding-0 margin-top-5">
              <div class="col-xs-6 col-md-6 padding-0">
                <h4 class="margin-0">$10/ 1 hour</h4>
                <p class="font-em-11 color-gray">Price description</p>
              </div>
              <div class="col-xs-6 col-md-6 padding-0">
                <div class="pull-right">
                  <img class="cursor-pointer" onclick="btn_update_value('minus','text_value_1');" src="assets/images/icons/minus.png" alt="">
                  <p id="text_value_1" class="width-40-px display-inlineBlock text-center font-weight-600 font-em-13" style="color:#484848;">1</p>
                  <img class="cursor-pointer" onclick="btn_update_value('plus','text_value_1');" src="assets/images/icons/plus.png" alt="">             
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-12 padding-0 margin-top-10">
              <div class="col-xs-6 col-md-6 padding-0">
                <h4 class="margin-0">$20/ 1 hour</h4>
                <p class="font-em-11 color-gray">Price description</p>
              </div>
              <div class="col-xs-6 col-md-6 padding-0">
                <div class="pull-right">
                  <img class="cursor-pointer" onclick="btn_update_value('minus','text_value_2');" src="assets/images/icons/minus.png" alt="">
                  <p id="text_value_2" class="width-40-px display-inlineBlock text-center font-weight-600 font-em-13" style="color:#484848;">1</p>
                  <img class="cursor-pointer" onclick="btn_update_value('plus','text_value_2');" src="assets/images/icons/plus.png" alt="">             
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-12 padding-0 margin-top-15">
              <li class="bg-blue width-100-p padding-top-15 padding-bottom-15 text-center" style="border-radius:30px">
                <a href="checkout.html" class="color-text-white text-center font-weight-600 font-em-11">BUY FOR $30</a>
              </li>
            </div>
            <div class="col-xs-12 col-md-12 padding-0 margin-top-15">
              <p></p>
            </div>
          </div>
          <div class="col-xs-12 col-md-12 color-bg-white div-white-box-shadow padding-25 margin-top-30">
            <div class="col-xs-5 col-md-4 text-right">
              <img src="{{detail.result.seller.profilePic}}" style="width:74px; height:74px; border-radius:50%;" alt="">
            </div>
            <div class="col-xs-7 col-md-8 padding-left-0">
              <div class="col-xs-12 col-md-12 padding-0">
                <h4 onclick="open_userprofile()" class="cursor-pointer display-inlineBlock font-weight-600 margin-right-2">
                  {{detail.result.seller.firstName}} {{detail.result.seller.lastName}}
                </h4>
                <img src="assets/images/icons/online@2x.png" style="vertical-align:text-bottom;" width="18px" height="18px" alt="">
              </div>
              <div class="col-xs-12 col-md-12 padding-0">
                <p class="color-gray margin-bottom-0">{{detail.result.seller.companyName}} Company</p>
                <p class="color-gray font-em-09">
                  <i class="fa fa-map-marker color-gray"></i>
                  {{detail.result.service.location[0].city}}, {{detail.result.service.location[0].country}}, {{detail.result.service.location[0].province}} km
                </p>
              </div>
              <div class="col-xs-12 col-md-12 padding-0">
                <div class="col-xs-6 col-md-6 padding-0">
                  <li class="padding-5 padding-left-8 padding-right-8 width-90-px text-center" style="border:1px solid #AEB3BB; border-radius:20px;">
                    <img src="assets/images/icons/phone@2x.png" width="16px" height="16px" alt="">
                    <p class="display-inlineBlock color-gray margin-left-3 font-weight-600 margin-bottom-0">Call</p>
                  </li>
                </div>
                <div class="col-xs-6 col-md-6 padding-0">
                  <li class="padding-5 padding-left-8 padding-right-8 width-90-px text-center" style="border:1px solid #AEB3BB; border-radius:20px;">
                    <img src="assets/images/icons/envelope.png" width="16px" alt="">
                    <p class="display-inlineBlock color-gray margin-left-3 font-weight-600 margin-bottom-0">Chat</p>
                  </li>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-12 color-bg-white div-white-box-shadow margin-top-30">
            
            <div class="col-xs-12 col-md-12 padding-left-20 padding-top-20 padding-bottom-10">
              <h4 class="color-darkgray text-center font-weight-600">Service Metrics</h4>
              <div class="col-xs-12 col-md-12 padding-0 padding-top-20">
                <div class="col-xs-4 col-md-4 padding-right-0">
                  <div class="col-xs-12 col-md-12 padding-0">
                    <div class="border-radius-50p pull-left" style="border:1px solid #95989A; width:44px; height:44px;">
                      <p class="color-darkgray padding-top-13 font-px-12 text-center">{{detail.result.service.avgRating}}%</p>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-12 padding-0 margin-top-5">
                    <p class="color-darkgray font-px-12 text-left">On time</p>
                  </div>
                </div>
                <div class="col-xs-4 col-md-4 padding-0">
                  <div class="col-xs-12 col-md-12 padding-0">
                    <div class="border-radius-50p margin-left-right-auto" style="border:1px solid #95989A; width:44px; height:44px;">
                      <p class="color-darkgray padding-top-13 font-px-12 text-center">4.5/5</p>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-12 padding-0 margin-top-5">
                    <p class="color-darkgray font-px-12 text-center">Quality</p>
                  </div>
                </div>
                <div class="col-xs-4 col-md-4 padding-0">
                  <div class="col-xs-12 col-md-12 padding-left-0">
                    <div class="border-radius-50p pull-right" style="border:1px solid #95989A; width:44px; height:44px;">
                      <p class="color-darkgray padding-top-13 font-px-12 text-center">1.2hr</p>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-12 padding-0 margin-top-5">
                    <p class="color-darkgray font-px-12 text-center">Avg. response <br> time</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-12 padding-0 padding-top-20" style="border-top:1px solid #ccc;">
                <div class="col-xs-12 col-md-12 padding-0">
                  <div class="col-md-1 col-xs-2 padding-0">
                    <i class="fa fa-briefcase color-mediumgray font-px-16 margin-top-3"></i>
                  </div>
                  <div class="col-md-10 col-xs-10 padding-right-0">
                    <p class="color-gray text-left">
                      <span class="color-darkgray">{{detail.result.service.numOrders}}</span>
                      service order completed
                    </p>
                  </div>
                </div>
                <div class="col-xs-12 col-md-12 padding-0 margin-top-10">
                  <div class="col-md-1 col-xs-2 padding-0">
                    <i class="fa fa-star color-mediumgray font-px-16 margin-top-3"></i>
                  </div>
                  <div class="col-md-10 col-xs-10 padding-right-0">
                    <p class="color-gray text-left">
                      <span class="color-darkgray">{{detail.result.service.avgRating}}%</span>
                      avg rating
                    </p>
                  </div>
                </div>
                <div class="col-xs-12 col-md-12 padding-0 margin-top-10">
                  <div class="col-md-1 col-xs-2 padding-0">
                    <i class="fa fa-users color-mediumgray font-px-16 margin-top-3"></i>
                  </div>
                  <div class="col-md-10 col-xs-10 padding-right-0">
                    <p class="color-gray text-left">
                      <span class="color-darkgray">90%</span>
                      of customers will buy this service again
                    </p>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-xs-12 col-md-12 padding-bottom-40">
              <div class="col-xs-12 col-md-12 padding-0 padding-top-10" style="border-top:1px solid #ccc;">
                <div class="col-xs-4 col-md-4 padding-0 margin-top-10">
                  <div class="col-md-6 col-xs-6 padding-0">
                    <div class="text-center border-radius-50p margin-left-right-auto padding-top-5 margin-top-2" style="border:1px solid #95989A; width:32px; height:32px;">
                      <img src="assets/images/p.png" alt="">
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-6 padding-0 padding-left-2">
                    <p class="color-gray text-left color-darkgray margin-0">234</p>
                    <p class="color-gray text-left color-darkgray margin-0 font-em-07">Points</p>
                  </div>
                </div>
                <div class="col-xs-4 col-md-4 padding-0 margin-top-10">
                  <div class="col-md-6 col-xs-6 padding-0">
                    <div class="text-center border-radius-50p margin-left-right-auto padding-top-5 margin-top-2" style="border:1px solid #95989A; width:32px; height:32px;">
                      <i class="fa fa-heart-o color-gray"></i>
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-6 padding-0 padding-left-2">
                    <p class="color-gray text-left color-darkgray margin-0">234</p>
                    <p class="color-gray text-left color-darkgray margin-0 font-em-07">Likes</p>
                  </div>
                </div>
                <div class="col-xs-4 col-md-4 padding-0 margin-top-10">
                  <div class="col-md-6 col-xs-6 padding-0">
                    <div class="text-center border-radius-50p margin-left-right-auto padding-top-5 margin-top-2" style="border:1px solid #95989A; width:32px; height:32px;">
                      <i class="fa fa-eye color-gray"></i>
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-6 padding-0 padding-left-2">
                    <p class="color-gray text-left color-darkgray margin-0">234</p>
                    <p class="color-gray text-left color-darkgray margin-0 font-em-07">Watching</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-12 padding-0 margin-top-40">
      <h4 class="color-text-black font-weight-600 margin-bottom-20 margin-left-15">Related Services</h4>
      <app-service-related *ngFor="let doc of related.docs" [data]="doc"></app-service-related>
    </div>

  </div>
</div>
