<div id="index_main" class="col-xs-12 col-md-12 padding-0 padding-bottom-60" style="background-color:rgb(249,249,249)">
    <div class="col-md-offset-1 col-xs-12 col-md-11 padding-0 padding-top-40 padding-bottom-200" style="margin-left: 0">
        <app-sell-sidebar class="hidden-xs" [selectedTab]="tab"></app-sell-sidebar>
        <app-sell-orders *ngIf="tab=='orders'"></app-sell-orders>
        <app-sell-offers *ngIf="tab=='offers'"></app-sell-offers>
        <app-sell-seller *ngIf="tab=='seller'"></app-sell-seller>
        <app-sell-membership *ngIf="tab=='membership'"></app-sell-membership>
        <app-sell-location *ngIf="tab=='location'"></app-sell-location>
        <app-sell-job *ngIf="tab=='job'"></app-sell-job>
        <app-sell-check *ngIf="tab=='check'"></app-sell-check>
        <app-sell-check-form *ngIf="tab=='check-form'"></app-sell-check-form>

    </div>
</div>
