
.range-bar
{
    background-color: #E4E4E4 !important;
}

.range-quantity
{
   background-color: #00B4F1 !important;
}

.range-handle
{
    border: 1px solid #00B4F1 !important;
}
.range-min,
.range-max {
  font-size: 11px;
  top: 5px;
  position: absolute;
}
.range-min {
  left: 15px;
}
.range-max {
  right: 0;
}
