<div id="index_main" class="col-xs-12 col-md-12 padding-0 padding-bottom-60 order-review review_order" style="background-color:rgb(249,249,249)">

   <div class="container">

        <div id="index_sidepanel" class="review_order col-md-7 col-sm-7 col-xs-12 padding-left-60 margin-top-25">

            <div class="col-xs-12 col-md-12 color-bg-white div-white-box-shadow margin-top-30 padding-25" style="border:1px solid #e4e4e4; border-radius:3px; border-top:0px; position:relative;">

                  <div class="col-xs-12 col-md-12 padding-right-0 padding-0">

                     <div class="col-xs-12 col-md-12">
                         <h4 class="color-text-black font-weight-600 margin-top-0">Review Order</h4>
                     </div>

                     <div class="col-xs-12 col-md-12">

                         <div class="col-xs-12 col-md-12">
                             <p class="color-darkgray margin-top-20">Quality of Service</p>
                         </div>

                         <div class="col-xs-12 col-md-12 padding-left-0">
                             <div class="col-xs-2 col-md-2 padding-0"><img src="assets/images/icons/icon_1.png" alt=""></div>
                             <div class="col-xs-2 col-md-2 padding-0"><img src="assets/images/icons/icon_2.png" alt=""></div>
                             <div class="col-xs-2 col-md-2 padding-0"><img src="assets/images/icons/icon_3.png" alt=""></div>
                             <div class="col-xs-2 col-md-2 padding-0"><img src="assets/images/icons/icon_4.png" alt=""></div>
                             <div class="col-xs-2 col-md-2 padding-0"><img src="assets/images/icons/icon_5.png" alt=""></div>
                         </div>

                         <div class="col-xs-12 col-md-12 margin-top-10">
                             <p class="color-darkgray margin-top-20 margin-bottom-30">Overall Rating</p>
                         </div>

                         <div class="col-xs-12 col-md-9 padding-left-40 padding-right-30">
                           <div class="range-min">1</div>
                           <div class="range-max">100</div>
                           <nouislider [connect]="true" [min]="0" [max]="15" [(ngModel)]="rating"></nouislider>
                             <!-- <input type="text" class="js-range form-control" /> -->
                         </div>

                         <div class="col-xs-12 col-md-12 margin-top-40">
                             <p class="color-darkgray margin-top-20">Will You Buy Again</p>
                         </div>

                          <div class="col-xs-12 col-md-12 margin-top-10 padding-0">
                           <div class="col-xs-2 col-md-2 padding-right-0">
                               <div class="col-xs6 col-md-6 padding-0">
                                   <p class="display-inlineBlock color-darkgray text-uppercase margin-right-8">yes</p>
                               </div>
                               <div class="col-xs6 col-md-6 padding-0 padding-top-1">
                                   <input checked type="checkbox" class="form-control">
                               </div>
                           </div>
                           <div class="col-xs-2 col-md-2">
                                <div class="col-xs6 col-md-6 padding-0">
                                   <p class="display-inlineBlock color-darkgray text-uppercase margin-right-8">no</p>
                               </div>
                               <div class="col-xs6 col-md-6 padding-0 padding-top-1">
                                   <input type="checkbox" class="form-control">
                               </div>
                           </div>
                          </div>


                          <div class="col-xs-12 col-md-12 margin-top-10">
                             <p class="color-darkgray margin-top-20">Comment</p>
                             <textarea name="" id="" cols="30" rows="3" class="form-control boxshadow-none" style="border:1px solid #e4e4e4;"></textarea>
                         </div>


                         <div class="col-xs-12 col-md-12 margin-top-20">
                             <a class="pull-right text-uppercase bg-blue color-text-white font-px-14 font-weight-600 padding-6 padding-left-25 padding-right-25"
                             routerLink="/home"
                             style="border-radius:15px;">Done</a>
                         </div>


                     </div>
                  </div>
              </div>


            <div class="col-xs-12 col-md-12 color-bg-white div-white-box-shadow margin-top-30 padding-25" style="border:1px solid #e4e4e4; border-radius:3px; border-top:0px;">

               <h4 class="color-text-black font-weight-600 margin-top-0">Next Step: Buyer to Accept</h4>

               <img src="assets/images/icons/review_order_process.png" alt="">

               <div class="col-xs-12 col-md-12 padding-0 margin-bottom-30" style="position:relative;">
                   <p class="color-gray display-inlineBlock font-em-08" style="position:absolute; left:20px; top:5px;">Paid on 10/25</p>
                   <p class="color-gray display-inlineBlock font-em-08" style="position:absolute; left:25%; top:5px;">Scheduled</p>
                   <p class="color-gray display-inlineBlock font-em-08" style="position:absolute; right:49%; top:5px;">Start</p>
                   <p class="color-gray display-inlineBlock font-em-08" style="position:absolute; right:26%; top:5px;">Complete</p>
                   <p class="color-gray display-inlineBlock font-em-08" style="position:absolute; right:30px; top:5px;">Acceptance</p>
               </div>

            </div>


        </div>


      <!----------------------------------------------------------------------------------------------------------------->



        <div id="index_contentarea" class="col-md-5 col-sm-5 col-xs-12">

           <div class="col-xs-12 col-md-12 margin-top-10">

             <div class="col-xs-12 col-md-12 padding-top-15">

                  <div class="col-xs-12 col-md-12 color-bg-white div-white-box-shadow margin-top-30 padding-25">

                      <div class="col-xs-12 col-md-12 padding-0" style="border-bottom:1px solid #e4e4e4;">
                         <h4 class="color-text-black font-weight-600 margin-top-0">Order Detail</h4>
                      </div>

                      <div class="col-xs-12 col-md-12 padding-0 margin-top-20" style="position:relative;">

                          <img src="assets/images/order_fulfillment_profile.png" style="width:44px; height:44px; border-radius:50%; position:absolute; top:0px; right:5px;" alt="">

                          <p class="color-darkgray">Dog Walk Service</p>
                          <p class="color-darkgray font-em-09 margin-bottom-5">$10 for 1 hour = 01</p>
                          <p class="color-darkgray font-em-09 margin-bottom-5">Transaction Fee: $3.00</p>
                          <p class="color-darkgray font-em-09 margin-bottom-5">Total: $30.00</p>
                      </div>

                      <div class="col-xs-12 col-md-12 padding-0 margin-top-10">
                          <p class="color-darkgray pull-left font-em-09">Order No: 123456789</p>
                          <p class="color-blue pull-right font-em-09">Paid On 11/19</p>
                      </div>

                  </div>

             </div>

           </div>


        </div>


   </div>

</div>
