.menu-container {
  position: relative;
}

.menu-container:after,
.menu-container:before {
    content: '';
    display: block;
    position: absolute;

    width: 0;
    height: 0;
    border-style: solid;
}

.menu-container:after {
    top: -16px;
    left: 472px;

    border-color: transparent transparent white transparent;
    border-width: 8px;
}

.menu-container:before {
    top: -18px;
    left: 471px;

    border-color: transparent transparent #e4e4e4 transparent;
    border-width: 9px;
}
