<div class="col-xs-12 col-md-12 padding-10" style="background-color:#F0F0F3;">
  <p class="color-darkgray display-inlineBlock margin-0 margin-left-10">Send Custom Offer</p>
  <p class="color-darkgray display-inlineBlock margin-0 margin-right-10 pull-right font-em-09 margin-top-3"></p>
</div>
<div class="col-xs-12 col-md-12 padding-0 padding-left-0 height-40-px form-border-bottom" style="background-color:#FFFFFF;">
  <p
    (click)="toggleLinkService()"
    class="color-gray display-inlineBlock margin-0 margin-left-5 line-height-40-px clickable"><img src="/assets/images/icons/clip.png" class="link-img">
    Link a service
  </p>
  <p class="color-darkgray display-inlineBlock margin-0 margin-right-10 pull-right font-em-09 margin-top-3"></p>
</div>
<div class="col-xs-12 middle-panel padding-left-0 padding-right-0">
  <div class="chat-service" *ngIf="linkedService && !noServices">
    <div class="del-btn clickable" (click)="deleteLinkedService()">
      <img src="assets/images/icons/icon_close2.png" alt="delete" />
    </div>
    <div class="separator"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4">

          <div class="text-left display-inlineBlock width-100-p">
              <img class="display-inlineBlock service-image" src="{{linkedService.service.media.fileName}}">
          </div>
        </div>
        <div class="col-xs-8 padding-left-0">
          <div class="padding-6 display-inlineBlock float-left text-center width-100-p">
            <p class="color-darkgray font-weight-600 font-px-14 margin-bottom-0 text-left description-text">
              {{linkedService.service.description.length > 20 ? linkedService.service.description.substr(0, 17) + '...' : linkedService.service.description}}
            </p>
            <p class="color-gray font-weight-300 font-px-10 margin-0 margin-top-5 font-px-12 margin-bottom-5 text-left" *ngIf="linkedService.service.location && linkedService.service.location[0]">
                <i class="fa fa-map-marker"></i>
                {{linkedService.service.location[0].city}},
                {{linkedService.service.location[0].state || ''}},
                {{getDistance(linkedService.service.location[0]['geoJson']['coordinates'])}}
            </p>

            <p class="color-gray display-inlineBlock pull-left font-px-14">
              <img src="assets/images/p.png" alt="">
              {{linkedService.pointValue}}
            </p>

            <p class="color-gray display-inlineBlock text-center font-px-14">
              <i class="fa fa-briefcase color-mediumgray"></i>
              {{linkedService.numOrders}}
            </p>

            <p class="color-gray display-inlineBlock pull-right font-px-14">
              <i class="fa fa-star color-mediumgray"></i>
              {{linkedService.avgRating}}%
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="create-custom-offer">
    <div class="price-section padding-15">
      <div class="price-inputs row">
        <div class="col-xs-12 padding-0">
          <div class="row margin-0 padding-left-15 padding-right-15">
            <div class="price-input-left col-xs-6">
              <p class="color-gray font-weight-300 text-left">Custom Price</p>
            </div>
            <input
              class="color-text-black font-px-16 font-weight-600 price-input-right col-xs-6"
              [(ngModel)]="service.price"
              (ngModelChange)="validateInput(true)"
              [textMask]="{mask: priceMask}"
              placeholder="$0"
            >
          </div>
        </div>

      </div>
    </div>
    <div class="offer-description-section padding-15 padding-top-0">
        <textarea
          class="color-gray font-weight-300 form-border padding-15 grey-placeholder"
          rows="4"
          placeholder="Write Offer Description"
          (ngModelChange)="validateInput()"
          [(ngModel)]="service.description">
        </textarea>
    </div>
    <div class="time-section padding-15 padding-top-0">
      <p class="create-custom-offer-section-title color-gray font-weight-300">Time to complete work</p>
      <div id="custom_inputs" class="col-xs-12 col-md-12 padding-0">

          <div class="col-xs-8 col-md-8 padding-0 display-inlineBlock" style="position:relative;">

              <input onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                  class="form-control time-input-left font-px-12 square-right"
                  [(ngModel)]="service.workDuration"
                  (ngModelChange)="validateInput()"
                  placeholder="0"
                  numberOnly>

              <!-- <p class="p_absolute time-descr">Weeks</p> -->

          </div>

          <div class="col-xs-4 col-md-4 padding-0 display-inlineBlock time-select" style="position:relative;">

              <ng-select
                [items]="timeOptions"
                [searchable]="false"
                [clearable]="false"
                (ngModelChange)="validateInput()"
                [(ngModel)]="service.workDurationUom" >
              </ng-select>

              <!-- <p class="p_absolute time-descr">Hours</p> -->

          </div>

      </div>

    </div>
    <div class="delivery-section">

      <div class="col-xs-12 col-md-12 padding-15">

          <!-- <div *ngIf="errorDelivery.length > 0" class="text-small text-danger"> {{ errorDelivery }}</div> -->
          <li class="dropdown dropdown-trigger" style="position:relative;">

              <a (click)="showDropdown()" class="form-control-custom dropdown-trigger text-left dropdown-toggle padding-0 padding-top-5 padding-left-10 boxshadow-none"
                  style="border:1px solid #e4e4e4;">

              <ng-container *ngIf="!this.service.fulfillmentMethod.online &&
              !this.service.fulfillmentMethod.shipment &&
              !this.service.fulfillmentMethod.store &&
              !this.service.fulfillmentMethod.local">
                  <span class="color-gray dropdown-trigger">Choose Delivery Method</span>
              </ng-container>

                  <ng-container *ngIf="this.service.fulfillmentMethod.online">
                      <span class="color-gray dropdown-trigger">Online</span>
                  </ng-container>

                  <ng-container *ngIf="this.service.fulfillmentMethod.shipment">
                      <span class="color-gray dropdown-trigger">Shipment</span>
                  </ng-container>

                  <ng-container *ngIf="this.service.fulfillmentMethod.store">
                      <span class="color-gray dropdown-trigger">Store</span>
                  </ng-container>

                  <ng-container *ngIf="this.service.fulfillmentMethod.local">
                      <span class="color-gray dropdown-trigger">Local</span>
                  </ng-container>
              </a>

              <i (click)="showDropdown()" class="fa fa-caret-down pull-right color-gray dropdown-trigger" style="position:absolute; right:16px; top: 8px; font-size: 18px;"></i>


              <div *ngIf="dropdownShown" (clickOutside)="showDropdown()" [exclude]="'.dropdown-trigger'" class="dropdown-menu boxshadow-none color-bg-white padding-0" style="display: block; position:absolute; border:1px solid #e4e4e4; border-radius:5px; width:100%; top:30px; border-top-right-radius:0px; border-top-left-radius:0px;">

                  <ul class="padding-20 padding-top-15">

                      <li (click)="onDeliveryMethod('online');">
                          <p class="display-inlineBlock margin-top-5 color-gray">Online</p>
                          <input
                            type="checkbox"
                            [(ngModel)]="service.fulfillmentMethod.online"
                            class="form-control color-text-white bg-blue display-inlineBlock pull-right"
                            (ngModelChange)="validateInput()"
                            style="width:14px; height:14px; vertical-align:middle;"
                          />
                      </li>

                      <li (click)="onDeliveryMethod('shipment');">
                          <p class="display-inlineBlock margin-top-5 color-gray">Shipment</p>
                          <input
                            type="checkbox"
                            [(ngModel)]="service.fulfillmentMethod.shipment"
                            class="form-control color-text-white bg-blue display-inlineBlock pull-right"
                            style="width:14px; height:14px; vertical-align:middle;"
                            (ngModelChange)="validateInput()"
                          />
                      </li>
                      <li *ngIf="service.fulfillmentMethod.shipment" class="margin-top-4 margin-bottom-8 within-location">
                        <shipping-form
                          [validateInput]="validateInput"
                          [handleSelectClose]="preventClick"
                          [address]="service.address"
                          [parcel]="service.parcel"
                          [useSelect]="user.location && user.location.country === 'US'"
                        >
                        </shipping-form>
                      </li>

                      <li (click)="onDeliveryMethod('store');">
                          <p class="display-inlineBlock margin-top-5 color-gray">Local-at your store locations</p>
                          <input
                            type="checkbox"
                            [(ngModel)]="service.fulfillmentMethod.store"
                            class="form-control color-text-white bg-blue display-inlineBlock pull-right"
                            (ngModelChange)="validateInput()"
                            style="width:14px; height:14px; vertical-align:middle;"
                          />
                      </li>

                      <li (click)="onDeliveryMethod('local');">
                          <p class="display-inlineBlock margin-top-5 color-gray">Local-anywhere in the city you service</p>
                          <input
                            type="checkbox"
                            [(ngModel)]="service.fulfillmentMethod.local"
                            class="form-control color-text-white bg-blue display-inlineBlock pull-right"
                            (ngModelChange)="validateInput()"
                            style="width:14px; height:14px; vertical-align:middle;"
                          />
                      </li>

                      <li *ngIf="service.fulfillmentMethod.local" class="margin-top-4 margin-bottom-8 within-location">

                          <div class="display-inlineBlock" style="position:relative;">

                              <input
                                type="text"
                                [OnlyNumber]="true"
                                [(ngModel)]="service.fulfillmentMethod.localServiceRadius"
                                style="border-radius:15px; border: 1px solid #ddd; height: 30px; width: 140px;"
                                (ngModelChange)="validateInput()"
                                [textMask]="{mask: radiusMask}"
                                placeholder="0 Miles"
                                class="location-subinput boxshadow-none color-text-black font-weight-600 display-inlineBlock margin-right-10 padding-left-10 padding-right-30 font-em-11">

                              <p class="color-text-black font-weight-600 display-inlineBlock" style="position:absolute; top:5px; margin-left: -20px;">
                                <!-- <span>Miles</span> -->
                                <span class="color-gray num-buttons">
                                  <i class="fa fa-caret-up clickable num-button" (click)="changeLocalRadius('+')"></i>
                                  <i class="fa fa-caret-down clickable num-button" (click)="changeLocalRadius('-')"></i>
                                </span>
                              </p>

                          </div>

                          <p (click)="onOpenMethod();" class="color-gray display-inlineBlock within-location-text">
                            within your current location
                          </p>

                      </li>
                      <!--
                      <div class="d-flex justify-content-end">
                          <a (click)="addMethod_opened = false" class="text-uppercase margin-top-40 bg-blue color-text-white font-px-14 font-weight-600 padding-6 padding-left-20 padding-right-20"
                              style="border-radius:15px;">Accept</a>
                      </div> -->


                  </ul>

              </div>
          </li>

      </div>



    </div>
  </div>

</div>
<div class="col-xs-12 bottom-panel btn-panel">
  <p class="err-msg">{{noServices ? 'Please add at least one service to your profile' : errorMessage}}<p>
  <div class="button-wrapper row">
    <div class="col-xs-8 text-right">
      <div class="font-px-14 font-weight-600 color-darkgray text-uppercase padding-6 clickable" (click)="deleteCustomOffer()">CANCEL</div>
    </div>
    <div class="col-xs-4">
      <div
        class="blue-btn text-uppercase color-text-white font-px-14 font-weight-600 clickable padding-6"
        (click)="sendService()"
        [ngClass]="{'bg-blue': !btnDisabled, 'bg-lightgray': btnDisabled}"
        >
        SEND
      </div>
  </div>
  </div>
  <div class="button-wrapper" *ngIf="noServices">
    <div
      class="blue-btn text-uppercase bg-blue color-text-white font-px-14 font-weight-600 clickable padding-6"
      style="width: 160px; float: right; margin-top: 10px;"
      (click)="createService()"
      >
      CREATE A SERVICE
    </div>
  </div>
</div>
